{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://containeranalysis.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_containeranalysis_v1alpha1",
  "version_qualifier": "v1alpha1",
  "raw_spec": {
    "name": "containeranalysis",
    "revision": "20260812",
    "discoveryVersion": "v1",
    "baseUrl": "https://containeranalysis.googleapis.com/",
    "rootUrl": "https://containeranalysis.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AISkillAnalysisNote": {
        "type": "object",
        "format": "",
        "description": "AISkillAnalysisNote provides the metadata of an AI-based skill analysis.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AISkillAnalysisOccurrence": {
        "type": "object",
        "format": "",
        "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis.",
        "$ref": "",
        "properties": {
          "findings": {
            "type": "array",
            "format": "",
            "description": "Optional. Findings produced by the analysis.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Finding",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxSeverity": {
            "type": "string",
            "format": "",
            "description": "Optional. Maximum severity found among findings.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SEVERITY_UNSPECIFIED",
              "CRITICAL",
              "HIGH"
            ],
            "readOnly": false
          },
          "perScannerVerdict": {
            "type": "",
            "format": "",
            "description": "Optional. Per scanner verdict.",
            "$ref": "PerScannerVerdict",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "skillName": {
            "type": "string",
            "format": "",
            "description": "Optional. Name of the skill that produced this analysis.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AnalysisCompleted": {
        "type": "object",
        "format": "",
        "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
        "$ref": "",
        "properties": {
          "analysisType": {
            "type": "array",
            "format": "",
            "description": "type of analysis that were completed on a resource.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Artifact": {
        "type": "object",
        "format": "",
        "description": "Artifact describes a build product.",
        "$ref": "",
        "properties": {
          "checksum": {
            "type": "string",
            "format": "",
            "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Artifact ID, if any; for container images, this will be a URL by digest like gcr.io/projectID/imagename@sha256:123456",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Name of the artifact. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. This field is deprecated in favor of the plural `names` field; it continues to exist here to allow existing BuildProvenance serialized to json in google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes to deserialize back into proto.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "names": {
            "type": "array",
            "format": "",
            "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Assessment": {
        "type": "object",
        "format": "",
        "description": "Assessment provides all information that is related to a single vulnerability for this product.",
        "$ref": "",
        "properties": {
          "cve": {
            "type": "string",
            "format": "",
            "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "impacts": {
            "type": "array",
            "format": "",
            "description": "Contains information about the impact of this vulnerability, this will change with time.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "justification": {
            "type": "",
            "format": "",
            "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
            "$ref": "Justification",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "longDescription": {
            "type": "string",
            "format": "",
            "description": "A detailed description of this Vex.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "relatedUris": {
            "type": "array",
            "format": "",
            "description": "Holds a list of references associated with this vulnerability item and assessment. These uris have additional information about the vulnerability and the assessment itself. E.g. Link to a document which details how this assessment concluded the state of this vulnerability.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "URI",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "remediations": {
            "type": "array",
            "format": "",
            "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Remediation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "shortDescription": {
            "type": "string",
            "format": "",
            "description": "A one sentence description of this Vex.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Provides the state of this Vulnerability assessment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "AFFECTED",
              "NOT_AFFECTED",
              "FIXED",
              "UNDER_INVESTIGATION"
            ],
            "readOnly": false
          },
          "vulnerabilityId": {
            "type": "string",
            "format": "",
            "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Attestation": {
        "type": "object",
        "format": "",
        "description": "Occurrence that represents a single \"attestation\". The authenticity of an Attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the AttestationAuthority to which this Attestation is attached is primarily useful for look-up (how to find this Attestation if you already know the Authority and artifact to be verified) and intent (which authority was this attestation intended to sign for).",
        "$ref": "",
        "properties": {
          "pgpSignedAttestation": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "PgpSignedAttestation",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AttestationAuthority": {
        "type": "object",
        "format": "",
        "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
        "$ref": "",
        "properties": {
          "hint": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "AttestationAuthorityHint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AttestationAuthorityHint": {
        "type": "object",
        "format": "",
        "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify.",
        "$ref": "",
        "properties": {
          "humanReadableName": {
            "type": "string",
            "format": "",
            "description": "The human readable name of this Attestation Authority, for example \"qa\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BaseImage": {
        "type": "object",
        "format": "",
        "description": "BaseImage describes a base image of a container image.",
        "$ref": "",
        "properties": {
          "layerCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of layers that the base image is composed of.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The name of the base image.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "registry": {
            "type": "string",
            "format": "",
            "description": "The registry of the base image.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repository": {
            "type": "string",
            "format": "",
            "description": "The repository name in which the base image is from.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Basis": {
        "type": "object",
        "format": "",
        "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
        "$ref": "",
        "properties": {
          "fingerprint": {
            "type": "",
            "format": "",
            "description": "The fingerprint of the base image.",
            "$ref": "Fingerprint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resourceUrl": {
            "type": "string",
            "format": "",
            "description": "The resource_url for the resource representing the basis of associated occurrence images.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Binding": {
        "type": "object",
        "format": "",
        "description": "Associates `members`, or principals, with a `role`.",
        "$ref": "",
        "properties": {
          "condition": {
            "type": "",
            "format": "",
            "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "Expr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "members": {
            "type": "array",
            "format": "",
            "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "role": {
            "type": "string",
            "format": "",
            "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildDefinition": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "buildType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "externalParameters": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "internalParameters": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "resolvedDependencies": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ResourceDescriptor",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildDetails": {
        "type": "object",
        "format": "",
        "description": "Message encapsulating build provenance details.",
        "$ref": "",
        "properties": {
          "inTotoSlsaProvenanceV1": {
            "type": "",
            "format": "",
            "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance.",
            "$ref": "InTotoSlsaProvenanceV1",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intotoProvenance": {
            "type": "",
            "format": "",
            "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
            "$ref": "InTotoProvenance",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intotoStatement": {
            "type": "",
            "format": "",
            "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
            "$ref": "InTotoStatement",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "provenance": {
            "type": "",
            "format": "",
            "description": "The actual provenance",
            "$ref": "BuildProvenance",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "provenanceBytes": {
            "type": "string",
            "format": "",
            "description": "Serialized JSON representation of the provenance, used in generating the `BuildSignature` in the corresponding Result. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "finishedOn": {
            "type": "string",
            "format": "google-datetime",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "invocationId": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startedOn": {
            "type": "string",
            "format": "google-datetime",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildProvenance": {
        "type": "object",
        "format": "",
        "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
        "$ref": "",
        "properties": {
          "buildOptions": {
            "type": "object",
            "format": "",
            "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "builderVersion": {
            "type": "string",
            "format": "",
            "description": "Version string of the builder at the time this build was executed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "builtArtifacts": {
            "type": "array",
            "format": "",
            "description": "Output of the build.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Artifact",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "commands": {
            "type": "array",
            "format": "",
            "description": "Commands requested by the build.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Command",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Time at which the build was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "creator": {
            "type": "string",
            "format": "",
            "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "finishTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Time at which execution of the build was finished.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Unique identifier of the build.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "logsBucket": {
            "type": "string",
            "format": "",
            "description": "Google Cloud Storage bucket where logs were written.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "projectId": {
            "type": "string",
            "format": "",
            "description": "ID of the project.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceProvenance": {
            "type": "",
            "format": "",
            "description": "Details of the Source input to the build.",
            "$ref": "Source",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Time at which execution of the build was started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "triggerId": {
            "type": "string",
            "format": "",
            "description": "Trigger identifier if the build was triggered automatically; empty if not.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildSignature": {
        "type": "object",
        "format": "",
        "description": "Message encapsulating the signature of the verified build.",
        "$ref": "",
        "properties": {
          "keyId": {
            "type": "string",
            "format": "",
            "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "keyType": {
            "type": "string",
            "format": "",
            "description": "The type of the key, either stored in `public_key` or referenced in `key_id`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "KEY_TYPE_UNSPECIFIED",
              "PGP_ASCII_ARMORED",
              "PKIX_PEM"
            ],
            "readOnly": false
          },
          "publicKey": {
            "type": "string",
            "format": "",
            "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "signature": {
            "type": "string",
            "format": "",
            "description": "Signature of the related `BuildProvenance`, encoded in a base64 string.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildStep": {
        "type": "object",
        "format": "",
        "description": "A step in the build pipeline. Next ID: 23",
        "$ref": "",
        "properties": {
          "allowExitCodes": {
            "type": "array",
            "format": "",
            "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "integer",
              "format": "int32",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "allowFailure": {
            "type": "boolean",
            "format": "",
            "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "args": {
            "type": "array",
            "format": "",
            "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "automapSubstitutions": {
            "type": "boolean",
            "format": "",
            "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dir": {
            "type": "string",
            "format": "",
            "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entrypoint": {
            "type": "string",
            "format": "",
            "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "env": {
            "type": "array",
            "format": "",
            "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exitCode": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Return code from running the step.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "pullTiming": {
            "type": "",
            "format": "",
            "description": "Output only. Stores timing information for pulling this build step's builder image only.",
            "$ref": "TimeSpan",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "remoteConfig": {
            "type": "string",
            "format": "",
            "description": "Remote configuration for the build step.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "results": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "StepResult",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "script": {
            "type": "string",
            "format": "",
            "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "secretEnv": {
            "type": "array",
            "format": "",
            "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "string",
            "format": "",
            "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATUS_UNKNOWN",
              "PENDING",
              "QUEUING",
              "QUEUED",
              "WORKING",
              "SUCCESS",
              "FAILURE",
              "INTERNAL_ERROR",
              "TIMEOUT",
              "CANCELLED",
              "EXPIRED"
            ],
            "readOnly": false
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "timing": {
            "type": "",
            "format": "",
            "description": "Output only. Stores timing information for executing this build step.",
            "$ref": "TimeSpan",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "volumes": {
            "type": "array",
            "format": "",
            "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Volume",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "waitFor": {
            "type": "array",
            "format": "",
            "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildType": {
        "type": "object",
        "format": "",
        "description": "Note holding the version of the provider's builder and the signature of the provenance message in linked BuildDetails.",
        "$ref": "",
        "properties": {
          "builderVersion": {
            "type": "string",
            "format": "",
            "description": "Version of the builder which produced this Note.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "signature": {
            "type": "",
            "format": "",
            "description": "Signature of the build in Occurrences pointing to the Note containing this `BuilderDetails`.",
            "$ref": "BuildSignature",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuilderConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CISAKnownExploitedVulnerabilities": {
        "type": "object",
        "format": "",
        "description": "CISAKnownExploitedVulnerabilities provides information about whether the vulnerability is known to have been leveraged as part of a ransomware campaign.",
        "$ref": "",
        "properties": {
          "knownRansomwareCampaignUse": {
            "type": "string",
            "format": "",
            "description": "Optional. Whether the vulnerability is known to have been leveraged as part of a ransomware campaign.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CVSS": {
        "type": "object",
        "format": "",
        "description": "Common Vulnerability Scoring System. This message is compatible with CVSS v2 and v3. For CVSS v2 details, see https://www.first.org/cvss/v2/guide CVSS v2 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator For CVSS v3 details, see https://www.first.org/cvss/specification-document CVSS v3 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator For CVSS v4 details, see https://www.first.org/cvss/v4.0/user-guide CVSS v4 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v4-calculator",
        "$ref": "",
        "properties": {
          "attackComplexity": {
            "type": "string",
            "format": "",
            "description": "Optional. Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ATTACK_COMPLEXITY_UNSPECIFIED",
              "ATTACK_COMPLEXITY_LOW",
              "ATTACK_COMPLEXITY_HIGH",
              "ATTACK_COMPLEXITY_MEDIUM"
            ],
            "readOnly": false
          },
          "attackRequirements": {
            "type": "string",
            "format": "",
            "description": "Optional. Attack Requirements (AT). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ATTACK_REQUIREMENTS_UNSPECIFIED",
              "ATTACK_REQUIREMENTS_NONE",
              "ATTACK_REQUIREMENTS_PRESENT"
            ],
            "readOnly": false
          },
          "attackVector": {
            "type": "string",
            "format": "",
            "description": "Optional. Attack Vector (AV). Defined in CVSS v2, v3, v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ATTACK_VECTOR_UNSPECIFIED",
              "ATTACK_VECTOR_NETWORK",
              "ATTACK_VECTOR_ADJACENT",
              "ATTACK_VECTOR_LOCAL",
              "ATTACK_VECTOR_PHYSICAL"
            ],
            "readOnly": false
          },
          "authentication": {
            "type": "string",
            "format": "",
            "description": "Optional. Authentication (Au). Defined in CVSS v2.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AUTHENTICATION_UNSPECIFIED",
              "AUTHENTICATION_MULTIPLE",
              "AUTHENTICATION_SINGLE",
              "AUTHENTICATION_NONE"
            ],
            "readOnly": false
          },
          "availabilityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Availability Impact (A). Defined in CVSS v2, v3.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "baseScore": {
            "type": "number",
            "format": "float",
            "description": "Optional. The base score is a function of the base metric scores.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "confidentialityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Confidentiality Impact (C). Defined in CVSS v2, v3.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "exploitMaturity": {
            "type": "string",
            "format": "",
            "description": "Optional. Exploit Maturity (E). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "EXPLOIT_MATURITY_UNSPECIFIED",
              "EXPLOIT_MATURITY_NOT_DEFINED",
              "EXPLOIT_MATURITY_ATTACKED",
              "EXPLOIT_MATURITY_POC",
              "EXPLOIT_MATURITY_UNREPORTED"
            ],
            "readOnly": false
          },
          "exploitabilityScore": {
            "type": "number",
            "format": "float",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "impactScore": {
            "type": "number",
            "format": "float",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "integrityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Integrity Impact (I). Defined in CVSS v2, v3.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "privilegesRequired": {
            "type": "string",
            "format": "",
            "description": "Optional. Privileges Required (PR). Defined in CVSS v3, v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "PRIVILEGES_REQUIRED_UNSPECIFIED",
              "PRIVILEGES_REQUIRED_NONE",
              "PRIVILEGES_REQUIRED_LOW",
              "PRIVILEGES_REQUIRED_HIGH"
            ],
            "readOnly": false
          },
          "scope": {
            "type": "string",
            "format": "",
            "description": "Optional. Scope (S). Defined in CVSS v3.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SCOPE_UNSPECIFIED",
              "SCOPE_UNCHANGED",
              "SCOPE_CHANGED"
            ],
            "readOnly": false
          },
          "subsequentSystemAvailabilityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Subsequent System Availability Impact (SA). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "subsequentSystemConfidentialityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "subsequentSystemIntegrityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "userInteraction": {
            "type": "string",
            "format": "",
            "description": "Optional. User Interaction (UI). Defined in CVSS v3, v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "USER_INTERACTION_UNSPECIFIED",
              "USER_INTERACTION_NONE",
              "USER_INTERACTION_REQUIRED",
              "USER_INTERACTION_PASSIVE",
              "USER_INTERACTION_ACTIVE"
            ],
            "readOnly": false
          },
          "vulnerableSystemAvailabilityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "vulnerableSystemConfidentialityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          },
          "vulnerableSystemIntegrityImpact": {
            "type": "string",
            "format": "",
            "description": "Optional. Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE",
              "IMPACT_PARTIAL",
              "IMPACT_COMPLETE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CisBenchmark": {
        "type": "object",
        "format": "",
        "description": "A compliance check that is a CIS benchmark.",
        "$ref": "",
        "properties": {
          "profileLevel": {
            "type": "integer",
            "format": "int32",
            "description": "The profile level of this CIS benchmark check.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "severity": {
            "type": "string",
            "format": "",
            "description": "The severity level of this CIS benchmark check.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SEVERITY_UNSPECIFIED",
              "MINIMAL",
              "LOW",
              "MEDIUM",
              "HIGH",
              "CRITICAL"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Command": {
        "type": "object",
        "format": "",
        "description": "Command describes a step performed as part of the build pipeline.",
        "$ref": "",
        "properties": {
          "args": {
            "type": "array",
            "format": "",
            "description": "Command-line arguments used when executing this Command.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dir": {
            "type": "string",
            "format": "",
            "description": "Working directory (relative to project source root) used when running this Command.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "env": {
            "type": "array",
            "format": "",
            "description": "Environment variables set before running this Command.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "waitFor": {
            "type": "array",
            "format": "",
            "description": "The ID(s) of the Command(s) that this Command depends on.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Completeness": {
        "type": "object",
        "format": "",
        "description": "Indicates that the builder claims certain fields in this message to be complete.",
        "$ref": "",
        "properties": {
          "arguments": {
            "type": "boolean",
            "format": "",
            "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "environment": {
            "type": "boolean",
            "format": "",
            "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "materials": {
            "type": "boolean",
            "format": "",
            "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ComplianceNote": {
        "type": "object",
        "format": "",
        "description": "ComplianceNote encapsulates all information about a specific compliance check.",
        "$ref": "",
        "properties": {
          "cisBenchmark": {
            "type": "",
            "format": "",
            "description": "Right now we only have one compliance type, but we may add additional types in the future.",
            "$ref": "CisBenchmark",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "A description about this compliance check.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "impact": {
            "type": "string",
            "format": "",
            "description": "Potential impact of the suggested remediation",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rationale": {
            "type": "string",
            "format": "",
            "description": "A rationale for the existence of this compliance check.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "remediation": {
            "type": "string",
            "format": "",
            "description": "A description of remediation steps if the compliance check fails.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scanInstructions": {
            "type": "string",
            "format": "byte",
            "description": "Serialized scan instructions with a predefined format.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "title": {
            "type": "string",
            "format": "",
            "description": "The title that identifies this compliance check.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "array",
            "format": "",
            "description": "The OS and config versions the benchmark applies to.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ComplianceVersion",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ComplianceOccurrence": {
        "type": "object",
        "format": "",
        "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
        "$ref": "",
        "properties": {
          "nonComplianceReason": {
            "type": "string",
            "format": "",
            "description": "The reason for non compliance of these files.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nonCompliantFiles": {
            "type": "array",
            "format": "",
            "description": "A list of files which are violating compliance checks.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "NonCompliantFile",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "",
            "format": "",
            "description": "The OS and config version the benchmark was run on.",
            "$ref": "ComplianceVersion",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ComplianceVersion": {
        "type": "object",
        "format": "",
        "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
        "$ref": "",
        "properties": {
          "benchmarkDocument": {
            "type": "string",
            "format": "",
            "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "cpeUri": {
            "type": "string",
            "format": "",
            "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
        "type": "object",
        "format": "",
        "description": "ApprovalConfig describes configuration for manual approval of a build.",
        "$ref": "",
        "properties": {
          "approvalRequired": {
            "type": "boolean",
            "format": "",
            "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
        "type": "object",
        "format": "",
        "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
        "$ref": "",
        "properties": {
          "approvalTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the approval decision was made.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "approverAccount": {
            "type": "string",
            "format": "",
            "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "comment": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional comment for this manual approval result.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "decision": {
            "type": "string",
            "format": "",
            "description": "Required. The decision of this manual approval.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DECISION_UNSPECIFIED",
              "APPROVED",
              "REJECTED"
            ],
            "readOnly": false
          },
          "url": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
        "type": "object",
        "format": "",
        "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
        "$ref": "",
        "properties": {
          "genericArtifacts": {
            "type": "array",
            "format": "",
            "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "goModules": {
            "type": "array",
            "format": "",
            "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "images": {
            "type": "array",
            "format": "",
            "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mavenArtifacts": {
            "type": "array",
            "format": "",
            "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "npmPackages": {
            "type": "array",
            "format": "",
            "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "objects": {
            "type": "",
            "format": "",
            "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oci": {
            "type": "array",
            "format": "",
            "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "pythonPackages": {
            "type": "array",
            "format": "",
            "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects": {
        "type": "object",
        "format": "",
        "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
        "$ref": "",
        "properties": {
          "location": {
            "type": "string",
            "format": "",
            "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "paths": {
            "type": "array",
            "format": "",
            "description": "Path globs used to match files in the build's workspace.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "timing": {
            "type": "",
            "format": "",
            "description": "Output only. Stores timing information for pushing all artifact objects.",
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
        "type": "object",
        "format": "",
        "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
        "$ref": "",
        "properties": {
          "folder": {
            "type": "string",
            "format": "",
            "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "registryPath": {
            "type": "string",
            "format": "",
            "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule": {
        "type": "object",
        "format": "",
        "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
        "$ref": "",
        "properties": {
          "modulePath": {
            "type": "string",
            "format": "",
            "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "moduleVersion": {
            "type": "string",
            "format": "",
            "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repositoryLocation": {
            "type": "string",
            "format": "",
            "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repositoryName": {
            "type": "string",
            "format": "",
            "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repositoryProjectId": {
            "type": "string",
            "format": "",
            "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourcePath": {
            "type": "string",
            "format": "",
            "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact": {
        "type": "object",
        "format": "",
        "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
        "$ref": "",
        "properties": {
          "artifactId": {
            "type": "string",
            "format": "",
            "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "deployFolder": {
            "type": "string",
            "format": "",
            "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "groupId": {
            "type": "string",
            "format": "",
[...]
