{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://iam.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_iam_v2beta",
  "version_qualifier": "v2beta",
  "raw_spec": {
    "name": "iam",
    "revision": "20260821",
    "discoveryVersion": "v1",
    "baseUrl": "https://iam.googleapis.com/",
    "rootUrl": "https://iam.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "CloudControl2SharedOperationsReconciliationOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Operation metadata returned by the CLH during resource state reconciliation.",
        "$ref": "",
        "properties": {
          "deleteResource": {
            "type": "boolean",
            "format": "",
            "description": "DEPRECATED. Use exclusive_action instead.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exclusiveAction": {
            "type": "string",
            "format": "",
            "description": "Excluisive action returned by the CLH.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNKNOWN_REPAIR_ACTION",
              "DELETE",
              "RETRY"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudCommonOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "cancelRequested": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusDetail": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamAdminV1AuditData": {
        "type": "object",
        "format": "",
        "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
        "$ref": "",
        "properties": {
          "permissionDelta": {
            "type": "",
            "format": "",
            "description": "The permission_delta when when creating or updating a Role.",
            "$ref": "GoogleIamAdminV1AuditDataPermissionDelta",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamAdminV1AuditDataPermissionDelta": {
        "type": "object",
        "format": "",
        "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
        "$ref": "",
        "properties": {
          "addedPermissions": {
            "type": "array",
            "format": "",
            "description": "Added permissions.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "removedPermissions": {
            "type": "array",
            "format": "",
            "description": "Removed permissions.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV1BindingDelta": {
        "type": "object",
        "format": "",
        "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
        "$ref": "",
        "properties": {
          "action": {
            "type": "string",
            "format": "",
            "description": "The action that was performed on a Binding. Required",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ACTION_UNSPECIFIED",
              "ADD",
              "REMOVE"
            ],
            "readOnly": false
          },
          "condition": {
            "type": "",
            "format": "",
            "description": "The condition that is associated with this binding.",
            "$ref": "GoogleTypeExpr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "member": {
            "type": "string",
            "format": "",
            "description": "A single identity requesting access for a Google Cloud resource. Follows the same format of Binding.members. Required",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "role": {
            "type": "string",
            "format": "",
            "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV1LoggingAuditData": {
        "type": "object",
        "format": "",
        "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
        "$ref": "",
        "properties": {
          "policyDelta": {
            "type": "",
            "format": "",
            "description": "Policy delta between the original policy and the newly set policy.",
            "$ref": "GoogleIamV1PolicyDelta",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV1PolicyDelta": {
        "type": "object",
        "format": "",
        "description": "The difference delta between two policies.",
        "$ref": "",
        "properties": {
          "bindingDeltas": {
            "type": "array",
            "format": "",
            "description": "The delta for Bindings between two policies.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleIamV1BindingDelta",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV1betaWorkloadIdentityPoolOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for long-running WorkloadIdentityPool operations.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV2betaDenyRule": {
        "type": "object",
        "format": "",
        "description": "A deny rule in an IAM deny policy.",
        "$ref": "",
        "properties": {
          "denialCondition": {
            "type": "",
            "format": "",
            "description": "The condition that determines whether this deny rule applies to a request. If the condition expression evaluates to `true`, then the deny rule is applied; otherwise, the deny rule is not applied. Each deny rule is evaluated independently. If this deny rule does not apply to a request, other deny rules might still apply. The condition can use CEL functions that evaluate [resource tags](https://cloud.google.com/iam/help/conditions/resource-tags). Other functions and operators are not supported.",
            "$ref": "GoogleTypeExpr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "deniedPermissions": {
            "type": "array",
            "format": "",
            "description": "The permissions that are explicitly denied by this rule. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. For example, `iam.googleapis.com/roles.list`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "deniedPrincipals": {
            "type": "array",
            "format": "",
            "description": " The identities that are prevented from using one or more permissions on Google Cloud resources. This field can contain the following values: * `principal://goog/subject/{email_id}`: A specific Google Account. Includes Gmail, Cloud Identity, and Google Workspace user accounts. For example, `principal://goog/subject/alice@example.com`. * `principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}`: A Google Cloud service account. For example, `principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com`. * `principalSet://goog/group/{group_id}`: A Google group. For example, `principalSet://goog/group/admins@example.com`. * `principalSet://goog/public:all`: A special identifier that represents any principal that is on the internet, even if they do not have a Google Account or are not logged in. * `principalSet://goog/cloudIdentityCustomerId/{customer_id}`: All of the principals associated with the specified Google Workspace or Cloud Identity customer ID. For example, `principalSet://goog/cloudIdentityCustomerId/C01Abc35`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAccount`: All service accounts grouped under a resource (project, folder, or organization). * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAgent`: All service agents grouped under a resource (project, folder, or organization). * `deleted:principal://goog/subject/{email_id}?uid={uid}`: A specific Google Account that was deleted recently. For example, `deleted:principal://goog/subject/alice@example.com?uid=1234567890`. If the Google Account is recovered, this identifier reverts to the standard identifier for a Google Account. * `deleted:principalSet://goog/group/{group_id}?uid={uid}`: A Google group that was deleted recently. For example, `deleted:principalSet://goog/group/admins@example.com?uid=1234567890`. If the Google group is restored, this identifier reverts to the standard identifier for a Google group. * `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}?uid={uid}`: A Google Cloud service account that was deleted recently. For example, `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com?uid=1234567890`. If the service account is undeleted, this identifier reverts to the standard identifier for a service account. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exceptionPermissions": {
            "type": "array",
            "format": "",
            "description": "Specifies the permissions that this rule excludes from the set of denied permissions given by `denied_permissions`. If a permission appears in `denied_permissions` _and_ in `exception_permissions` then it will _not_ be denied. The excluded permissions can be specified using the same syntax as `denied_permissions`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exceptionPrincipals": {
            "type": "array",
            "format": "",
            "description": "The identities that are excluded from the deny rule, even if they are listed in the `denied_principals`. For example, you could add a Google group to the `denied_principals`, then exclude specific users who belong to that group. This field can contain the same values as the `denied_principals` field, excluding `principalSet://goog/public:all`, which represents all users on the internet.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV2betaListPoliciesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `ListPolicies`.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A page token that you can use in a ListPoliciesRequest to retrieve the next page. If this field is omitted, there are no additional pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "policies": {
            "type": "array",
            "format": "",
            "description": "Metadata for the policies that are attached to the resource.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleIamV2betaPolicy",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV2betaPolicy": {
        "type": "object",
        "format": "",
        "description": "Data for an IAM policy.",
        "$ref": "",
        "properties": {
          "annotations": {
            "type": "object",
            "format": "",
            "description": "A key-value map to store arbitrary metadata for the `Policy`. Keys can be up to 63 characters. Values can be up to 255 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the `Policy` was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deleteTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the `Policy` was deleted. Empty if the policy is not deleted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "A user-specified description of the `Policy`. This value can be up to 63 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "",
            "description": "An opaque tag that identifies the current version of the `Policy`. IAM uses this value to help manage concurrent updates, so they do not cause one update to be overwritten by another. If this field is present in a CreatePolicyRequest, the value is ignored.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "kind": {
            "type": "string",
            "format": "",
            "description": "Output only. The kind of the `Policy`. Always contains the value `DenyPolicy`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. The resource name of the `Policy`, which must be unique. Format: `policies/{attachment_point}/denypolicies/{policy_id}` The attachment point is identified by its URL-encoded full resource name, which means that the forward-slash character, `/`, must be written as `%2F`. For example, `policies/cloudresourcemanager.googleapis.com%2Fprojects%2Fmy-project/denypolicies/my-deny-policy`. For organizations and folders, use the numeric ID in the full resource name. For projects, requests can use the alphanumeric or the numeric ID. Responses always contain the numeric ID.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rules": {
            "type": "array",
            "format": "",
            "description": "A list of rules that specify the behavior of the `Policy`. All of the rules should be of the `kind` specified in the `Policy`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleIamV2betaPolicyRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "uid": {
            "type": "string",
            "format": "",
            "description": "Immutable. The globally unique ID of the `Policy`. Assigned automatically when the `Policy` is created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the `Policy` was last updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV2betaPolicyOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for long-running `Policy` operations.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Timestamp when the `google.longrunning.Operation` was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV2betaPolicyRule": {
        "type": "object",
        "format": "",
        "description": "A single rule in a `Policy`.",
        "$ref": "",
        "properties": {
          "denyRule": {
            "type": "",
            "format": "",
            "description": "A rule for a deny policy.",
            "$ref": "GoogleIamV2betaDenyRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "A user-specified description of the rule. This value can be up to 256 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV3OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV3alphaOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV3betaOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleIamV3mainOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleLongrunningOperation": {
        "type": "object",
        "format": "",
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "$ref": "",
        "properties": {
          "done": {
            "type": "boolean",
            "format": "",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "error": {
            "type": "",
            "format": "",
            "description": "The error result of the operation in case of failure or cancellation.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "response": {
            "type": "object",
            "format": "",
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleRpcStatus": {
        "type": "object",
        "format": "",
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "$ref": "",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "details": {
            "type": "array",
            "format": "",
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "object",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": {
                "type": "any",
                "format": "",
                "description": "Properties of the object. Contains field @type with type URL.",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleTypeExpr": {
        "type": "object",
        "format": "",
        "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' \u0026\u0026 document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "expression": {
            "type": "string",
            "format": "",
            "description": "Textual representation of an expression in Common Expression Language syntax.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "title": {
            "type": "string",
            "format": "",
            "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "policies": {
        "methods": {
          "createPolicy": {
            "id": "iam.policies.createPolicy",
            "httpMethod": "POST",
            "path": "v2beta/{+parent}",
            "flatPath": "v2beta/policies/{policiesId}/{policiesId1}",
            "description": "Creates a policy.",
            "parameters": {
              "parent": {
                "type": "string",
                "location": "path",
                "required": true
              },
              "policyId": {
                "type": "string",
                "location": "query",
                "required": false
              }
            },
            "parameterOrder": [
              "parent"
            ],
            "request": {
              "$ref": "GoogleIamV2betaPolicy"
            },
            "response": {
              "$ref": "GoogleLongrunningOperation"
            }
          },
          "delete": {
            "id": "iam.policies.delete",
            "httpMethod": "DELETE",
            "path": "v2beta/{+name}",
            "flatPath": "v2beta/policies/{policiesId}/{policiesId1}/{policiesId2}",
            "description": "Deletes a policy. This action is permanent.",
            "parameters": {
              "etag": {
                "type": "string",
                "location": "query",
                "required": false
              },
              "name": {
                "type": "string",
                "location": "path",
                "required": true
              }
            },
            "parameterOrder": [
              "name"
            ],
            "request": null,
            "response": {
              "$ref": "GoogleLongrunningOperation"
            }
          },
          "get": {
            "id": "iam.policies.get",
            "httpMethod": "GET",
            "path": "v2beta/{+name}",
            "flatPath": "v2beta/policies/{policiesId}/{policiesId1}/{policiesId2}",
            "description": "Gets a policy.",
            "parameters": {
              "name": {
                "type": "string",
                "location": "path",
                "required": true
              }
            },
            "parameterOrder": [
              "name"
            ],
            "request": null,
            "response": {
              "$ref": "GoogleIamV2betaPolicy"
            }
          },
          "listPolicies": {
            "id": "iam.policies.listPolicies",
            "httpMethod": "GET",
            "path": "v2beta/{+parent}",
            "flatPath": "v2beta/policies/{policiesId}/{policiesId1}",
            "description": "Retrieves the policies of the specified kind that are attached to a resource. The response lists only policy metadata. In particular, policy rules are omitted.",
            "parameters": {
              "pageSize": {
                "type": "integer",
                "location": "query",
                "required": false
              },
              "pageToken": {
                "type": "string",
                "location": "query",
                "required": false
              },
              "parent": {
                "type": "string",
                "location": "path",
                "required": true
              }
            },
            "parameterOrder": [
              "parent"
            ],
            "request": null,
            "response": {
              "$ref": "GoogleIamV2betaListPoliciesResponse"
            }
          },
          "update": {
            "id": "iam.policies.update",
            "httpMethod": "PUT",
            "path": "v2beta/{+name}",
            "flatPath": "v2beta/policies/{policiesId}/{policiesId1}/{policiesId2}",
            "description": "Updates the specified policy. You can update only the rules and the display name for the policy. To update a policy, you should use a read-modify-write loop: 1. Use GetPolicy to read the current version of the policy. 2. Modify the policy as needed. 3. Use `UpdatePolicy` to write the updated policy. This pattern helps prevent conflicts between concurrent updates.",
            "parameters": {
              "name": {
                "type": "string",
                "location": "path",
                "required": true
              }
            },
            "parameterOrder": [
              "name"
            ],
            "request": {
              "$ref": "GoogleIamV2betaPolicy"
            },
            "response": {
              "$ref": "GoogleLongrunningOperation"
            }
          }
        },
        "resources": {
          "operations": {
            "methods": {
              "get": {
                "id": "iam.policies.operations.get",
                "httpMethod": "GET",
                "path": "v2beta/{+name}",
                "flatPath": "v2beta/policies/{policiesId}/{policiesId1}/{policiesId2}/operations/{operationsId}",
                "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "GoogleLongrunningOperation"
                }
              }
            },
            "resources": null
          }
        }
      }
    }
  },
  "schema_url": "https://iam.googleapis.com/$discovery/rest?version=v2beta"
}
