{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://appengine.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_appengine_v1beta",
  "version_qualifier": "v1beta",
  "raw_spec": {
    "name": "appengine",
    "revision": "20260801",
    "discoveryVersion": "v1",
    "baseUrl": "https://appengine.googleapis.com/",
    "rootUrl": "https://appengine.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "ApiConfigHandler": {
        "type": "object",
        "format": "",
        "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers.",
        "$ref": "",
        "properties": {
          "authFailAction": {
            "type": "string",
            "format": "",
            "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AUTH_FAIL_ACTION_UNSPECIFIED",
              "AUTH_FAIL_ACTION_REDIRECT",
              "AUTH_FAIL_ACTION_UNAUTHORIZED"
            ],
            "readOnly": false
          },
          "login": {
            "type": "string",
            "format": "",
            "description": "Level of login required to access this resource. Defaults to optional.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "LOGIN_UNSPECIFIED",
              "LOGIN_OPTIONAL",
              "LOGIN_ADMIN",
              "LOGIN_REQUIRED"
            ],
            "readOnly": false
          },
          "script": {
            "type": "string",
            "format": "",
            "description": "Path to the script from the application root directory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "securityLevel": {
            "type": "string",
            "format": "",
            "description": "Security (HTTPS) enforcement for this URL.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SECURE_UNSPECIFIED",
              "SECURE_DEFAULT",
              "SECURE_NEVER",
              "SECURE_OPTIONAL",
              "SECURE_ALWAYS"
            ],
            "readOnly": false
          },
          "url": {
            "type": "string",
            "format": "",
            "description": "URL to serve the endpoint at.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ApiEndpointHandler": {
        "type": "object",
        "format": "",
        "description": "Uses Google Cloud Endpoints to handle requests.",
        "$ref": "",
        "properties": {
          "scriptPath": {
            "type": "string",
            "format": "",
            "description": "Path to the script from the application root directory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Application": {
        "type": "object",
        "format": "",
        "description": "An Application resource contains the top-level configuration of an App Engine application.",
        "$ref": "",
        "properties": {
          "authDomain": {
            "type": "string",
            "format": "",
            "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "codeBucket": {
            "type": "string",
            "format": "",
            "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "databaseType": {
            "type": "string",
            "format": "",
            "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATABASE_TYPE_UNSPECIFIED",
              "CLOUD_DATASTORE",
              "CLOUD_FIRESTORE",
              "CLOUD_DATASTORE_COMPATIBILITY"
            ],
            "readOnly": false
          },
          "defaultBucket": {
            "type": "string",
            "format": "",
            "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "defaultCookieExpiration": {
            "type": "string",
            "format": "google-duration",
            "description": "Cookie expiration policy for this application.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultHostname": {
            "type": "string",
            "format": "",
            "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "dispatchRules": {
            "type": "array",
            "format": "",
            "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "UrlDispatchRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "featureSettings": {
            "type": "",
            "format": "",
            "description": "The feature specific settings to be used in the application.",
            "$ref": "FeatureSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcrDomain": {
            "type": "string",
            "format": "",
            "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "generatedCustomerMetadata": {
            "type": "object",
            "format": "",
            "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "iap": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "IdentityAwareProxy",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "locationId": {
            "type": "string",
            "format": "",
            "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "serviceAccount": {
            "type": "string",
            "format": "",
            "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "servingStatus": {
            "type": "string",
            "format": "",
            "description": "Serving status of this application.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNSPECIFIED",
              "SERVING",
              "USER_DISABLED",
              "SYSTEM_DISABLED"
            ],
            "readOnly": false
          },
          "sslPolicy": {
            "type": "string",
            "format": "",
            "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS \u003c 1.2 and allow only Modern Ciphers suite",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SSL_POLICY_UNSPECIFIED",
              "DEFAULT",
              "MODERN"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuthorizedCertificate": {
        "type": "object",
        "format": "",
        "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
        "$ref": "",
        "properties": {
          "certificateRawData": {
            "type": "",
            "format": "",
            "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
            "$ref": "CertificateRawData",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "domainMappingsCount": {
            "type": "integer",
            "format": "int32",
            "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "domainNames": {
            "type": "array",
            "format": "",
            "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "managedCertificate": {
            "type": "",
            "format": "",
            "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
            "$ref": "ManagedCertificate",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "visibleDomainMappings": {
            "type": "array",
            "format": "",
            "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuthorizedDomain": {
        "type": "object",
        "format": "",
        "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
        "$ref": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "",
            "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AutomaticScaling": {
        "type": "object",
        "format": "",
        "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
        "$ref": "",
        "properties": {
          "coolDownPeriod": {
            "type": "string",
            "format": "google-duration",
            "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "cpuUtilization": {
            "type": "",
            "format": "",
            "description": "Target scaling by CPU usage.",
            "$ref": "CpuUtilization",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "customMetrics": {
            "type": "array",
            "format": "",
            "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CustomMetric",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "diskUtilization": {
            "type": "",
            "format": "",
            "description": "Target scaling by disk usage.",
            "$ref": "DiskUtilization",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxConcurrentRequests": {
            "type": "integer",
            "format": "int32",
            "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxIdleInstances": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of idle instances that should be maintained for this version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxPendingLatency": {
            "type": "string",
            "format": "google-duration",
            "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxTotalInstances": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of instances that should be started to handle requests for this version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minIdleInstances": {
            "type": "integer",
            "format": "int32",
            "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minPendingLatency": {
            "type": "string",
            "format": "google-duration",
            "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minTotalInstances": {
            "type": "integer",
            "format": "int32",
            "description": "Minimum number of running instances that should be maintained for this version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "networkUtilization": {
            "type": "",
            "format": "",
            "description": "Target scaling by network usage.",
            "$ref": "NetworkUtilization",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestUtilization": {
            "type": "",
            "format": "",
            "description": "Target scaling by request utilization.",
            "$ref": "RequestUtilization",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "standardSchedulerSettings": {
            "type": "",
            "format": "",
            "description": "Scheduler settings for standard environment.",
            "$ref": "StandardSchedulerSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BasicScaling": {
        "type": "object",
        "format": "",
        "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
        "$ref": "",
        "properties": {
          "idleTimeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxInstances": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of instances to create for this version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BatchUpdateIngressRulesRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for Firewall.BatchUpdateIngressRules.",
        "$ref": "",
        "properties": {
          "ingressRules": {
            "type": "array",
            "format": "",
            "description": "A list of FirewallRules to replace the existing set.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FirewallRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BatchUpdateIngressRulesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Firewall.UpdateAllIngressRules.",
        "$ref": "",
        "properties": {
          "ingressRules": {
            "type": "array",
            "format": "",
            "description": "The full list of ingress FirewallRules for this application.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FirewallRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BuildInfo": {
        "type": "object",
        "format": "",
        "description": "Google Cloud Build information.",
        "$ref": "",
        "properties": {
          "cloudBuildId": {
            "type": "string",
            "format": "",
            "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CertificateRawData": {
        "type": "object",
        "format": "",
        "description": "An SSL certificate obtained from a certificate authority.",
        "$ref": "",
        "properties": {
          "privateKey": {
            "type": "string",
            "format": "",
            "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "publicCertificate": {
            "type": "string",
            "format": "",
            "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudBuildOptions": {
        "type": "object",
        "format": "",
        "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
        "$ref": "",
        "properties": {
          "appYamlPath": {
            "type": "string",
            "format": "",
            "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "cloudBuildTimeout": {
            "type": "string",
            "format": "google-duration",
            "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContainerInfo": {
        "type": "object",
        "format": "",
        "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
        "$ref": "",
        "properties": {
          "image": {
            "type": "string",
            "format": "",
            "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ContainerState": {
        "type": "object",
        "format": "",
        "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
        "$ref": "",
        "properties": {
          "currentReasons": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "Reasons",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "previousReasons": {
            "type": "",
            "format": "",
            "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
            "$ref": "Reasons",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNKNOWN_STATE",
              "ON",
              "OFF",
              "DELETED"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CpuUtilization": {
        "type": "object",
        "format": "",
        "description": "Target scaling by CPU usage.",
        "$ref": "",
        "properties": {
          "aggregationWindowLength": {
            "type": "string",
            "format": "google-duration",
            "description": "Period of time over which CPU utilization is calculated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetUtilization": {
            "type": "number",
            "format": "double",
            "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CreateVersionMetadataV1": {
        "type": "object",
        "format": "",
        "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
        "$ref": "",
        "properties": {
          "cloudBuildId": {
            "type": "string",
            "format": "",
            "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CreateVersionMetadataV1Alpha": {
        "type": "object",
        "format": "",
        "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
        "$ref": "",
        "properties": {
          "cloudBuildId": {
            "type": "string",
            "format": "",
            "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CreateVersionMetadataV1Beta": {
        "type": "object",
        "format": "",
        "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
        "$ref": "",
        "properties": {
          "cloudBuildId": {
            "type": "string",
            "format": "",
            "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CustomMetric": {
        "type": "object",
        "format": "",
        "description": "Allows autoscaling based on Stackdriver metrics.",
        "$ref": "",
        "properties": {
          "filter": {
            "type": "string",
            "format": "",
            "description": "Allows filtering on the metric's fields.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metricName": {
            "type": "string",
            "format": "",
            "description": "The name of the metric.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "singleInstanceAssignment": {
            "type": "number",
            "format": "double",
            "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetType": {
            "type": "string",
            "format": "",
            "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetUtilization": {
            "type": "number",
            "format": "double",
            "description": "The target value for the metric.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Date": {
        "type": "object",
        "format": "",
        "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
        "$ref": "",
        "properties": {
          "day": {
            "type": "integer",
            "format": "int32",
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "month": {
            "type": "integer",
            "format": "int32",
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DebugInstanceRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for Instances.DebugInstance.",
        "$ref": "",
        "properties": {
          "sshKey": {
            "type": "string",
            "format": "",
            "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Deployment": {
        "type": "object",
        "format": "",
        "description": "Code and application artifacts used to deploy a version to App Engine.",
        "$ref": "",
        "properties": {
          "build": {
            "type": "",
            "format": "",
            "description": "Google Cloud Build build information. Only applicable for instances running in the App Engine flexible environment.",
            "$ref": "BuildInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "cloudBuildOptions": {
            "type": "",
            "format": "",
            "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
            "$ref": "CloudBuildOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "container": {
            "type": "",
            "format": "",
            "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
            "$ref": "ContainerInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "files": {
            "type": "object",
            "format": "",
            "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FileInfo",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "zip": {
            "type": "",
            "format": "",
            "description": "The zip file for this deployment, if this is a zip deployment.",
            "$ref": "ZipInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DiskUtilization": {
        "type": "object",
        "format": "",
        "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
        "$ref": "",
        "properties": {
          "targetReadBytesPerSecond": {
            "type": "integer",
            "format": "int32",
            "description": "Target bytes read per second.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetReadOpsPerSecond": {
            "type": "integer",
            "format": "int32",
            "description": "Target ops read per seconds.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetWriteBytesPerSecond": {
            "type": "integer",
            "format": "int32",
            "description": "Target bytes written per second.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetWriteOpsPerSecond": {
            "type": "integer",
            "format": "int32",
            "description": "Target ops written per second.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DomainMapping": {
        "type": "object",
        "format": "",
        "description": "A domain serving an App Engine application.",
        "$ref": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "",
            "description": "Relative name of the domain serving the application. Example: example.com.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "resourceRecords": {
            "type": "array",
            "format": "",
            "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ResourceRecord",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "sslSettings": {
            "type": "",
            "format": "",
            "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
            "$ref": "SslSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "EndpointsApiService": {
        "type": "object",
        "format": "",
        "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
        "$ref": "",
        "properties": {
          "configId": {
            "type": "string",
            "format": "",
            "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "disableTraceSampling": {
            "type": "boolean",
            "format": "",
            "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutStrategy": {
            "type": "string",
            "format": "",
            "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNSPECIFIED_ROLLOUT_STRATEGY",
              "FIXED",
              "MANAGED"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Entrypoint": {
        "type": "object",
        "format": "",
        "description": "The entrypoint for the application.",
        "$ref": "",
        "properties": {
          "shell": {
            "type": "string",
            "format": "",
            "description": "The format should be a shell command that can be fed to bash -c.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ErrorHandler": {
        "type": "object",
        "format": "",
        "description": "Custom static error page to be served when an error occurs.",
        "$ref": "",
        "properties": {
          "errorCode": {
            "type": "string",
            "format": "",
            "description": "Error condition this handler applies to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ERROR_CODE_UNSPECIFIED",
              "ERROR_CODE_DEFAULT",
              "ERROR_CODE_OVER_QUOTA",
              "ERROR_CODE_DOS_API_DENIAL",
              "ERROR_CODE_TIMEOUT"
            ],
            "readOnly": false
          },
          "mimeType": {
            "type": "string",
            "format": "",
            "description": "MIME type of file. Defaults to text/html.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "staticFile": {
            "type": "string",
            "format": "",
            "description": "Static file content to be served for this error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ExportAppImageRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for Versions.ExportAppImage.",
        "$ref": "",
        "properties": {
          "destinationRepository": {
            "type": "string",
            "format": "",
            "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FeatureSettings": {
        "type": "object",
        "format": "",
        "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
        "$ref": "",
        "properties": {
          "splitHealthChecks": {
            "type": "boolean",
            "format": "",
            "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "useContainerOptimizedOs": {
            "type": "boolean",
            "format": "",
            "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FileInfo": {
        "type": "object",
        "format": "",
        "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
        "$ref": "",
        "properties": {
          "mimeType": {
            "type": "string",
            "format": "",
            "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sha1Sum": {
            "type": "string",
            "format": "",
            "description": "The SHA1 hash of the file, in hex.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceUrl": {
            "type": "string",
            "format": "",
            "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FirewallRule": {
        "type": "object",
        "format": "",
        "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
        "$ref": "",
        "properties": {
          "action": {
            "type": "string",
            "format": "",
            "description": "The action to take on matched requests.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNSPECIFIED_ACTION",
              "ALLOW",
              "DENY"
            ],
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "An optional string description of this rule. This field has a maximum length of 400 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceRange": {
            "type": "string",
            "format": "",
            "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FlexibleRuntimeSettings": {
        "type": "object",
        "format": "",
        "description": "Runtime settings for the App Engine flexible environment.",
        "$ref": "",
        "properties": {
          "operatingSystem": {
            "type": "string",
            "format": "",
            "description": "The operating system of the application runtime.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "runtimeVersion": {
            "type": "string",
            "format": "",
            "description": "The runtime version of an App Engine flexible application.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GceTag": {
        "type": "object",
        "format": "",
        "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
        "$ref": "",
        "properties": {
          "parent": {
            "type": "array",
            "format": "",
            "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tag": {
            "type": "string",
            "format": "",
            "description": "The administrative_tag name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleAppengineV1betaLocationMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for the given google.cloud.location.Location.",
        "$ref": "",
        "properties": {
          "flexibleEnvironmentAvailable": {
            "type": "boolean",
            "format": "",
            "description": "App Engine flexible environment is available in the given location.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "searchApiAvailable": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "standardEnvironmentAvailable": {
            "type": "boolean",
            "format": "",
            "description": "App Engine standard environment is available in the given location.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "HealthCheck": {
        "type": "object",
        "format": "",
        "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
        "$ref": "",
        "properties": {
          "checkInterval": {
            "type": "string",
            "format": "google-duration",
            "description": "Interval between health checks.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "disableHealthCheck": {
            "type": "boolean",
            "format": "",
            "description": "Whether to explicitly disable health checks for this instance.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "healthyThreshold": {
            "type": "integer",
            "format": "uint32",
            "description": "Number of consecutive successful health checks required before receiving traffic.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "host": {
            "type": "string",
            "format": "",
            "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "restartThreshold": {
            "type": "integer",
            "format": "uint32",
            "description": "Number of consecutive failed health checks required before an instance is restarted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Time before the health check is considered failed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unhealthyThreshold": {
            "type": "integer",
            "format": "uint32",
            "description": "Number of consecutive failed health checks required before removing traffic.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "IdentityAwareProxy": {
        "type": "object",
        "format": "",
        "description": "Identity-Aware Proxy",
        "$ref": "",
        "properties": {
          "enabled": {
            "type": "boolean",
            "format": "",
            "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oauth2ClientId": {
            "type": "string",
            "format": "",
            "description": "OAuth2 client ID to use for the authentication flow.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oauth2ClientSecret": {
            "type": "string",
            "format": "",
            "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oauth2ClientSecretSha256": {
            "type": "string",
            "format": "",
            "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Instance": {
        "type": "object",
        "format": "",
        "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
        "$ref": "",
        "properties": {
          "appEngineRelease": {
            "type": "string",
            "format": "",
            "description": "Output only. App Engine release this instance is running on.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "availability": {
            "type": "string",
            "format": "",
            "description": "Output only. Availability of the instance.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNSPECIFIED",
              "RESIDENT",
              "DYNAMIC"
            ],
            "readOnly": true
          },
          "averageLatency": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Average latency (ms) over the last minute.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "errors": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of errors since this instance was started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "memoryUsage": {
            "type": "string",
            "format": "int64",
            "description": "Output only. Total memory in use (bytes).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "qps": {
            "type": "number",
            "format": "float",
            "description": "Output only. Average queries per second (QPS) over the last minute.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requests": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of requests since this instance was started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Time that this instance was started.@OutputOnly",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmDebugEnabled": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmId": {
            "type": "string",
            "format": "",
            "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmIp": {
            "type": "string",
            "format": "",
            "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmLiveness": {
            "type": "string",
            "format": "",
            "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "LIVENESS_STATE_UNSPECIFIED",
              "UNKNOWN",
              "HEALTHY",
              "UNHEALTHY",
              "DRAINING",
              "TIMEOUT"
            ],
            "readOnly": true
          },
          "vmName": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmStatus": {
            "type": "string",
            "format": "",
            "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vmZoneName": {
            "type": "string",
            "format": "",
            "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Library": {
        "type": "object",
        "format": "",
        "description": "Third-party Python runtime library that is required by the application.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Name of the library. Example: \"django\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "Version of the library to select, or \"latest\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListAuthorizedCertificatesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
        "$ref": "",
        "properties": {
          "certificates": {
            "type": "array",
            "format": "",
            "description": "The SSL certificates the user is authorized to administer.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuthorizedCertificate",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListAuthorizedDomainsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
        "$ref": "",
        "properties": {
          "domains": {
            "type": "array",
            "format": "",
            "description": "The authorized domains belonging to the user.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuthorizedDomain",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListDomainMappingsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DomainMappings.ListDomainMappings.",
        "$ref": "",
        "properties": {
          "domainMappings": {
            "type": "array",
            "format": "",
            "description": "The domain mappings for the application.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "DomainMapping",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListIngressRulesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Firewall.ListIngressRules.",
        "$ref": "",
        "properties": {
          "ingressRules": {
            "type": "array",
            "format": "",
            "description": "The ingress FirewallRules for this application.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FirewallRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListInstancesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Instances.ListInstances.",
        "$ref": "",
        "properties": {
          "instances": {
            "type": "array",
            "format": "",
            "description": "The instances belonging to the requested version.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Instance",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListLocationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Locations.ListLocations.",
        "$ref": "",
        "properties": {
          "locations": {
            "type": "array",
            "format": "",
            "description": "A list of locations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Location",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListOperationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Operations.ListOperations.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operations": {
            "type": "array",
            "format": "",
            "description": "A list of operations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Operation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListRuntimesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Applications.ListRuntimes.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "runtimes": {
            "type": "array",
            "format": "",
            "description": "The runtimes available to the requested application.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Runtime",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListServicesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Services.ListServices.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "services": {
            "type": "array",
            "format": "",
            "description": "The services belonging to the requested application.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Service",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListVersionsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for Versions.ListVersions.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Continuation token for fetching the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "versions": {
            "type": "array",
            "format": "",
            "description": "The versions belonging to the requested service.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Version",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "LivenessCheck": {
        "type": "object",
        "format": "",
        "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
        "$ref": "",
        "properties": {
          "checkInterval": {
            "type": "string",
            "format": "google-duration",
            "description": "Interval between health checks.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "failureThreshold": {
            "type": "integer",
            "format": "uint32",
            "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "host": {
            "type": "string",
            "format": "",
            "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "initialDelay": {
            "type": "string",
            "format": "google-duration",
            "description": "The initial delay before starting to execute the checks.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "path": {
            "type": "string",
            "format": "",
            "description": "The request path.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "successThreshold": {
            "type": "integer",
            "format": "uint32",
            "description": "Number of consecutive successful checks required before considering the VM healthy.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Time before the check is considered failed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
[...]
