{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://discoveryengine.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_discoveryengine_v1beta",
  "version_qualifier": "v1beta",
  "raw_spec": {
    "name": "discoveryengine",
    "revision": "20260823",
    "discoveryVersion": "v1",
    "baseUrl": "https://discoveryengine.googleapis.com/",
    "rootUrl": "https://discoveryengine.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "GoogleApiDistribution": {
        "type": "object",
        "format": "",
        "description": "`Distribution` contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets. The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths. Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the `mean` and `sum_of_squared_deviation` fields meaningless.",
        "$ref": "",
        "properties": {
          "bucketCounts": {
            "type": "array",
            "format": "",
            "description": "The number of values in each bucket of the histogram, as described in `bucket_options`. If the distribution does not have a histogram, then omit this field. If there is a histogram, then the sum of the values in `bucket_counts` must equal the value in the `count` field of the distribution. If present, `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If you supply fewer than N values, the remaining values are assumed to be 0. The order of the values in `bucket_counts` follows the bucket numbering schemes described for the three bucket types. The first value must be the count for the underflow bucket (number 0). The next N-2 values are the counts for the finite buckets (number 1 through N-2). The N'th value in `bucket_counts` is the count for the overflow bucket (number N-1).",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "int64",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "bucketOptions": {
            "type": "",
            "format": "",
            "description": "Defines the histogram bucket boundaries. If the distribution does not contain a histogram, then omit this field.",
            "$ref": "GoogleApiDistributionBucketOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "count": {
            "type": "string",
            "format": "int64",
            "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in `bucket_counts` if a histogram is provided.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exemplars": {
            "type": "array",
            "format": "",
            "description": "Must be in increasing order of `value` field.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleApiDistributionExemplar",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mean": {
            "type": "number",
            "format": "double",
            "description": "The arithmetic mean of the values in the population. If `count` is zero then this field must be zero.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "range": {
            "type": "",
            "format": "",
            "description": "If specified, contains the range of the population values. The field must not be present if the `count` is zero.",
            "$ref": "GoogleApiDistributionRange",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sumOfSquaredDeviation": {
            "type": "number",
            "format": "double",
            "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is: Sum[i=1..n]((x_i - mean)^2) Knuth, \"The Art of Computer Programming\", Vol. 2, page 232, 3rd edition describes Welford's method for accumulating this sum in one pass. If `count` is zero then this field must be zero.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionBucketOptions": {
        "type": "object",
        "format": "",
        "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
        "$ref": "",
        "properties": {
          "explicitBuckets": {
            "type": "",
            "format": "",
            "description": "The explicit buckets.",
            "$ref": "GoogleApiDistributionBucketOptionsExplicit",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exponentialBuckets": {
            "type": "",
            "format": "",
            "description": "The exponential buckets.",
            "$ref": "GoogleApiDistributionBucketOptionsExponential",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "linearBuckets": {
            "type": "",
            "format": "",
            "description": "The linear bucket.",
            "$ref": "GoogleApiDistributionBucketOptionsLinear",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionBucketOptionsExplicit": {
        "type": "object",
        "format": "",
        "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 \u003c= i \u003c N-1): bounds[i] Lower bound (1 \u003c= i \u003c N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
        "$ref": "",
        "properties": {
          "bounds": {
            "type": "array",
            "format": "",
            "description": "The values must be monotonically increasing.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "number",
              "format": "double",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionBucketOptionsExponential": {
        "type": "object",
        "format": "",
        "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i). Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
        "$ref": "",
        "properties": {
          "growthFactor": {
            "type": "number",
            "format": "double",
            "description": "Must be greater than 1.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "numFiniteBuckets": {
            "type": "integer",
            "format": "int32",
            "description": "Must be greater than 0.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scale": {
            "type": "number",
            "format": "double",
            "description": "Must be greater than 0.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionBucketOptionsLinear": {
        "type": "object",
        "format": "",
        "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 \u003c= i \u003c N-1): offset + (width * i). Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
        "$ref": "",
        "properties": {
          "numFiniteBuckets": {
            "type": "integer",
            "format": "int32",
            "description": "Must be greater than 0.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "offset": {
            "type": "number",
            "format": "double",
            "description": "Lower bound of the first bucket.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "width": {
            "type": "number",
            "format": "double",
            "description": "Must be greater than 0.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionExemplar": {
        "type": "object",
        "format": "",
        "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc.",
        "$ref": "",
        "properties": {
          "attachments": {
            "type": "array",
            "format": "",
            "description": "Contextual information about the example value. Examples are: Trace: type.googleapis.com/google.monitoring.v3.SpanContext Literal string: type.googleapis.com/google.protobuf.StringValue Labels dropped during aggregation: type.googleapis.com/google.monitoring.v3.DroppedLabels There may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "object",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": {
                "type": "any",
                "format": "",
                "description": "Properties of the object. Contains field @type with type URL.",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "timestamp": {
            "type": "string",
            "format": "google-datetime",
            "description": "The observation (sampling) time of the above value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiDistributionRange": {
        "type": "object",
        "format": "",
        "description": "The range of the population values.",
        "$ref": "",
        "properties": {
          "max": {
            "type": "number",
            "format": "double",
            "description": "The maximum of the population values.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "min": {
            "type": "number",
            "format": "double",
            "description": "The minimum of the population values.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiHttpBody": {
        "type": "object",
        "format": "",
        "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
        "$ref": "",
        "properties": {
          "contentType": {
            "type": "string",
            "format": "",
            "description": "The HTTP Content-Type header value specifying the content type of the body.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "The HTTP request/response body as raw binary.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "extensions": {
            "type": "array",
            "format": "",
            "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "object",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": {
                "type": "any",
                "format": "",
                "description": "Properties of the object. Contains field @type with type URL.",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiMetric": {
        "type": "object",
        "format": "",
        "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
        "$ref": "",
        "properties": {
          "labels": {
            "type": "object",
            "format": "",
            "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "type": {
            "type": "string",
            "format": "",
            "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiMonitoredResource": {
        "type": "object",
        "format": "",
        "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The `type` field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the `labels` field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for `\"gce_instance\"` has labels `\"project_id\"`, `\"instance_id\"` and `\"zone\"`: { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }}",
        "$ref": "",
        "properties": {
          "labels": {
            "type": "object",
            "format": "",
            "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels `\"project_id\"`, `\"instance_id\"`, and `\"zone\"`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "type": {
            "type": "string",
            "format": "",
            "description": "Required. The monitored resource type. This field must match the `type` field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is `gce_instance`. Some descriptors include the service name in the type; for example, the type of a Datastream stream is `datastream.googleapis.com/Stream`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleApiMonitoredResourceMetadata": {
        "type": "object",
        "format": "",
        "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message.",
        "$ref": "",
        "properties": {
          "systemLabels": {
            "type": "object",
            "format": "",
            "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false }",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "userLabels": {
            "type": "object",
            "format": "",
            "description": "Output only. A map of user-defined metadata labels.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
        "type": "object",
        "format": "",
        "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
        "$ref": "",
        "properties": {
          "connectorRun": {
            "type": "string",
            "format": "",
            "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dataConnector": {
            "type": "string",
            "format": "",
            "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time when the connector run ended.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entity": {
            "type": "string",
            "format": "",
            "description": "The entity to sync for the connector run.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operation": {
            "type": "string",
            "format": "",
            "description": "The operation resource name of the LRO to sync the connector.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time when the connector run started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "syncType": {
            "type": "string",
            "format": "",
            "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingErrorContext": {
        "type": "object",
        "format": "",
        "description": "A description of the context in which an error occurred.",
        "$ref": "",
        "properties": {
          "httpRequest": {
            "type": "",
            "format": "",
            "description": "The HTTP request which was processed when the error was triggered.",
            "$ref": "GoogleCloudDiscoveryengineLoggingHttpRequestContext",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reportLocation": {
            "type": "",
            "format": "",
            "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged.",
            "$ref": "GoogleCloudDiscoveryengineLoggingSourceLocation",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingErrorLog": {
        "type": "object",
        "format": "",
        "description": "An error log which is reported to the Error Reporting system.",
        "$ref": "",
        "properties": {
          "connectorRunPayload": {
            "type": "",
            "format": "",
            "description": "The error payload that is populated on LRO connector sync APIs.",
            "$ref": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "context": {
            "type": "",
            "format": "",
            "description": "A description of the context in which the error occurred.",
            "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "importPayload": {
            "type": "",
            "format": "",
            "description": "The error payload that is populated on LRO import APIs.",
            "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "A message describing the error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestPayload": {
            "type": "object",
            "format": "",
            "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "responsePayload": {
            "type": "object",
            "format": "",
            "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "serviceContext": {
            "type": "",
            "format": "",
            "description": "The service context in which this error has occurred.",
            "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The RPC status associated with the error log.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingHttpRequestContext": {
        "type": "object",
        "format": "",
        "description": "HTTP request data that is related to a reported error.",
        "$ref": "",
        "properties": {
          "responseStatusCode": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP response status code for the request.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingImportErrorContext": {
        "type": "object",
        "format": "",
        "description": "The error payload that is populated on LRO import APIs, including the following: * `google.cloud.discoveryengine.v1alpha.DocumentService.ImportDocuments` * `google.cloud.discoveryengine.v1alpha.UserEventService.ImportUserEvents`",
        "$ref": "",
        "properties": {
          "document": {
            "type": "string",
            "format": "",
            "description": "The detailed content which caused the error on importing a document.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsPath": {
            "type": "string",
            "format": "",
            "description": "Google Cloud Storage file path of the import source. Can be set for batch operation error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "lineNumber": {
            "type": "string",
            "format": "",
            "description": "Line number of the content in file. Should be empty for permission or batch operation error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operation": {
            "type": "string",
            "format": "",
            "description": "The operation resource name of the LRO.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "userEvent": {
            "type": "string",
            "format": "",
            "description": "The detailed content which caused the error on importing a user event.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingServiceContext": {
        "type": "object",
        "format": "",
        "description": "Describes a running service that sends errors.",
        "$ref": "",
        "properties": {
          "service": {
            "type": "string",
            "format": "",
            "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineLoggingSourceLocation": {
        "type": "object",
        "format": "",
        "description": "Indicates a location in the source code of the service for which errors are reported.",
        "$ref": "",
        "properties": {
          "functionName": {
            "type": "string",
            "format": "",
            "description": "Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AclConfig": {
        "type": "object",
        "format": "",
        "description": "Access Control Configuration.",
        "$ref": "",
        "properties": {
          "idpConfig": {
            "type": "",
            "format": "",
            "description": "Identity provider config.",
            "$ref": "GoogleCloudDiscoveryengineV1IdpConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1ActionConfig": {
        "type": "object",
        "format": "",
        "description": "Informations to support actions on the connector.",
        "$ref": "",
        "properties": {
          "actionParams": {
            "type": "object",
            "format": "",
            "description": "Optional. Action parameters in structured json format.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "createBapConnection": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Whether to create a BAP connection for the connector.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "isActionConfigured": {
            "type": "boolean",
            "format": "",
            "description": "Output only. The connector contains the necessary parameters and is configured to support actions.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "jsonActionParams": {
            "type": "string",
            "format": "",
            "description": "Optional. Action parameters in json string format.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "serviceName": {
            "type": "string",
            "format": "",
            "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "useStaticSecrets": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "userDefinedScopesMapping": {
            "type": "object",
            "format": "",
            "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1ActionConfigScopeList",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1ActionConfigScopeList": {
        "type": "object",
        "format": "",
        "description": "Stores a list of scopes.",
        "$ref": "",
        "properties": {
          "scopes": {
            "type": "array",
            "format": "",
            "description": "Optional. The list of scopes.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration data for advance site search.",
        "$ref": "",
        "properties": {
          "disableAutomaticRefresh": {
            "type": "boolean",
            "format": "",
            "description": "If set true, automatic refresh is disabled for the DataStore.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "disableInitialIndex": {
            "type": "boolean",
            "format": "",
            "description": "If set true, initial indexing is disabled for the DataStore.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AgentGatewaySetting": {
        "type": "object",
        "format": "",
        "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
        "$ref": "",
        "properties": {
          "defaultEgressAgentGateway": {
            "type": "",
            "format": "",
            "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
            "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference": {
        "type": "object",
        "format": "",
        "description": "Reference to an Agent Gateway resource.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
        "type": "object",
        "format": "",
        "description": "The connector level alert config.",
        "$ref": "",
        "properties": {
          "alertEnrollments": {
            "type": "array",
            "format": "",
            "description": "Optional. The enrollment states of each alert.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "alertPolicyName": {
            "type": "string",
            "format": "",
            "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment": {
        "type": "object",
        "format": "",
        "description": "The alert enrollment status.",
        "$ref": "",
        "properties": {
          "alertId": {
            "type": "string",
            "format": "",
            "description": "Immutable. The id of an alert.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enrollState": {
            "type": "string",
            "format": "",
            "description": "Required. The enrollment status of a customer.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ENROLL_STATES_UNSPECIFIED",
              "ENROLLED",
              "DECLINED"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AnswerGenerationSpec": {
        "type": "object",
        "format": "",
        "description": "The specification for answer generation.",
        "$ref": "",
        "properties": {
          "userDefinedClassifierSpec": {
            "type": "",
            "format": "",
            "description": "Optional. The specification for user specified classifier spec.",
            "$ref": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec": {
        "type": "object",
        "format": "",
        "description": "The specification for user defined classifier.",
        "$ref": "",
        "properties": {
          "enableUserDefinedClassifier": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Whether or not to enable and include user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "modelId": {
            "type": "string",
            "format": "",
            "description": "Optional. The model id to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "preamble": {
            "type": "string",
            "format": "",
            "description": "Optional. The preamble to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "seed": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The seed value to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "taskMarker": {
            "type": "string",
            "format": "",
            "description": "Optional. The task marker to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "temperature": {
            "type": "number",
            "format": "double",
            "description": "Optional. The temperature value to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "topK": {
            "type": "string",
            "format": "int64",
            "description": "Optional. The top-k value to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "topP": {
            "type": "number",
            "format": "double",
            "description": "Optional. The top-p value to be used for the user defined classifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1Assistant": {
        "type": "object",
        "format": "",
        "description": "Discovery Engine Assistant resource.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Represents the time when this Assistant was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "customerPolicy": {
            "type": "",
            "format": "",
            "description": "Optional. Customer policy for the assistant.",
            "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultWebGroundingToggleOff": {
            "type": "boolean",
            "format": "",
            "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enabledTools": {
            "type": "object",
            "format": "",
            "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "generationConfig": {
            "type": "",
            "format": "",
            "description": "Optional. Configuration for the generation of the assistant response.",
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Represents the time when this Assistant was most recently updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "webGroundingType": {
            "type": "string",
            "format": "",
            "description": "Optional. The type of web grounding to use.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "WEB_GROUNDING_TYPE_UNSPECIFIED",
              "WEB_GROUNDING_TYPE_DISABLED",
              "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
              "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy": {
        "type": "object",
        "format": "",
        "description": "Customer-defined policy for the assistant.",
        "$ref": "",
        "properties": {
          "bannedPhrases": {
            "type": "array",
            "format": "",
            "description": "Optional. List of banned phrases.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "modelArmorConfig": {
            "type": "",
            "format": "",
            "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses.",
            "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase": {
        "type": "object",
        "format": "",
        "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused.",
        "$ref": "",
        "properties": {
          "ignoreDiacritics": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "matchType": {
            "type": "string",
            "format": "",
            "description": "Optional. Match type for the banned phrase.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
              "SIMPLE_STRING_MATCH",
              "WORD_BOUNDARY_STRING_MATCH"
            ],
            "readOnly": false
          },
          "phrase": {
            "type": "string",
            "format": "",
            "description": "Required. The raw string content to be banned.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses.",
        "$ref": "",
        "properties": {
          "failureMode": {
            "type": "string",
            "format": "",
            "description": "Optional. Defines the failure mode for Model Armor sanitization.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "FAILURE_MODE_UNSPECIFIED",
              "FAIL_OPEN",
              "FAIL_CLOSED"
            ],
            "readOnly": false
          },
          "responseTemplate": {
            "type": "string",
            "format": "",
            "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "userPromptTemplate": {
            "type": "string",
            "format": "",
            "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantGenerationConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration for the generation of the assistant response.",
        "$ref": "",
        "properties": {
          "allowedModelIds": {
            "type": "array",
            "format": "",
            "description": "Optional. The list of models that are allowed to be used for assistant.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultLanguage": {
            "type": "string",
            "format": "",
            "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultModelId": {
            "type": "string",
            "format": "",
            "description": "Optional. The default model to use for assistant.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "systemInstruction": {
            "type": "",
            "format": "",
            "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions",
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction": {
        "type": "object",
        "format": "",
        "description": "System instruction, also known as the prompt preamble for LLM calls.",
        "$ref": "",
        "properties": {
          "additionalSystemInstruction": {
            "type": "string",
            "format": "",
            "description": "Optional. Additional system instruction that will be added to the default system instruction.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
        "type": "object",
        "format": "",
        "description": "Information to identify a tool.",
        "$ref": "",
        "properties": {
          "toolDisplayName": {
            "type": "string",
            "format": "",
            "description": "The display name of the tool.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "toolName": {
            "type": "string",
            "format": "",
            "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1AssistantToolList": {
        "type": "object",
        "format": "",
        "description": "The enabled tools on a connector",
        "$ref": "",
        "properties": {
          "toolInfo": {
            "type": "array",
            "format": "",
            "description": "The list of tools with corresponding tool information.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BAPConfig": {
        "type": "object",
        "format": "",
        "description": "The configuration for the BAP connector.",
        "$ref": "",
        "properties": {
          "enabledActions": {
            "type": "array",
            "format": "",
            "description": "Optional. The actions enabled on the associated BAP connection.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "supportedConnectorModes": {
            "type": "array",
            "format": "",
            "description": "Required. The supported connector modes for the associated BAP connection.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": [
                "CONNECTOR_MODE_UNSPECIFIED",
                "DATA_INGESTION",
                "ACTIONS",
                "END_USER_AUTHENTICATION"
              ],
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "toolspecOverride": {
            "type": "",
            "format": "",
            "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
            "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride": {
        "type": "object",
        "format": "",
        "description": "Customer-facing view of the admin-curated toolspec for a BAP connection. Holds the (simplified) per-tool definitions surfaced to and editable by the admin in the Discovery Engine UI. Mirrors the shape of the backend `google.cloud.connectorexecution.v1.ToolspecOverride` message, but is intentionally kept as a separate public type so the Discovery Engine API surface can evolve independently of the fed-API surface (AIP-215). Handlers convert between the two via helpers in //cloud/ml/discoveryengine/external_service/v1main/data_connector_service/lib:bap_custom_tool_util.",
        "$ref": "",
        "properties": {
          "baseVersion": {
            "type": "string",
            "format": "",
            "description": "Required. Base toolspec version against which `tools` were authored. On Update, MUST match the server's current stable toolspec version for the connection; mismatch is rejected with a user-facing error directing the admin to re-download the latest tools first.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tools": {
            "type": "array",
            "format": "",
            "description": "Required. Tool definitions (one Struct per tool) that the admin has customised on top of the base toolspec returned by the fed API. REQUIRED because it is the only user-editable field in the modify API; the request must carry at least one tool.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "object",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": {
                "type": "any",
                "format": "",
                "description": "Properties of the object.",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Operation create time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Operation last update time. If the operation is done, this is also the finish time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
        "$ref": "",
        "properties": {
          "targetSites": {
            "type": "array",
            "format": "",
            "description": "TargetSites created.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1TargetSite",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Operation create time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "failureCount": {
            "type": "string",
            "format": "int64",
            "description": "Count of user licenses that failed to be updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "successCount": {
            "type": "string",
            "format": "int64",
            "description": "Count of user licenses successfully updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Operation last update time. If the operation is done, this is also the finish time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
        "$ref": "",
        "properties": {
          "errorSamples": {
            "type": "array",
            "format": "",
            "description": "A sample of errors encountered while processing the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleRpcStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "userLicenses": {
            "type": "array",
            "format": "",
            "description": "UserLicenses successfully updated.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1UserLicense",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1CliConfig": {
        "type": "object",
        "format": "",
        "description": "The configuration for the CLI execution based connectors.",
        "$ref": "",
        "properties": {
          "enabledActions": {
            "type": "array",
            "format": "",
            "description": "Optional. The actions enabled on the associated CLI connection.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1CmekConfig": {
        "type": "object",
        "format": "",
        "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
        "$ref": "",
        "properties": {
          "isDefault": {
            "type": "boolean",
            "format": "",
            "description": "Output only. The default CmekConfig for the Customer.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "kmsKey": {
            "type": "string",
            "format": "",
            "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "kmsKeyVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "lastRotationTimestampMicros": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The timestamp of the last key rotation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "notebooklmState": {
            "type": "string",
            "format": "",
            "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "NOTEBOOK_LM_STATE_UNSPECIFIED",
              "NOTEBOOK_LM_NOT_READY",
              "NOTEBOOK_LM_READY",
              "NOTEBOOK_LM_NOT_ENABLED"
            ],
            "readOnly": true
          },
          "singleRegionKeys": {
            "type": "array",
            "format": "",
            "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1SingleRegionKey",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The states of the CmekConfig.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "KEY_ISSUE",
              "DELETING",
              "DELETE_FAILED",
              "UNUSABLE",
              "ACTIVE_ROTATING",
              "DELETED",
              "EXPIRED"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1Collection": {
        "type": "object",
        "format": "",
        "description": "Collection is a container for configuring resources and access to a set of DataStores.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp the Collection was created at.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1Condition": {
        "type": "object",
        "format": "",
        "description": "Defines circumstances to be checked before allowing a behavior",
        "$ref": "",
        "properties": {
          "activeTimeRange": {
            "type": "array",
            "format": "",
            "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1ConditionTimeRange",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "queryRegex": {
            "type": "string",
            "format": "",
            "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "queryTerms": {
            "type": "array",
            "format": "",
            "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1ConditionQueryTerm",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1ConditionQueryTerm": {
        "type": "object",
        "format": "",
        "description": "Matcher for search request query",
        "$ref": "",
        "properties": {
          "fullMatch": {
            "type": "boolean",
            "format": "",
            "description": "Whether the search query needs to exactly match the query term.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "value": {
            "type": "string",
            "format": "",
            "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1ConditionTimeRange": {
        "type": "object",
        "format": "",
        "description": "Used for time-dependent conditions.",
        "$ref": "",
        "properties": {
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "End of time range. Range is inclusive. Must be in the future.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Start of time range. Range is inclusive.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDiscoveryengineV1Control": {
        "type": "object",
        "format": "",
        "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
        "$ref": "",
        "properties": {
          "associatedServingConfigIds": {
            "type": "array",
            "format": "",
            "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "boostAction": {
            "type": "",
            "format": "",
            "description": "Defines a boost-type control",
            "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "conditions": {
            "type": "array",
            "format": "",
            "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDiscoveryengineV1Condition",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "filterAction": {
            "type": "",
            "format": "",
            "description": "Defines a filter-type control Currently not supported by Recommendation",
            "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
[...]
