{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://metastore.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_metastore_v1alpha",
  "version_qualifier": "v1alpha",
  "raw_spec": {
    "name": "metastore",
    "revision": "20260813",
    "discoveryVersion": "v1",
    "baseUrl": "https://metastore.googleapis.com/",
    "rootUrl": "https://metastore.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AlterMetadataResourceLocationRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
        "$ref": "",
        "properties": {
          "locationUri": {
            "type": "string",
            "format": "",
            "description": "Required. The new location URI for the metadata resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resourceName": {
            "type": "string",
            "format": "",
            "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AlterMetadataResourceLocationResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AlterTablePropertiesRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for DataprocMetastore.AlterTableProperties.",
        "$ref": "",
        "properties": {
          "properties": {
            "type": "object",
            "format": "",
            "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "tableName": {
            "type": "string",
            "format": "",
            "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuditConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
        "$ref": "",
        "properties": {
          "auditLogConfigs": {
            "type": "array",
            "format": "",
            "description": "The configuration for logging of each type of permission.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuditLogConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "service": {
            "type": "string",
            "format": "",
            "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuditLogConfig": {
        "type": "object",
        "format": "",
        "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
        "$ref": "",
        "properties": {
          "exemptedMembers": {
            "type": "array",
            "format": "",
            "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "logType": {
            "type": "string",
            "format": "",
            "description": "The log type that this config enables.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "ADMIN_READ",
              "DATA_WRITE",
              "DATA_READ"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AutoscalingConfig": {
        "type": "object",
        "format": "",
        "description": "Represents the autoscaling configuration of a metastore service.",
        "$ref": "",
        "properties": {
          "autoscalingEnabled": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Whether or not autoscaling is enabled for this service.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "autoscalingFactor": {
            "type": "number",
            "format": "float",
            "description": "Output only. The scaling factor of a service with autoscaling enabled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "limitConfig": {
            "type": "",
            "format": "",
            "description": "Optional. The LimitConfig of the service.",
            "$ref": "LimitConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuxiliaryVersionConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration information for the auxiliary service versions.",
        "$ref": "",
        "properties": {
          "configOverrides": {
            "type": "object",
            "format": "",
            "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "networkConfig": {
            "type": "",
            "format": "",
            "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
            "$ref": "NetworkConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BackendMetastore": {
        "type": "object",
        "format": "",
        "description": "Represents a backend metastore for the federation.",
        "$ref": "",
        "properties": {
          "metastoreType": {
            "type": "string",
            "format": "",
            "description": "The type of the backend metastore.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "METASTORE_TYPE_UNSPECIFIED",
              "DATAPLEX",
              "BIGQUERY",
              "DATAPROC_METASTORE"
            ],
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BackfillStatus": {
        "type": "object",
        "format": "",
        "description": "Backfill status for the migration execution.",
        "$ref": "",
        "properties": {
          "migrationSummary": {
            "type": "",
            "format": "",
            "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished.",
            "$ref": "MigrationSummary",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "reportPath": {
            "type": "string",
            "format": "",
            "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The current state of the backfill (or dry run).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "PENDING",
              "RUNNING",
              "SUCCEEDED",
              "FAILED"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Backup": {
        "type": "object",
        "format": "",
        "description": "The details of a backup resource.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the backup was started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. The description of the backup.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the backup finished creating.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "restoringServices": {
            "type": "array",
            "format": "",
            "description": "Output only. Services that are restoring from the backup.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "serviceRevision": {
            "type": "",
            "format": "",
            "description": "Output only. The revision of the service at the time of backup.",
            "$ref": "Service",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The current state of the backup.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "DELETING",
              "ACTIVE",
              "FAILED",
              "RESTORING"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BigLakeMetastoreMigrationConfig": {
        "type": "object",
        "format": "",
        "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
        "$ref": "",
        "properties": {
          "backfillStatus": {
            "type": "",
            "format": "",
            "description": "Output only. ",
            "$ref": "BackfillStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "conflictPolicy": {
            "type": "string",
            "format": "",
            "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CONFLICT_POLICY_UNSPECIFIED",
              "SKIP",
              "OVERWRITE"
            ],
            "readOnly": false
          },
          "dryRun": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "hiveConfig": {
            "type": "",
            "format": "",
            "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
            "$ref": "HiveConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "icebergConfig": {
            "type": "",
            "format": "",
            "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
            "$ref": "IcebergConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mode": {
            "type": "string",
            "format": "",
            "description": "Required. Defines the behavior of the migration execution.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "MIGRATION_MODE_UNSPECIFIED",
              "BACKFILL"
            ],
            "readOnly": false
          },
          "reportPath": {
            "type": "string",
            "format": "",
            "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Binding": {
        "type": "object",
        "format": "",
        "description": "Associates members, or principals, with a role.",
        "$ref": "",
        "properties": {
          "condition": {
            "type": "",
            "format": "",
            "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "Expr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "members": {
            "type": "array",
            "format": "",
            "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "role": {
            "type": "string",
            "format": "",
            "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CancelMigrationRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for DataprocMetastore.CancelMigration.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CancelMigrationResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.CancelMigration.",
        "$ref": "",
        "properties": {
          "migrationExecution": {
            "type": "string",
            "format": "",
            "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CancelOperationRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for Operations.CancelOperation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CatalogReport": {
        "type": "object",
        "format": "",
        "description": "Aggregated report at the catalog level.",
        "$ref": "",
        "properties": {
          "catalog": {
            "type": "string",
            "format": "",
            "description": "The name of the catalog (format: projects/*/catalogs/*).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "catalogType": {
            "type": "string",
            "format": "",
            "description": "The type of catalog.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CATALOG_TYPE_UNSPECIFIED",
              "HIVE",
              "ICEBERG"
            ],
            "readOnly": false
          },
          "databaseReports": {
            "type": "object",
            "format": "",
            "description": "A map of database names to their respective reports.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "DatabaseReport",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CatalogSummary": {
        "type": "object",
        "format": "",
        "description": "Summary of results for a specific destination catalog.",
        "$ref": "",
        "properties": {
          "catalog": {
            "type": "string",
            "format": "",
            "description": "Output only. The catalog resource name (format: projects/*/catalogs/*).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "catalogType": {
            "type": "string",
            "format": "",
            "description": "Output only. The type of the catalog.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CATALOG_TYPE_UNSPECIFIED",
              "HIVE",
              "ICEBERG"
            ],
            "readOnly": true
          },
          "databaseSummaries": {
            "type": "array",
            "format": "",
            "description": "Output only. Summary of results for each database in the catalog.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "DatabaseSummary",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CdcConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore.",
        "$ref": "",
        "properties": {
          "bucket": {
            "type": "string",
            "format": "",
            "description": "Optional. The bucket to write the intermediate stream event data in. The bucket name must be without any prefix like \"gs://\". See the bucket naming requirements (https://cloud.google.com/storage/docs/buckets#naming). This field is optional. If not set, the Artifacts Cloud Storage bucket will be used.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Input only. The password for the user that Datastream service should use for the MySQL connection. This field is not returned on request.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reverseProxySubnet": {
            "type": "string",
            "format": "",
            "description": "Required. The URL of the subnetwork resource to create the VM instance hosting the reverse proxy in. More context in https://cloud.google.com/datastream/docs/private-connectivity#reverse-csql-proxy The subnetwork should reside in the network provided in the request that Datastream will peer to and should be in the same region as Datastream, in the following format. projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rootPath": {
            "type": "string",
            "format": "",
            "description": "Optional. The root path inside the Cloud Storage bucket. The stream event data will be written to this path. The default value is /migration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "subnetIpRange": {
            "type": "string",
            "format": "",
            "description": "Required. A /29 CIDR IP range for peering with datastream.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. The username that the Datastream service should use for the MySQL connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "vpcNetwork": {
            "type": "string",
            "format": "",
            "description": "Required. Fully qualified name of the Cloud SQL instance's VPC network or the shared VPC network that Datastream will peer to, in the following format: projects/{project_id}/locations/global/networks/{network_id}. More context in https://cloud.google.com/datastream/docs/network-connectivity-options#privateconnectivity",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudSQLConnectionConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration information to establish customer database connection before the cutover phase of migration",
        "$ref": "",
        "properties": {
          "hiveDatabaseName": {
            "type": "string",
            "format": "",
            "description": "Required. The hive database name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "instanceConnectionName": {
            "type": "string",
            "format": "",
            "description": "Required. Cloud SQL database connection name (project_id:region:instance_name)",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "ipAddress": {
            "type": "string",
            "format": "",
            "description": "Required. The private IP address of the Cloud SQL instance.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "natSubnet": {
            "type": "string",
            "format": "",
            "description": "Required. The relative resource name of the subnetwork to be used for Private Service Connect. Note that this cannot be a regular subnet and is used only for NAT. (https://cloud.google.com/vpc/docs/about-vpc-hosted-services#psc-subnets) This subnet is used to publish the SOCKS5 proxy service. The subnet size must be at least /29 and it should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Input only. The password for the user that Dataproc Metastore service will be using to connect to the database. This field is not returned on request.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Required. The network port of the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "proxySubnet": {
            "type": "string",
            "format": "",
            "description": "Required. The relative resource name of the subnetwork to deploy the SOCKS5 proxy service in. The subnetwork should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. The username that Dataproc Metastore service will use to connect to the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudSQLMigrationConfig": {
        "type": "object",
        "format": "",
        "description": "Deprecated: Migrations to Dataproc Metastore are no longer supported. Use BigLake Metastore migration instead. Configuration information for migrating from self-managed hive metastore on Google Cloud using Cloud SQL as the backend database to Dataproc Metastore.",
        "$ref": "",
        "properties": {
          "cdcConfig": {
            "type": "",
            "format": "",
            "description": "Required. Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore. Dataproc Metastore switches to using its backend database after the cutover phase of migration.",
            "$ref": "CdcConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "cloudSqlConnectionConfig": {
            "type": "",
            "format": "",
            "description": "Required. Configuration information to establish customer database connection before the cutover phase of migration",
            "$ref": "CloudSQLConnectionConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CompleteMigrationRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for DataprocMetastore.CompleteMigration.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CompleteMigrationResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.CompleteMigration.",
        "$ref": "",
        "properties": {
          "migrationExecution": {
            "type": "string",
            "format": "",
            "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Consumer": {
        "type": "object",
        "format": "",
        "description": "Contains information of the customer's network configurations.",
        "$ref": "",
        "properties": {
          "endpointLocation": {
            "type": "string",
            "format": "",
            "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endpointUri": {
            "type": "string",
            "format": "",
            "description": "Output only. The URI of the endpoint used to access the metastore service.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "subnetwork": {
            "type": "string",
            "format": "",
            "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CustomRegionConfig": {
        "type": "object",
        "format": "",
        "description": "Deprecated: Use a single region service instead. Custom configuration used to specify regions that the metastore service runs in. Currently only supported in the us multi-region.",
        "$ref": "",
        "properties": {
          "readOnlyRegions": {
            "type": "array",
            "format": "",
            "description": "Optional. The list of read-only regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "readWriteRegions": {
            "type": "array",
            "format": "",
            "description": "Required. The list of read-write regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CustomRegionMetadata": {
        "type": "object",
        "format": "",
        "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
        "$ref": "",
        "properties": {
          "optionalReadOnlyRegions": {
            "type": "array",
            "format": "",
            "description": "The read-only regions for this custom region.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requiredReadWriteRegions": {
            "type": "array",
            "format": "",
            "description": "The read-write regions for this custom region.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "witnessRegion": {
            "type": "string",
            "format": "",
            "description": "The Spanner witness region for this custom region.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DataCatalogConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
        "$ref": "",
        "properties": {
          "enabled": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DatabaseDump": {
        "type": "object",
        "format": "",
        "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
        "$ref": "",
        "properties": {
          "databaseType": {
            "type": "string",
            "format": "",
            "description": "The type of the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATABASE_TYPE_UNSPECIFIED",
              "MYSQL"
            ],
            "readOnly": false
          },
          "gcsUri": {
            "type": "string",
            "format": "",
            "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceDatabase": {
            "type": "string",
            "format": "",
            "description": "Optional. The name of the source database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "type": {
            "type": "string",
            "format": "",
            "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TYPE_UNSPECIFIED",
              "MYSQL",
              "AVRO"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DatabaseReport": {
        "type": "object",
        "format": "",
        "description": "Aggregated report at the database level.",
        "$ref": "",
        "properties": {
          "database": {
            "type": "string",
            "format": "",
            "description": "The name of the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "executionPlan": {
            "type": "",
            "format": "",
            "description": "The discovered intent for the database (what we found and what we planned).",
            "$ref": "ExecutionPlan",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "executionResult": {
            "type": "",
            "format": "",
            "description": "The actual outcome of the database migration.",
            "$ref": "ExecutionResult",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tableReports": {
            "type": "object",
            "format": "",
            "description": "A map of table names to their respective reports.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "TableReport",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DatabaseSummary": {
        "type": "object",
        "format": "",
        "description": "Summary of results for a specific database in a catalog.",
        "$ref": "",
        "properties": {
          "database": {
            "type": "string",
            "format": "",
            "description": "Output only. The name of the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "planAction": {
            "type": "string",
            "format": "",
            "description": "Output only. The migration plan action for the database.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ACTION_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "SKIP",
              "DEPENDENCY_FAILURE",
              "ERROR"
            ],
            "readOnly": true
          },
          "resultStatus": {
            "type": "string",
            "format": "",
            "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED",
              "SKIPPED"
            ],
            "readOnly": true
          },
          "tableSummary": {
            "type": "",
            "format": "",
            "description": "Output only. Aggregated summary of results for all tables in the database.",
            "$ref": "TableSummary",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DataplexConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies how metastore metadata should be integrated with the Dataplex service.",
        "$ref": "",
        "properties": {
          "lakeResources": {
            "type": "object",
            "format": "",
            "description": "Optional. A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Lake",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "EncryptionConfig": {
        "type": "object",
        "format": "",
        "description": "Encryption settings for the service.",
        "$ref": "",
        "properties": {
          "kmsKey": {
            "type": "string",
            "format": "",
            "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "kmsKeys": {
            "type": "array",
            "format": "",
            "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ErrorDetails": {
        "type": "object",
        "format": "",
        "description": "Error details in public error message for DataprocMetastore.QueryMetadata.",
        "$ref": "",
        "properties": {
          "details": {
            "type": "object",
            "format": "",
            "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ExecutionPlan": {
        "type": "object",
        "format": "",
        "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
        "$ref": "",
        "properties": {
          "action": {
            "type": "string",
            "format": "",
            "description": "The action that will be taken for a resource during migration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ACTION_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "SKIP",
              "DEPENDENCY_FAILURE",
              "ERROR"
            ],
            "readOnly": false
          },
          "diffs": {
            "type": "object",
            "format": "",
            "description": "A map of field names to their respective value diff.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ValueDiff",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "reason": {
            "type": "string",
            "format": "",
            "description": "A human-readable string explaining why the action was chosen.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ExecutionResult": {
        "type": "object",
        "format": "",
        "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
        "$ref": "",
        "properties": {
          "errorMessage": {
            "type": "string",
            "format": "",
            "description": "Description of the error if the state is FAILED.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "remediation": {
            "type": "string",
            "format": "",
            "description": "Remediation steps for the error if the state is FAILED.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the migration for a resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED",
              "SKIPPED"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ExportMetadataRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for DataprocMetastore.ExportMetadata.",
        "$ref": "",
        "properties": {
          "databaseDumpType": {
            "type": "string",
            "format": "",
            "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TYPE_UNSPECIFIED",
              "MYSQL",
              "AVRO"
            ],
            "readOnly": false
          },
          "destinationGcsFolder": {
            "type": "string",
            "format": "",
            "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Expr": {
        "type": "object",
        "format": "",
        "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' \u0026\u0026 document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "expression": {
            "type": "string",
            "format": "",
            "description": "Textual representation of an expression in Common Expression Language syntax.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "title": {
            "type": "string",
            "format": "",
            "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Federation": {
        "type": "object",
        "format": "",
        "description": "Represents a federation of multiple backend metastores.",
        "$ref": "",
        "properties": {
          "backendMetastores": {
            "type": "object",
            "format": "",
            "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "BackendMetastore",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the metastore federation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endpointUri": {
            "type": "string",
            "format": "",
            "description": "Output only. The federation endpoint.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "User-defined labels for the metastore federation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The current state of the federation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "UPDATING",
              "DELETING",
              "ERROR"
            ],
            "readOnly": true
          },
          "stateMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Additional information about the current state of the metastore federation, if available.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "tags": {
            "type": "object",
            "format": "",
            "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "uid": {
            "type": "string",
            "format": "",
            "description": "Output only. The globally unique resource identifier of the metastore federation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the metastore federation was last updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "HiveConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration for migrating Hive metadata.",
        "$ref": "",
        "properties": {
          "catalog": {
            "type": "string",
            "format": "",
            "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "databases": {
            "type": "array",
            "format": "",
            "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "HiveMetastoreConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
        "$ref": "",
        "properties": {
          "auxiliaryVersions": {
            "type": "object",
            "format": "",
            "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuxiliaryVersionConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "configOverrides": {
            "type": "object",
            "format": "",
            "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "endpointProtocol": {
            "type": "string",
            "format": "",
            "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ENDPOINT_PROTOCOL_UNSPECIFIED",
              "THRIFT",
              "GRPC"
            ],
            "readOnly": false
          },
          "kerberosConfig": {
            "type": "",
            "format": "",
            "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service.",
            "$ref": "KerberosConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "Immutable. The Hive metastore schema version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "HiveMetastoreVersion": {
        "type": "object",
        "format": "",
        "description": "A specification of a supported version of the Hive Metastore software.",
        "$ref": "",
        "properties": {
          "isDefault": {
            "type": "boolean",
            "format": "",
            "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "The semantic version of the Hive Metastore software.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "IcebergConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration for migrating Iceberg metadata.",
        "$ref": "",
        "properties": {
          "catalog": {
            "type": "string",
            "format": "",
            "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "namespaces": {
            "type": "array",
            "format": "",
            "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "KerberosConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration information for a Kerberos principal.",
        "$ref": "",
        "properties": {
          "keytab": {
            "type": "",
            "format": "",
            "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
            "$ref": "Secret",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "krb5ConfigGcsUri": {
            "type": "string",
            "format": "",
            "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "principal": {
            "type": "string",
            "format": "",
            "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Lake": {
        "type": "object",
        "format": "",
        "description": "Represents a Lake resource",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "The Lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "LatestBackup": {
        "type": "object",
        "format": "",
        "description": "The details of the latest scheduled backup.",
        "$ref": "",
        "properties": {
          "backupId": {
            "type": "string",
            "format": "",
            "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "duration": {
            "type": "string",
            "format": "google-duration",
            "description": "Output only. The duration of the backup completion.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the backup was started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The current state of the backup.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "SUCCEEDED",
              "FAILED"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "LimitConfig": {
        "type": "object",
        "format": "",
        "description": "Represents the autoscaling limit configuration of a metastore service.",
        "$ref": "",
        "properties": {
          "maxScalingFactor": {
            "type": "number",
            "format": "float",
            "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minScalingFactor": {
            "type": "number",
            "format": "float",
            "description": "Optional. The lowest scaling factor that the service should be autoscaled to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListBackupsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.ListBackups.",
        "$ref": "",
        "properties": {
          "backups": {
            "type": "array",
            "format": "",
            "description": "The backups of the specified service.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Backup",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListFederationsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for ListFederations",
        "$ref": "",
        "properties": {
          "federations": {
            "type": "array",
            "format": "",
            "description": "The services in the specified location.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Federation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListLocationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Locations.ListLocations.",
        "$ref": "",
        "properties": {
          "locations": {
            "type": "array",
            "format": "",
            "description": "A list of locations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Location",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListMetadataImportsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.ListMetadataImports.",
        "$ref": "",
        "properties": {
          "metadataImports": {
            "type": "array",
            "format": "",
            "description": "The imports in the specified service.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "MetadataImport",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListMigrationExecutionsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
        "$ref": "",
        "properties": {
          "migrationExecutions": {
            "type": "array",
            "format": "",
            "description": "The migration executions on the specified service.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "MigrationExecution",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
[...]
