{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://osconfig.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_osconfig_v2beta",
  "version_qualifier": "v2beta",
  "raw_spec": {
    "name": "osconfig",
    "revision": "20260820",
    "discoveryVersion": "v1",
    "baseUrl": "https://osconfig.googleapis.com/",
    "rootUrl": "https://osconfig.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "CancelOperationRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for Operations.CancelOperation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FixedOrPercent": {
        "type": "object",
        "format": "",
        "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
        "$ref": "",
        "properties": {
          "fixed": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies a fixed value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "percent": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
        "$ref": "",
        "properties": {
          "apiMethod": {
            "type": "string",
            "format": "",
            "description": "The OS policy assignment API method.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "API_METHOD_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "readOnly": false
          },
          "osPolicyAssignment": {
            "type": "string",
            "format": "",
            "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutStartTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Rollout start time",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutState": {
            "type": "string",
            "format": "",
            "description": "State of the rollout",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ROLLOUT_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "CANCELLING",
              "CANCELLED",
              "SUCCEEDED"
            ],
            "readOnly": false
          },
          "rolloutUpdateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Rollout update time",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2__OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector": {
        "type": "object",
        "format": "",
        "description": "Selector containing locations in scope.",
        "$ref": "",
        "properties": {
          "includedLocations": {
            "type": "array",
            "format": "",
            "description": "Optional. Names of the locations in scope. Format: `us-central1-a`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector": {
        "type": "object",
        "format": "",
        "description": "Selector containing Cloud Resource Manager resource hierarchy nodes.",
        "$ref": "",
        "properties": {
          "includedFolders": {
            "type": "array",
            "format": "",
            "description": "Optional. Names of the folders in scope. Format: `folders/{folder_id}`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "includedProjects": {
            "type": "array",
            "format": "",
            "description": "Optional. Names of the projects in scope. Format: `projects/{project_number}`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector": {
        "type": "object",
        "format": "",
        "description": "Selector for the resources in scope of orchestration.",
        "$ref": "",
        "properties": {
          "locationSelector": {
            "type": "",
            "format": "",
            "description": "Selector for selecting locations.",
            "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resourceHierarchySelector": {
            "type": "",
            "format": "",
            "description": "Selector for selecting resource hierarchy.",
            "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState": {
        "type": "object",
        "format": "",
        "description": "Describes the state of a single iteration of the orchestrator.",
        "$ref": "",
        "properties": {
          "error": {
            "type": "",
            "format": "",
            "description": "Output only. Error thrown in the wave iteration.",
            "$ref": "Status",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "failedActions": {
            "type": "string",
            "format": "int64",
            "description": "Output only. Number of orchestration actions which failed so far. For more details, query the Cloud Logs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "finishTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Finish time of the wave iteration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "iterationId": {
            "type": "string",
            "format": "",
            "description": "Output only. Unique identifier of the iteration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "performedActions": {
            "type": "string",
            "format": "int64",
            "description": "Output only. Overall number of actions done by the orchestrator so far.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "progress": {
            "type": "number",
            "format": "float",
            "description": "Output only. An estimated percentage of the progress. Number between 0 and 100.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Start time of the wave iteration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. State of the iteration.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELLED",
              "UNKNOWN"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState": {
        "type": "object",
        "format": "",
        "description": "Describes the state of the orchestration process.",
        "$ref": "",
        "properties": {
          "currentIterationState": {
            "type": "",
            "format": "",
            "description": "Output only. Current Wave iteration state.",
            "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "previousIterationState": {
            "type": "",
            "format": "",
            "description": "Output only. Previous Wave iteration state.",
            "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the list policy orchestrator resources.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "policyOrchestrators": {
            "type": "array",
            "format": "",
            "description": "The policy orchestrators for the specified parent resource.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta__OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta__OrchestratedResource": {
        "type": "object",
        "format": "",
        "description": "Represents a resource that is being orchestrated by the policy orchestrator.",
        "$ref": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "",
            "description": "Optional. ID of the resource to be used while generating set of affected resources. For UPSERT action the value is auto-generated during PolicyOrchestrator creation when not set. When the value is set it should following next restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project. For DELETE action, ID must be specified explicitly during PolicyOrchestrator creation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "osPolicyAssignmentV1Payload": {
            "type": "",
            "format": "",
            "description": "Optional. OSPolicyAssignment resource to be created, updated or deleted. Name field is ignored and replace with a generated value. With this field set, orchestrator will perform actions on `project/{project}/locations/{zone}/osPolicyAssignments/{resource_id}` resources, where `project` and `zone` pairs come from the expanded scope, and `resource_id` comes from the `resource_id` field of orchestrator resource.",
            "$ref": "OSPolicyAssignment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta__OrchestrationScope": {
        "type": "object",
        "format": "",
        "description": "Defines a set of selectors which drive which resources are in scope of policy orchestration.",
        "$ref": "",
        "properties": {
          "selectors": {
            "type": "array",
            "format": "",
            "description": "Optional. Selectors of the orchestration scope. There is a logical AND between each selector defined. When there is no explicit `ResourceHierarchySelector` selector specified, the scope is by default bounded to the parent of the policy orchestrator resource.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudOsconfigV2beta__PolicyOrchestrator": {
        "type": "object",
        "format": "",
        "description": "A policy orchestrator manages project-level and zone-level policy resources, such as OS policy assignments. It provides methods to create, update, and delete these resources across projects and locations at scale. The policy orchestrator operates as a continuous loop. In each iteration, the orchestrator identifies the set of resources to be modified and progressively applies changes. If the set of resources changes over time (for example, if you add new projects), subsequent iterations address those changes. The orchestrator can either upsert or delete policy resources. For more details, see the `action` and `orchestrated_resource` fields. The policy orchestrator does not manage the lifecycle of the resources it creates. Each iteration is independent and, besides Cloud Logging, the orchestrator retains only a minimal history of past actions. Deleting the orchestrator does not affect previously created resources; these resources remain in their current state. Similarly, removing projects from the orchestrator's scope does not affect existing resources.",
        "$ref": "",
        "properties": {
          "action": {
            "type": "string",
            "format": "",
            "description": "Required. Action to be done by the orchestrator in `projects/{project_id}/zones/{zone_id}` locations defined by the `orchestration_scope`. Allowed values: - `UPSERT` - Orchestrator will create or update target resources. - `DELETE` - Orchestrator will delete target resources, if they exist",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the policy orchestrator resource was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Freeform text describing the purpose of the resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "",
            "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. Labels as key value pairs",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "orchestratedResource": {
            "type": "",
            "format": "",
            "description": "Required. Resource to be orchestrated by the policy orchestrator.",
            "$ref": "GoogleCloudOsconfigV2beta__OrchestratedResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "orchestrationScope": {
            "type": "",
            "format": "",
            "description": "Optional. Defines scope for the orchestration, in context of the enclosing PolicyOrchestrator resource. Scope is expanded into a list of pairs, in which the rollout action will take place. Expansion starts with a Folder resource parenting the PolicyOrchestrator resource: - All the descendant projects are listed. - List of project is cross joined with a list of all available zones. - Resulting list of pairs is filtered according to the selectors.",
            "$ref": "GoogleCloudOsconfigV2beta__OrchestrationScope",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "orchestrationState": {
            "type": "",
            "format": "",
            "description": "Output only. State of the orchestration.",
            "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "reconciling": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Set to true, if there are ongoing changes being applied by the orchestrator.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Optional. State of the orchestrator. Can be updated to change orchestrator behaviour. Allowed values: - `ACTIVE` - orchestrator is actively looking for actions to be taken. - `STOPPED` - orchestrator won't make any changes. Note: There might be more states added in the future. We use string here instead of an enum, to avoid the need of propagating new states to all the client code.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the policy orchestrator resource was last modified.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListOperationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Operations.ListOperations.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operations": {
            "type": "array",
            "format": "",
            "description": "A list of operations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Operation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MessageSet": {
        "type": "object",
        "format": "",
        "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicy": {
        "type": "object",
        "format": "",
        "description": "An OS policy defines the desired state configuration for a VM.",
        "$ref": "",
        "properties": {
          "allowNoResourceGroupMatch": {
            "type": "boolean",
            "format": "",
            "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Policy description. Length of the description is limited to 1024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mode": {
            "type": "string",
            "format": "",
            "description": "Required. Policy mode",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "MODE_UNSPECIFIED",
              "VALIDATION",
              "ENFORCEMENT"
            ],
            "readOnly": false
          },
          "resourceGroups": {
            "type": "array",
            "format": "",
            "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyResourceGroup",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignment": {
        "type": "object",
        "format": "",
        "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
        "$ref": "",
        "properties": {
          "baseline": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deleted": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "OS policy assignment description. Length of the description is limited to 1024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "",
            "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "instanceFilter": {
            "type": "",
            "format": "",
            "description": "Required. Filter to select VMs.",
            "$ref": "OSPolicyAssignmentInstanceFilter",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "osPolicies": {
            "type": "array",
            "format": "",
            "description": "Required. List of OS policies to be applied to the VMs.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicy",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reconciling": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "revisionCreateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The timestamp that the revision was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "revisionId": {
            "type": "string",
            "format": "",
            "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "rollout": {
            "type": "",
            "format": "",
            "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
            "$ref": "OSPolicyAssignmentRollout",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutState": {
            "type": "string",
            "format": "",
            "description": "Output only. OS policy assignment rollout state",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ROLLOUT_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "CANCELLING",
              "CANCELLED",
              "SUCCEEDED"
            ],
            "readOnly": true
          },
          "uid": {
            "type": "string",
            "format": "",
            "description": "Output only. Server generated unique id for the OS policy assignment resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignmentInstanceFilter": {
        "type": "object",
        "format": "",
        "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
        "$ref": "",
        "properties": {
          "all": {
            "type": "boolean",
            "format": "",
            "description": "Target all VMs in the project. If true, no other criteria is permitted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exclusionLabels": {
            "type": "array",
            "format": "",
            "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyAssignmentLabelSet",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "inclusionLabels": {
            "type": "array",
            "format": "",
            "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyAssignmentLabelSet",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "inventories": {
            "type": "array",
            "format": "",
            "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyAssignmentInstanceFilterInventory",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignmentInstanceFilterInventory": {
        "type": "object",
        "format": "",
        "description": "VM inventory details.",
        "$ref": "",
        "properties": {
          "osShortName": {
            "type": "string",
            "format": "",
            "description": "Required. The OS short name",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "osVersion": {
            "type": "string",
            "format": "",
            "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignmentLabelSet": {
        "type": "object",
        "format": "",
        "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present.",
        "$ref": "",
        "properties": {
          "labels": {
            "type": "object",
            "format": "",
            "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignmentOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
        "$ref": "",
        "properties": {
          "apiMethod": {
            "type": "string",
            "format": "",
            "description": "The OS policy assignment API method.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "API_METHOD_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "readOnly": false
          },
          "osPolicyAssignment": {
            "type": "string",
            "format": "",
            "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutStartTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Rollout start time",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rolloutState": {
            "type": "string",
            "format": "",
            "description": "State of the rollout",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ROLLOUT_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "CANCELLING",
              "CANCELLED",
              "SUCCEEDED"
            ],
            "readOnly": false
          },
          "rolloutUpdateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Rollout update time",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyAssignmentRollout": {
        "type": "object",
        "format": "",
        "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
        "$ref": "",
        "properties": {
          "disruptionBudget": {
            "type": "",
            "format": "",
            "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
            "$ref": "FixedOrPercent",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minWaitDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyInventoryFilter": {
        "type": "object",
        "format": "",
        "description": "Filtering criteria to select VMs based on inventory details.",
        "$ref": "",
        "properties": {
          "osShortName": {
            "type": "string",
            "format": "",
            "description": "Required. The OS short name",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "osVersion": {
            "type": "string",
            "format": "",
            "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResource": {
        "type": "object",
        "format": "",
        "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
        "$ref": "",
        "properties": {
          "exec": {
            "type": "",
            "format": "",
            "description": "Exec resource",
            "$ref": "OSPolicyResourceExecResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "file": {
            "type": "",
            "format": "",
            "description": "File resource",
            "$ref": "OSPolicyResourceFileResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "pkg": {
            "type": "",
            "format": "",
            "description": "Package resource",
            "$ref": "OSPolicyResourcePackageResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repository": {
            "type": "",
            "format": "",
            "description": "Package repository resource",
            "$ref": "OSPolicyResourceRepositoryResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceExecResource": {
        "type": "object",
        "format": "",
        "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
        "$ref": "",
        "properties": {
          "enforce": {
            "type": "",
            "format": "",
            "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce.",
            "$ref": "OSPolicyResourceExecResourceExec",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "validate": {
            "type": "",
            "format": "",
            "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
            "$ref": "OSPolicyResourceExecResourceExec",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceExecResourceExec": {
        "type": "object",
        "format": "",
        "description": "A file or script to execute.",
        "$ref": "",
        "properties": {
          "args": {
            "type": "array",
            "format": "",
            "description": "Optional arguments to pass to the source during execution.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "file": {
            "type": "",
            "format": "",
            "description": "A remote or local file.",
            "$ref": "OSPolicyResourceFile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "interpreter": {
            "type": "string",
            "format": "",
            "description": "Required. The script interpreter to use.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "INTERPRETER_UNSPECIFIED",
              "NONE",
              "SHELL",
              "POWERSHELL"
            ],
            "readOnly": false
          },
          "outputFilePath": {
            "type": "string",
            "format": "",
            "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "script": {
            "type": "string",
            "format": "",
            "description": "An inline script. The size of the script is limited to 32KiB.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceFile": {
        "type": "object",
        "format": "",
        "description": "A remote or local file.",
        "$ref": "",
        "properties": {
          "allowInsecure": {
            "type": "boolean",
            "format": "",
            "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcs": {
            "type": "",
            "format": "",
            "description": "A Cloud Storage object.",
            "$ref": "OSPolicyResourceFileGcs",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "localPath": {
            "type": "string",
            "format": "",
            "description": "A local path within the VM to use.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "remote": {
            "type": "",
            "format": "",
            "description": "A generic remote file.",
            "$ref": "OSPolicyResourceFileRemote",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceFileGcs": {
        "type": "object",
        "format": "",
        "description": "Specifies a file available as a Cloud Storage Object.",
        "$ref": "",
        "properties": {
          "bucket": {
            "type": "string",
            "format": "",
            "description": "Required. Bucket of the Cloud Storage object.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "generation": {
            "type": "string",
            "format": "int64",
            "description": "Generation number of the Cloud Storage object.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "object": {
            "type": "string",
            "format": "",
            "description": "Required. Name of the Cloud Storage object.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceFileRemote": {
        "type": "object",
        "format": "",
        "description": "Specifies a file available via some URI.",
        "$ref": "",
        "properties": {
          "sha256Checksum": {
            "type": "string",
            "format": "",
            "description": "SHA256 checksum of the remote file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "uri": {
            "type": "string",
            "format": "",
            "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceFileResource": {
        "type": "object",
        "format": "",
        "description": "A resource that manages the state of a file.",
        "$ref": "",
        "properties": {
          "content": {
            "type": "string",
            "format": "",
            "description": "A file with this content. The size of the content is limited to 32KiB.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "file": {
            "type": "",
            "format": "",
            "description": "A remote or local source.",
            "$ref": "OSPolicyResourceFile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "path": {
            "type": "string",
            "format": "",
            "description": "Required. The absolute path of the file within the VM.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "permissions": {
            "type": "string",
            "format": "",
            "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Required. Desired state of the file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DESIRED_STATE_UNSPECIFIED",
              "PRESENT",
              "ABSENT",
              "CONTENTS_MATCH"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceGroup": {
        "type": "object",
        "format": "",
        "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
        "$ref": "",
        "properties": {
          "inventoryFilters": {
            "type": "array",
            "format": "",
            "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyInventoryFilter",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resources": {
            "type": "array",
            "format": "",
            "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OSPolicyResource",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResource": {
        "type": "object",
        "format": "",
        "description": "A resource that manages a system package.",
        "$ref": "",
        "properties": {
          "apt": {
            "type": "",
            "format": "",
            "description": "A package managed by Apt.",
            "$ref": "OSPolicyResourcePackageResourceAPT",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "deb": {
            "type": "",
            "format": "",
            "description": "A deb package file.",
            "$ref": "OSPolicyResourcePackageResourceDeb",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "desiredState": {
            "type": "string",
            "format": "",
            "description": "Required. The desired state the agent should maintain for this package.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DESIRED_STATE_UNSPECIFIED",
              "INSTALLED",
              "REMOVED"
            ],
            "readOnly": false
          },
          "googet": {
            "type": "",
            "format": "",
            "description": "A package managed by GooGet.",
            "$ref": "OSPolicyResourcePackageResourceGooGet",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "msi": {
            "type": "",
            "format": "",
            "description": "An MSI package.",
            "$ref": "OSPolicyResourcePackageResourceMSI",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rpm": {
            "type": "",
            "format": "",
            "description": "An rpm package file.",
            "$ref": "OSPolicyResourcePackageResourceRPM",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "yum": {
            "type": "",
            "format": "",
            "description": "A package managed by YUM.",
            "$ref": "OSPolicyResourcePackageResourceYUM",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "zypper": {
            "type": "",
            "format": "",
            "description": "A package managed by Zypper.",
            "$ref": "OSPolicyResourcePackageResourceZypper",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceAPT": {
        "type": "object",
        "format": "",
        "description": "A package managed by APT. - install: `apt-get update \u0026\u0026 apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. Package name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceDeb": {
        "type": "object",
        "format": "",
        "description": "A deb package file. dpkg packages only support INSTALLED state.",
        "$ref": "",
        "properties": {
          "pullDeps": {
            "type": "boolean",
            "format": "",
            "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update \u0026\u0026 apt-get -y install package.deb`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "source": {
            "type": "",
            "format": "",
            "description": "Required. A deb package.",
            "$ref": "OSPolicyResourceFile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceGooGet": {
        "type": "object",
        "format": "",
        "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. Package name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceMSI": {
        "type": "object",
        "format": "",
        "description": "An MSI package. MSI packages only support INSTALLED state.",
        "$ref": "",
        "properties": {
          "properties": {
            "type": "array",
            "format": "",
            "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "source": {
            "type": "",
            "format": "",
            "description": "Required. The MSI package.",
            "$ref": "OSPolicyResourceFile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceRPM": {
        "type": "object",
        "format": "",
        "description": "An RPM package file. RPM packages only support INSTALLED state.",
        "$ref": "",
        "properties": {
          "pullDeps": {
            "type": "boolean",
            "format": "",
            "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "source": {
            "type": "",
            "format": "",
            "description": "Required. An rpm package.",
            "$ref": "OSPolicyResourceFile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceYUM": {
        "type": "object",
        "format": "",
        "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. Package name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourcePackageResourceZypper": {
        "type": "object",
        "format": "",
        "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. Package name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceRepositoryResource": {
        "type": "object",
        "format": "",
        "description": "A resource that manages a package repository.",
        "$ref": "",
        "properties": {
          "apt": {
            "type": "",
            "format": "",
            "description": "An Apt Repository.",
            "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "goo": {
            "type": "",
            "format": "",
            "description": "A Goo Repository.",
            "$ref": "OSPolicyResourceRepositoryResourceGooRepository",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "yum": {
            "type": "",
            "format": "",
            "description": "A Yum Repository.",
            "$ref": "OSPolicyResourceRepositoryResourceYumRepository",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "zypper": {
            "type": "",
            "format": "",
            "description": "A Zypper Repository.",
            "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceRepositoryResourceAptRepository": {
        "type": "object",
        "format": "",
        "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`.",
        "$ref": "",
        "properties": {
          "archiveType": {
            "type": "string",
            "format": "",
            "description": "Required. Type of archive files in this repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ARCHIVE_TYPE_UNSPECIFIED",
              "DEB",
              "DEB_SRC"
            ],
            "readOnly": false
          },
          "components": {
            "type": "array",
            "format": "",
            "description": "Required. List of components for this repository. Must contain at least one item.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "distribution": {
            "type": "string",
            "format": "",
            "description": "Required. Distribution of this repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gpgKey": {
            "type": "string",
            "format": "",
            "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "uri": {
            "type": "string",
            "format": "",
            "description": "Required. URI for this repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceRepositoryResourceGooRepository": {
        "type": "object",
        "format": "",
        "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Required. The name of the repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "url": {
            "type": "string",
            "format": "",
            "description": "Required. The url of the repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceRepositoryResourceYumRepository": {
        "type": "object",
        "format": "",
        "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
        "$ref": "",
        "properties": {
          "baseUrl": {
            "type": "string",
            "format": "",
            "description": "Required. The location of the repository directory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The display name of the repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gpgKeys": {
            "type": "array",
            "format": "",
            "description": "URIs of GPG keys.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OSPolicyResourceRepositoryResourceZypperRepository": {
        "type": "object",
        "format": "",
        "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
        "$ref": "",
        "properties": {
          "baseUrl": {
            "type": "string",
            "format": "",
            "description": "Required. The location of the repository directory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The display name of the repository.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gpgKeys": {
            "type": "array",
            "format": "",
            "description": "URIs of GPG keys.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Operation": {
        "type": "object",
        "format": "",
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "$ref": "",
        "properties": {
          "done": {
            "type": "boolean",
            "format": "",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "error": {
            "type": "",
            "format": "",
            "description": "The error result of the operation in case of failure or cancellation.",
            "$ref": "Status",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "response": {
            "type": "object",
            "format": "",
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Status": {
        "type": "object",
        "format": "",
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "$ref": "",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
[...]
