{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://analyticshub.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_analyticshub_v1beta1",
  "version_qualifier": "v1beta1",
  "raw_spec": {
    "name": "analyticshub",
    "revision": "20260819",
    "discoveryVersion": "v1",
    "baseUrl": "https://analyticshub.googleapis.com/",
    "rootUrl": "https://analyticshub.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AuditConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
        "$ref": "",
        "properties": {
          "auditLogConfigs": {
            "type": "array",
            "format": "",
            "description": "The configuration for logging of each type of permission.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuditLogConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "service": {
            "type": "string",
            "format": "",
            "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuditLogConfig": {
        "type": "object",
        "format": "",
        "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
        "$ref": "",
        "properties": {
          "exemptedMembers": {
            "type": "array",
            "format": "",
            "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "logType": {
            "type": "string",
            "format": "",
            "description": "The log type that this config enables.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "ADMIN_READ",
              "DATA_WRITE",
              "DATA_READ"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BigQueryDatasetSource": {
        "type": "object",
        "format": "",
        "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
        "$ref": "",
        "properties": {
          "dataset": {
            "type": "string",
            "format": "",
            "description": "Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Binding": {
        "type": "object",
        "format": "",
        "description": "Associates `members`, or principals, with a `role`.",
        "$ref": "",
        "properties": {
          "condition": {
            "type": "",
            "format": "",
            "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "Expr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "members": {
            "type": "array",
            "format": "",
            "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "role": {
            "type": "string",
            "format": "",
            "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CommercialInfo": {
        "type": "object",
        "format": "",
        "description": "Commercial info metadata for this subscription.",
        "$ref": "",
        "properties": {
          "cloudMarketplace": {
            "type": "",
            "format": "",
            "description": "Output only. This is set when the subscription is commercialised via Cloud Marketplace.",
            "$ref": "GoogleCloudMarketplaceInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DataExchange": {
        "type": "object",
        "format": "",
        "description": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (\u0026) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "documentation": {
            "type": "string",
            "format": "",
            "description": "Optional. Documentation describing the data exchange.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "icon": {
            "type": "string",
            "format": "byte",
            "description": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "listingCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of listings contained in the data exchange.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "primaryContact": {
            "type": "string",
            "format": "",
            "description": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DataProvider": {
        "type": "object",
        "format": "",
        "description": "Contains details of the data provider.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Optional. Name of the data provider.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "primaryContact": {
            "type": "string",
            "format": "",
            "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DestinationDataset": {
        "type": "object",
        "format": "",
        "description": "Defines the destination bigquery dataset.",
        "$ref": "",
        "properties": {
          "datasetReference": {
            "type": "",
            "format": "",
            "description": "Required. A reference that identifies the destination dataset.",
            "$ref": "DestinationDatasetReference",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. A user-friendly description of the dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "friendlyName": {
            "type": "string",
            "format": "",
            "description": "Optional. A descriptive name for the dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "replicaLocations": {
            "type": "array",
            "format": "",
            "description": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DestinationDatasetReference": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "datasetId": {
            "type": "string",
            "format": "",
            "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "projectId": {
            "type": "string",
            "format": "",
            "description": "Required. The ID of the project containing this dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Expr": {
        "type": "object",
        "format": "",
        "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' \u0026\u0026 document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "expression": {
            "type": "string",
            "format": "",
            "description": "Textual representation of an expression in Common Expression Language syntax.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "title": {
            "type": "string",
            "format": "",
            "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GetIamPolicyRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `GetIamPolicy` method.",
        "$ref": "",
        "properties": {
          "options": {
            "type": "",
            "format": "",
            "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
            "$ref": "GetPolicyOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GetPolicyOptions": {
        "type": "object",
        "format": "",
        "description": "Encapsulates settings provided to GetIamPolicy.",
        "$ref": "",
        "properties": {
          "requestedPolicyVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBigqueryDataexchangeV1beta1DestinationDataset": {
        "type": "object",
        "format": "",
        "description": "Defines the destination bigquery dataset.",
        "$ref": "",
        "properties": {
          "datasetReference": {
            "type": "",
            "format": "",
            "description": "Required. A reference that identifies the destination dataset.",
            "$ref": "GoogleCloudBigqueryDataexchangeV1beta1DestinationDatasetReference",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. A user-friendly description of the dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "friendlyName": {
            "type": "string",
            "format": "",
            "description": "Optional. A descriptive name for the dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBigqueryDataexchangeV1beta1DestinationDatasetReference": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "datasetId": {
            "type": "string",
            "format": "",
            "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "projectId": {
            "type": "string",
            "format": "",
            "description": "Required. The ID of the project containing this dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudMarketplaceInfo": {
        "type": "object",
        "format": "",
        "description": "Cloud Marketplace commercial metadata for this subscription.",
        "$ref": "",
        "properties": {
          "order": {
            "type": "string",
            "format": "",
            "description": "Resource name of the Marketplace Order.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "LinkedResource": {
        "type": "object",
        "format": "",
        "description": "Reference to a linked resource tracked by this Subscription.",
        "$ref": "",
        "properties": {
          "linkedDataset": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "linkedPubsubSubscription": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the Pub/Sub subscription, e.g. projects/subscriberproject/subscriptions/subscriptions/sub_id",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "listing": {
            "type": "string",
            "format": "",
            "description": "Output only. Listing for which linked resource is created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListDataExchangesResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response to the list of data exchanges.",
        "$ref": "",
        "properties": {
          "dataExchanges": {
            "type": "array",
            "format": "",
            "description": "The list of data exchanges.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "DataExchange",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token to request the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListListingsResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response to the list of Listings.",
        "$ref": "",
        "properties": {
          "listings": {
            "type": "array",
            "format": "",
            "description": "The list of Listing.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Listing",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token to request the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListOrgDataExchangesResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response to listing data exchanges in an organization and location.",
        "$ref": "",
        "properties": {
          "dataExchanges": {
            "type": "array",
            "format": "",
            "description": "The list of data exchanges.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "DataExchange",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token to request the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Listing": {
        "type": "object",
        "format": "",
        "description": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data.",
        "$ref": "",
        "properties": {
          "allowOnlyMetadataSharing": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "bigqueryDataset": {
            "type": "",
            "format": "",
            "description": "Required. Shared dataset i.e. BigQuery dataset source.",
            "$ref": "BigQueryDatasetSource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "categories": {
            "type": "array",
            "format": "",
            "description": "Optional. Categories of the listing. Up to five categories are allowed.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "CATEGORY_OTHERS",
                "CATEGORY_ADVERTISING_AND_MARKETING",
                "CATEGORY_COMMERCE",
                "CATEGORY_CLIMATE_AND_ENVIRONMENT",
                "CATEGORY_DEMOGRAPHICS",
                "CATEGORY_ECONOMICS",
                "CATEGORY_EDUCATION",
                "CATEGORY_ENERGY",
                "CATEGORY_FINANCIAL",
                "CATEGORY_GAMING",
                "CATEGORY_GEOSPATIAL",
                "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE",
                "CATEGORY_MEDIA",
                "CATEGORY_PUBLIC_SECTOR",
                "CATEGORY_RETAIL",
                "CATEGORY_SPORTS",
                "CATEGORY_SCIENCE_AND_RESEARCH",
                "CATEGORY_TRANSPORTATION_AND_LOGISTICS",
                "CATEGORY_TRAVEL_AND_TOURISM",
                "CATEGORY_GOOGLE_EARTH_ENGINE"
              ],
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dataProvider": {
            "type": "",
            "format": "",
            "description": "Optional. Details of the data provider who owns the source data.",
            "$ref": "DataProvider",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (\u0026) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "documentation": {
            "type": "string",
            "format": "",
            "description": "Optional. Documentation describing the listing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "icon": {
            "type": "string",
            "format": "byte",
            "description": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "primaryContact": {
            "type": "string",
            "format": "",
            "description": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "publisher": {
            "type": "",
            "format": "",
            "description": "Optional. Details of the publisher who owns the listing and who can share the source data.",
            "$ref": "Publisher",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestAccess": {
            "type": "string",
            "format": "",
            "description": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "restrictedExportConfig": {
            "type": "",
            "format": "",
            "description": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset. This is a required field for data clean room exchanges.",
            "$ref": "RestrictedExportConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. Current state of the listing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "ACTIVE"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of a long-running operation in Analytics Hub.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Policy": {
        "type": "object",
        "format": "",
        "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
        "$ref": "",
        "properties": {
          "auditConfigs": {
            "type": "array",
            "format": "",
            "description": "Specifies cloud audit logging configuration for this policy.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuditConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "bindings": {
            "type": "array",
            "format": "",
            "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Binding",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "byte",
            "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Publisher": {
        "type": "object",
        "format": "",
        "description": "Contains details of the listing publisher.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Optional. Name of the listing publisher.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "primaryContact": {
            "type": "string",
            "format": "",
            "description": "Optional. Email or URL of the listing publisher. Max Length: 1000 bytes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "RefreshSubscriptionResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response when you refresh a subscription.",
        "$ref": "",
        "properties": {
          "subscription": {
            "type": "",
            "format": "",
            "description": "The refreshed subscription resource.",
            "$ref": "Subscription",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "RestrictedExportConfig": {
        "type": "object",
        "format": "",
        "description": "Restricted export config, used to configure restricted export on linked dataset.",
        "$ref": "",
        "properties": {
          "enabled": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If true, enable restricted export.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "restrictDirectTableAccess": {
            "type": "boolean",
            "format": "",
            "description": "Output only. If true, restrict direct table access(read api/tabledata.list) on linked table.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "restrictQueryResult": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If true, restrict export of query result derived from restricted linked dataset table.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SetIamPolicyRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `SetIamPolicy` method.",
        "$ref": "",
        "properties": {
          "policy": {
            "type": "",
            "format": "",
            "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
            "$ref": "Policy",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SubscribeDataExchangeResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response when you subscribe to a Data Exchange.",
        "$ref": "",
        "properties": {
          "subscription": {
            "type": "",
            "format": "",
            "description": "Subscription object created from this subscribe action.",
            "$ref": "Subscription",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SubscribeListingRequest": {
        "type": "object",
        "format": "",
        "description": "Message for subscribing to a listing.",
        "$ref": "",
        "properties": {
          "destinationDataset": {
            "type": "",
            "format": "",
            "description": "BigQuery destination dataset to create for the subscriber.",
            "$ref": "GoogleCloudBigqueryDataexchangeV1beta1DestinationDataset",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SubscribeListingResponse": {
        "type": "object",
        "format": "",
        "description": "Message for response when you subscribe to a listing.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Subscription": {
        "type": "object",
        "format": "",
        "description": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets.",
        "$ref": "",
        "properties": {
          "commercialInfo": {
            "type": "",
            "format": "",
            "description": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing.",
            "$ref": "CommercialInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "creationTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the subscription was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "dataExchange": {
            "type": "string",
            "format": "",
            "description": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "destinationDataset": {
            "type": "",
            "format": "",
            "description": "Optional. BigQuery destination dataset to create for the subscriber.",
            "$ref": "DestinationDataset",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "lastModifyTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the subscription was last modified.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "linkedDatasetMap": {
            "type": "object",
            "format": "",
            "description": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -\u003e projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "LinkedResource",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": true
          },
          "linkedResources": {
            "type": "array",
            "format": "",
            "description": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "LinkedResource",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "listing": {
            "type": "string",
            "format": "",
            "description": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "logLinkedDatasetQueryUserEmail": {
            "type": "boolean",
            "format": "",
            "description": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "organizationDisplayName": {
            "type": "string",
            "format": "",
            "description": "Output only. Display name of the project of this subscription.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "organizationId": {
            "type": "string",
            "format": "",
            "description": "Output only. Organization of the project this subscription belongs to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "resourceType": {
            "type": "string",
            "format": "",
            "description": "Output only. Listing shared asset type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SHARED_RESOURCE_TYPE_UNSPECIFIED",
              "BIGQUERY_DATASET",
              "PUBSUB_TOPIC"
            ],
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. Current state of the subscription.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "STATE_ACTIVE",
              "STATE_STALE",
              "STATE_INACTIVE"
            ],
            "readOnly": true
          },
          "subscriberContact": {
            "type": "string",
            "format": "",
            "description": "Output only. Email of the subscriber.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TestIamPermissionsRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `TestIamPermissions` method.",
        "$ref": "",
        "properties": {
          "permissions": {
            "type": "array",
            "format": "",
            "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TestIamPermissionsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `TestIamPermissions` method.",
        "$ref": "",
        "properties": {
          "permissions": {
            "type": "array",
            "format": "",
            "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "organizations": {
        "methods": null,
        "resources": {
          "locations": {
            "methods": null,
            "resources": {
              "dataExchanges": {
                "methods": {
                  "list": {
                    "id": "analyticshub.organizations.locations.dataExchanges.list",
                    "httpMethod": "GET",
                    "path": "v1beta1/{+organization}/dataExchanges",
                    "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dataExchanges",
                    "description": "Lists all data exchanges from projects in a given organization and location.",
                    "parameters": {
                      "organization": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "organization"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListOrgDataExchangesResponse"
                    }
                  }
                },
                "resources": null
              }
            }
          }
        }
      },
      "projects": {
        "methods": null,
        "resources": {
          "locations": {
            "methods": null,
            "resources": {
              "dataExchanges": {
                "methods": {
                  "create": {
                    "id": "analyticshub.projects.locations.dataExchanges.create",
                    "httpMethod": "POST",
                    "path": "v1beta1/{+parent}/dataExchanges",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                    "description": "Creates a new data exchange.",
                    "parameters": {
                      "dataExchangeId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": {
                      "$ref": "DataExchange"
                    },
                    "response": {
                      "$ref": "DataExchange"
                    }
                  },
                  "delete": {
                    "id": "analyticshub.projects.locations.dataExchanges.delete",
                    "httpMethod": "DELETE",
                    "path": "v1beta1/{+name}",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                    "description": "Deletes an existing data exchange.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Empty"
                    }
                  },
                  "get": {
                    "id": "analyticshub.projects.locations.dataExchanges.get",
                    "httpMethod": "GET",
                    "path": "v1beta1/{+name}",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                    "description": "Gets the details of a data exchange.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "DataExchange"
                    }
                  },
                  "getIamPolicy": {
                    "id": "analyticshub.projects.locations.dataExchanges.getIamPolicy",
                    "httpMethod": "POST",
                    "path": "v1beta1/{+resource}:getIamPolicy",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:getIamPolicy",
                    "description": "Gets the IAM policy.",
                    "parameters": {
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": {
                      "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                      "$ref": "Policy"
                    }
                  },
                  "list": {
                    "id": "analyticshub.projects.locations.dataExchanges.list",
                    "httpMethod": "GET",
                    "path": "v1beta1/{+parent}/dataExchanges",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                    "description": "Lists all data exchanges in a given project and location.",
                    "parameters": {
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListDataExchangesResponse"
                    }
                  },
                  "patch": {
                    "id": "analyticshub.projects.locations.dataExchanges.patch",
                    "httpMethod": "PATCH",
                    "path": "v1beta1/{+name}",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                    "description": "Updates an existing data exchange.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "updateMask": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "DataExchange"
                    },
                    "response": {
                      "$ref": "DataExchange"
                    }
                  },
                  "setIamPolicy": {
                    "id": "analyticshub.projects.locations.dataExchanges.setIamPolicy",
                    "httpMethod": "POST",
                    "path": "v1beta1/{+resource}:setIamPolicy",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:setIamPolicy",
                    "description": "Sets the IAM policy.",
                    "parameters": {
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": {
                      "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                      "$ref": "Policy"
                    }
                  },
                  "testIamPermissions": {
                    "id": "analyticshub.projects.locations.dataExchanges.testIamPermissions",
                    "httpMethod": "POST",
                    "path": "v1beta1/{+resource}:testIamPermissions",
                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:testIamPermissions",
                    "description": "Returns the permissions that a caller has.",
                    "parameters": {
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": {
                      "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                      "$ref": "TestIamPermissionsResponse"
                    }
                  }
                },
                "resources": {
                  "listings": {
                    "methods": {
                      "create": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.create",
                        "httpMethod": "POST",
                        "path": "v1beta1/{+parent}/listings",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                        "description": "Creates a new listing.",
                        "parameters": {
                          "listingId": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": {
                          "$ref": "Listing"
                        },
                        "response": {
                          "$ref": "Listing"
                        }
                      },
                      "delete": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.delete",
                        "httpMethod": "DELETE",
                        "path": "v1beta1/{+name}",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                        "description": "Deletes a listing.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "Empty"
                        }
                      },
                      "get": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.get",
                        "httpMethod": "GET",
                        "path": "v1beta1/{+name}",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                        "description": "Gets the details of a listing.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "Listing"
                        }
                      },
                      "getIamPolicy": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.getIamPolicy",
                        "httpMethod": "POST",
                        "path": "v1beta1/{+resource}:getIamPolicy",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:getIamPolicy",
                        "description": "Gets the IAM policy.",
                        "parameters": {
                          "resource": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "resource"
                        ],
                        "request": {
                          "$ref": "GetIamPolicyRequest"
                        },
                        "response": {
                          "$ref": "Policy"
                        }
                      },
                      "list": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.list",
                        "httpMethod": "GET",
                        "path": "v1beta1/{+parent}/listings",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                        "description": "Lists all listings in a given project and location.",
                        "parameters": {
                          "pageSize": {
                            "type": "integer",
                            "location": "query",
                            "required": false
                          },
                          "pageToken": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "ListListingsResponse"
                        }
                      },
                      "patch": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.patch",
                        "httpMethod": "PATCH",
                        "path": "v1beta1/{+name}",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                        "description": "Updates an existing listing.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          },
                          "updateMask": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": {
                          "$ref": "Listing"
                        },
                        "response": {
                          "$ref": "Listing"
                        }
                      },
                      "setIamPolicy": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.setIamPolicy",
                        "httpMethod": "POST",
                        "path": "v1beta1/{+resource}:setIamPolicy",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:setIamPolicy",
                        "description": "Sets the IAM policy.",
                        "parameters": {
                          "resource": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "resource"
                        ],
                        "request": {
                          "$ref": "SetIamPolicyRequest"
                        },
                        "response": {
                          "$ref": "Policy"
                        }
                      },
                      "subscribe": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.subscribe",
                        "httpMethod": "POST",
                        "path": "v1beta1/{+name}:subscribe",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:subscribe",
                        "description": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": {
                          "$ref": "SubscribeListingRequest"
                        },
                        "response": {
                          "$ref": "SubscribeListingResponse"
                        }
                      },
                      "testIamPermissions": {
                        "id": "analyticshub.projects.locations.dataExchanges.listings.testIamPermissions",
                        "httpMethod": "POST",
                        "path": "v1beta1/{+resource}:testIamPermissions",
                        "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:testIamPermissions",
                        "description": "Returns the permissions that a caller has.",
                        "parameters": {
                          "resource": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "resource"
                        ],
                        "request": {
                          "$ref": "TestIamPermissionsRequest"
                        },
                        "response": {
                          "$ref": "TestIamPermissionsResponse"
                        }
                      }
                    },
                    "resources": null
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schema_url": "https://analyticshub.googleapis.com/$discovery/rest?version=v1beta1"
}
