{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://firebaseappdistribution.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_firebaseappdistribution_v1alpha",
  "version_qualifier": "v1alpha",
  "raw_spec": {
    "name": "firebaseappdistribution",
    "revision": "20260824",
    "discoveryVersion": "v1",
    "baseUrl": "https://firebaseappdistribution.googleapis.com/",
    "rootUrl": "https://firebaseappdistribution.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AndroidxCrawlerOutputPoint": {
        "type": "object",
        "format": "",
        "description": "Point for describing bounding boxes tap locations Top left is 0,0",
        "$ref": "",
        "properties": {
          "xCoordinate": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "yCoordinate": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AndroidxCrawlerOutputRectangle": {
        "type": "object",
        "format": "",
        "description": "Rectangle for describing bounding boxes",
        "$ref": "",
        "properties": {
          "bottom": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "left": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "right": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "top": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1Release": {
        "type": "object",
        "format": "",
        "description": "A release of a Firebase app.",
        "$ref": "",
        "properties": {
          "acceptedInvitationCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of testers with accepted invitations.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "androidPackageRegistrationState": {
            "type": "string",
            "format": "",
            "description": "Output only. Registration state of the Android package (BinaryType.APK).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
              "REGISTERED",
              "NOT_REGISTERED",
              "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
            ],
            "readOnly": true
          },
          "binaryDownloadUri": {
            "type": "string",
            "format": "",
            "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "binaryType": {
            "type": "string",
            "format": "",
            "description": "Output only. Type of binary.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "BINARY_TYPE_UNSPECIFIED",
              "IPA",
              "APK",
              "AAB"
            ],
            "readOnly": true
          },
          "buildVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the release was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the release will expire.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "feedbackCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of feedback reports left by testers.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "firebaseConsoleUri": {
            "type": "string",
            "format": "",
            "description": "Output only. A link to the Firebase console displaying a single release.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "installationCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of testers who have downloaded this release.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "openInvitationCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "releaseNotes": {
            "type": "",
            "format": "",
            "description": "Notes about the release.",
            "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testState": {
            "type": "string",
            "format": "",
            "description": "Output only. The overall state of tests run on this release",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TEST_STATE_UNSPECIFIED",
              "NO_TESTS_REQUESTED",
              "IN_PROGRESS",
              "PASSED",
              "FAILED",
              "INCONCLUSIVE"
            ],
            "readOnly": true
          },
          "testingUri": {
            "type": "string",
            "format": "",
            "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the release was last updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1ReleaseNotes": {
        "type": "object",
        "format": "",
        "description": "Notes that belong to a release.",
        "$ref": "",
        "properties": {
          "text": {
            "type": "string",
            "format": "",
            "description": "The text of the release notes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
        "type": "object",
        "format": "",
        "description": "Operation metadata for `UploadRelease`.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `UploadRelease`.",
        "$ref": "",
        "properties": {
          "release": {
            "type": "",
            "format": "",
            "description": "Release associated with the uploaded binary.",
            "$ref": "GoogleFirebaseAppdistroV1Release",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "result": {
            "type": "string",
            "format": "",
            "description": "Result of upload release.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
              "RELEASE_CREATED",
              "RELEASE_UPDATED",
              "RELEASE_UNMODIFIED"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAabCertificate": {
        "type": "object",
        "format": "",
        "description": "App bundle test certificate",
        "$ref": "",
        "properties": {
          "certificateHashMd5": {
            "type": "string",
            "format": "",
            "description": "MD5 hash of the certificate used to resign the AAB",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "certificateHashSha1": {
            "type": "string",
            "format": "",
            "description": "SHA1 hash of the certificate used to resign the AAB",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "certificateHashSha256": {
            "type": "string",
            "format": "",
            "description": "SHA256 hash of the certificate used to resign the AAB",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAiInstructions": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "steps": {
            "type": "array",
            "format": "",
            "description": "Required. Steps to be accomplished by the AI",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAiStep": {
        "type": "object",
        "format": "",
        "description": "A step to be accomplished by the AI",
        "$ref": "",
        "properties": {
          "assertion": {
            "type": "string",
            "format": "",
            "description": "An assertion to be checked by the AI",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "goal": {
            "type": "string",
            "format": "",
            "description": "A goal to be accomplished by the AI",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "hint": {
            "type": "string",
            "format": "",
            "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "successCriteria": {
            "type": "string",
            "format": "",
            "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCase": {
            "type": "string",
            "format": "",
            "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAiStepResult": {
        "type": "object",
        "format": "",
        "description": "Captures the results of an AiStep",
        "$ref": "",
        "properties": {
          "assertionDetails": {
            "type": "",
            "format": "",
            "description": "Output only. Details for an assertion step.",
            "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "goalDetails": {
            "type": "",
            "format": "",
            "description": "Output only. Details for a goal step.",
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The current state of the step",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STEP_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "PASSED",
              "FAILED",
              "TIMED_OUT",
              "GOAL_ACTION_LIMIT_REACHED"
            ],
            "readOnly": true
          },
          "step": {
            "type": "",
            "format": "",
            "description": "Required. The step performed by the AI",
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaApp": {
        "type": "object",
        "format": "",
        "description": "An app.",
        "$ref": "",
        "properties": {
          "aabCertificate": {
            "type": "",
            "format": "",
            "description": "App bundle test certificate generated for the app.",
            "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "aabState": {
            "type": "string",
            "format": "",
            "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AAB_STATE_UNSPECIFIED",
              "ACTIVE",
              "PLAY_ACCOUNT_NOT_LINKED",
              "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
              "APP_NOT_PUBLISHED",
              "AAB_STATE_UNAVAILABLE",
              "PLAY_IAS_TERMS_NOT_ACCEPTED"
            ],
            "readOnly": false
          },
          "appId": {
            "type": "string",
            "format": "",
            "description": "Firebase gmp app id",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "bundleId": {
            "type": "string",
            "format": "",
            "description": "Bundle identifier",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "contactEmail": {
            "type": "string",
            "format": "",
            "description": "Developer contact email for testers to reach out to about privacy or support issues.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "platform": {
            "type": "string",
            "format": "",
            "description": "iOS or Android",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "projectNumber": {
            "type": "string",
            "format": "",
            "description": "Project number of the Firebase project, for example 300830567303.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAppCrash": {
        "type": "object",
        "format": "",
        "description": "An app crash that occurred during an automated test.",
        "$ref": "",
        "properties": {
          "message": {
            "type": "string",
            "format": "",
            "description": "Output only. The message associated with the crash.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "stackTrace": {
            "type": "string",
            "format": "",
            "description": "Output only. The raw stack trace.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
        "type": "object",
        "format": "",
        "description": "Details for an assertion step.",
        "$ref": "",
        "properties": {
          "explanation": {
            "type": "string",
            "format": "",
            "description": "Output only. An explanation justifying the assertion result.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "result": {
            "type": "boolean",
            "format": "",
            "description": "Output only. The result of the assertion.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "screenshot": {
            "type": "",
            "format": "",
            "description": "Output only. The screenshot used in the context of this assertion.",
            "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for `BatchDeleteTestCase`.",
        "$ref": "",
        "properties": {
          "names": {
            "type": "array",
            "format": "",
            "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for `BatchUpdateTestCase`.",
        "$ref": "",
        "properties": {
          "requests": {
            "type": "array",
            "format": "",
            "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `BatchUpdateTestCase`.",
        "$ref": "",
        "properties": {
          "testCases": {
            "type": "array",
            "format": "",
            "description": "The updated test cases.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
        "type": "object",
        "format": "",
        "description": "The (empty) response message for `CancelReleaseTest`.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `ClearTestCaseCache`.",
        "$ref": "",
        "properties": {
          "testDevices": {
            "type": "array",
            "format": "",
            "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
        "type": "object",
        "format": "",
        "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for `CreateReleaseNotes`.",
        "$ref": "",
        "properties": {
          "releaseNotes": {
            "type": "",
            "format": "",
            "description": "The actual release notes body from the user",
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `CreateReleaseNotes`.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceAction": {
        "type": "object",
        "format": "",
        "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Output only. A short description of the high level action taken by the AI agent.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deviceInteractions": {
            "type": "array",
            "format": "",
            "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
        "type": "object",
        "format": "",
        "description": "The results of running an automated test on a particular device.",
        "$ref": "",
        "properties": {
          "aiStepResults": {
            "type": "array",
            "format": "",
            "description": "Output only. Results of the AI steps if passed in",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "appCrash": {
            "type": "",
            "format": "",
            "description": "Output only. An app crash, if any occurred during the test.",
            "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "crawlGraphUri": {
            "type": "string",
            "format": "",
            "description": "Output only. A URI to an image of the Robo crawl graph.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "device": {
            "type": "",
            "format": "",
            "description": "Required. The device that the test was run on.",
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "executionType": {
            "type": "string",
            "format": "",
            "description": "Output only. The type of execution for the test.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "EXECUTION_TYPE_UNSPECIFIED",
              "AI",
              "ACTION_BASED_REPLAY",
              "AI_REPLAY",
              "RANDOM_CRAWL"
            ],
            "readOnly": true
          },
          "failedReason": {
            "type": "string",
            "format": "",
            "description": "Output only. The reason why the test failed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "FAILED_REASON_UNSPECIFIED",
              "CRASHED",
              "NOT_INSTALLED",
              "UNABLE_TO_CRAWL",
              "DEVICE_OUT_OF_MEMORY",
              "FAILED_AI_STEP",
              "TIMED_OUT"
            ],
            "readOnly": true
          },
          "finalAiAssertionMissing": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "inconclusiveReason": {
            "type": "string",
            "format": "",
            "description": "Output only. The reason why the test was inconclusive.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "INCONCLUSIVE_REASON_UNSPECIFIED",
              "QUOTA_EXCEEDED",
              "INFRASTRUCTURE_FAILURE",
              "SERVICE_NOT_ACTIVATED",
              "NO_SIGNATURE",
              "NO_LAUNCHER_ACTIVITY",
              "FORBIDDEN_PERMISSIONS",
              "DEVICE_ADMIN_RECEIVER",
              "NO_CODE_APK",
              "INVALID_APK_PREVIEW_SDK"
            ],
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "originDeviceExecution": {
            "type": "string",
            "format": "",
            "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "resultsStoragePath": {
            "type": "string",
            "format": "",
            "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "roboStats": {
            "type": "",
            "format": "",
            "description": "Output only. The statistics collected during the Robo test.",
            "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "screenshotUris": {
            "type": "array",
            "format": "",
            "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the test.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TEST_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "PASSED",
              "FAILED",
              "INCONCLUSIVE"
            ],
            "readOnly": true
          },
          "videoStartTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the video started recording.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "videoUri": {
            "type": "string",
            "format": "",
            "description": "Output only. A URI to a video of the test run.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
        "type": "object",
        "format": "",
        "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
        "$ref": "",
        "properties": {
          "backAction": {
            "type": "",
            "format": "",
            "description": "Output only. A back action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "dragAndDrop": {
            "type": "",
            "format": "",
            "description": "Output only. A drag and drop action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "enterText": {
            "type": "",
            "format": "",
            "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "keyCode": {
            "type": "string",
            "format": "",
            "description": "Output only. Key code for a key event action.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "longPress": {
            "type": "",
            "format": "",
            "description": "Output only. A long press (tap and hold) action.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "screenshot": {
            "type": "",
            "format": "",
            "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
            "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "swipe": {
            "type": "",
            "format": "",
            "description": "Output only. A swipe action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "tap": {
            "type": "",
            "format": "",
            "description": "Output only. A tap action.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "targetFoldedState": {
            "type": "string",
            "format": "",
            "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "targetOrientation": {
            "type": "string",
            "format": "",
            "description": "Output only. The target orientation of the device in a set orientation action.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ORIENTATION_UNSPECIFIED",
              "PORTRAIT",
              "LANDSCAPE"
            ],
            "readOnly": true
          },
          "textInput": {
            "type": "string",
            "format": "",
            "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "wait": {
            "type": "",
            "format": "",
            "description": "Output only. A wait action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
        "type": "object",
        "format": "",
        "description": "A back action.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
        "type": "object",
        "format": "",
        "description": "A drag and drop action.",
        "$ref": "",
        "properties": {
          "end": {
            "type": "",
            "format": "",
            "description": "Output only. The end point of the drag and drop.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "start": {
            "type": "",
            "format": "",
            "description": "Output only. The start point of the drag and drop.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
        "type": "object",
        "format": "",
        "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
        "$ref": "",
        "properties": {
          "elementBounds": {
            "type": "",
            "format": "",
            "description": "Output only. The visible bounds of the element to enter text into.",
            "$ref": "AndroidxCrawlerOutputRectangle",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "text": {
            "type": "string",
            "format": "",
            "description": "Output only. The text to enter.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
        "type": "object",
        "format": "",
        "description": "A swipe action.",
        "$ref": "",
        "properties": {
          "end": {
            "type": "",
            "format": "",
            "description": "Output only. The end point of the swipe.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "start": {
            "type": "",
            "format": "",
            "description": "Output only. The start point of the swipe.",
            "$ref": "AndroidxCrawlerOutputPoint",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
        "type": "object",
        "format": "",
        "description": "A wait action.",
        "$ref": "",
        "properties": {
          "duration": {
            "type": "string",
            "format": "google-duration",
            "description": "Output only. The duration of the wait.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for `EnableAccessOnRelease`.",
        "$ref": "",
        "properties": {
          "buildVersion": {
            "type": "string",
            "format": "",
            "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayVersion": {
            "type": "string",
            "format": "",
            "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "emails": {
            "type": "array",
            "format": "",
            "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "groupIds": {
            "type": "array",
            "format": "",
            "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `EnableAccessOnRelease`.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
        "type": "object",
        "format": "",
        "description": "Response object to get the release given a upload hash",
        "$ref": "",
        "properties": {
          "release": {
            "type": "",
            "format": "",
            "description": "Release object",
            "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
        "type": "object",
        "format": "",
        "description": "Response containing the UDIDs of tester iOS devices in a project",
        "$ref": "",
        "properties": {
          "testerUdids": {
            "type": "array",
            "format": "",
            "description": "The UDIDs of tester iOS devices in a project",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `GetUploadStatus`.",
        "$ref": "",
        "properties": {
          "errorCode": {
            "type": "string",
            "format": "",
            "description": "The error code associated with (only set on \"FAILURE\")",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ERROR_UNSPECIFIED",
              "INVALID_ZIP",
              "MISSING_PLIST",
              "MISSING_PROFILE",
              "VERSION_TOO_LONG",
              "MISSING_UUIDS",
              "MISSING_RESOURCES",
              "MISSING_MANIFEST",
              "IOS_METADATA_ERROR",
              "ANDROID_METADATA_ERROR",
              "UNSUPPORTED_PLATFORM_TYPE",
              "BUNDLE_ID_MISMATCH",
              "APK_NOT_ZIP_ALIGNED",
              "INVALID_CERTIFICATE",
              "APK_TOO_LARGE",
              "AAB_NOT_PUBLISHED",
              "INVALID_PLIST_DEVICE_FAMILIES",
              "AAB_TOS_NOT_ACCEPTED",
              "APP_NAME_TOO_LONG",
              "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
              "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
              "AAB_UPLOAD_ERROR",
              "APP_NOT_FOUND",
              "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
              "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
              "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
            ],
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "release": {
            "type": "",
            "format": "",
            "description": "The release that was created from the upload (only set on \"SUCCESS\")",
            "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "string",
            "format": "",
            "description": "The status of the upload",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATUS_UNSPECIFIED",
              "IN_PROGRESS",
              "ALREADY_UPLOADED",
              "SUCCESS",
              "ERROR"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGoalAction": {
        "type": "object",
        "format": "",
        "description": "An action taken by the AI agent while attempting to accomplish a goal.",
        "$ref": "",
        "properties": {
          "cachingType": {
            "type": "string",
            "format": "",
            "description": "Output only. The type of caching used to determine the action.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CACHING_TYPE_UNSPECIFIED",
              "NO_CACHING",
              "CACHE_AND_MODEL",
              "CACHE_ONLY"
            ],
            "readOnly": true
          },
          "debugInfo": {
            "type": "",
            "format": "",
            "description": "Output only. Debug information explaining why the agent to the specific action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deviceAction": {
            "type": "",
            "format": "",
            "description": "Output only. A high level action taken by the AI on the device.",
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "explanation": {
            "type": "string",
            "format": "",
            "description": "Output only. An explanation justifying why the action was taken.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the action started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "terminalAction": {
            "type": "",
            "format": "",
            "description": "Output only. An action taken by the AI to end the goal.",
            "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
        "type": "object",
        "format": "",
        "description": "Information to help the customer understand why the agent took this action.",
        "$ref": "",
        "properties": {
          "annotatedScreenshotUri": {
            "type": "string",
            "format": "",
            "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "jsonUri": {
            "type": "string",
            "format": "",
            "description": "Output only. Structured data explaining the agent's choice.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaGoalDetails": {
        "type": "object",
        "format": "",
        "description": "Details for a goal step.",
        "$ref": "",
        "properties": {
          "goalActions": {
            "type": "array",
            "format": "",
            "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaJwt": {
        "type": "object",
        "format": "",
        "description": "A JWT token.",
        "$ref": "",
        "properties": {
          "token": {
            "type": "string",
            "format": "",
            "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `ListReleaseTests`.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "releaseTests": {
            "type": "array",
            "format": "",
            "description": "The tests listed.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for `ListTestCases`.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCases": {
            "type": "array",
            "format": "",
            "description": "The test cases from the specified app.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaLoginCredential": {
        "type": "object",
        "format": "",
        "description": "Login credential for automated tests",
        "$ref": "",
        "properties": {
          "fieldHints": {
            "type": "",
            "format": "",
            "description": "Optional. Hints to the crawler for identifying input fields",
            "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "google": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Are these credentials for Google?",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Optional. Password for automated tests",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Optional. Username for automated tests",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
        "type": "object",
        "format": "",
        "description": "Hints to the crawler for identifying input fields",
        "$ref": "",
        "properties": {
          "passwordResourceName": {
            "type": "string",
            "format": "",
            "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "usernameResourceName": {
            "type": "string",
            "format": "",
            "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaRelease": {
        "type": "object",
        "format": "",
        "description": "Proto defining a release object",
        "$ref": "",
        "properties": {
          "buildVersion": {
            "type": "string",
            "format": "",
            "description": "Release build version",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayVersion": {
            "type": "string",
            "format": "",
            "description": "Release version",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "distributedAt": {
            "type": "string",
            "format": "google-datetime",
            "description": "Timestamp when the release was created",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "Release Id",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "instanceId": {
            "type": "string",
            "format": "",
            "description": "Instance id of the release",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "lastActivityAt": {
            "type": "string",
            "format": "google-datetime",
            "description": "Last activity timestamp",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "openInvitationCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of testers who have open invitations for the release",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "receivedAt": {
            "type": "string",
            "format": "google-datetime",
            "description": "unused. ",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "releaseNotesSummary": {
            "type": "string",
            "format": "",
            "description": "Release notes summary",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testerCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of testers added to the release",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testerWithInstallCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of testers who have installed the release",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
        "type": "object",
        "format": "",
        "description": "Release notes for a release.",
        "$ref": "",
        "properties": {
          "releaseNotes": {
            "type": "string",
            "format": "",
            "description": "The actual release notes text from the user.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaReleaseTest": {
        "type": "object",
        "format": "",
        "description": "Instance of an automated test for a release.",
        "$ref": "",
        "properties": {
          "aiInstructions": {
            "type": "",
            "format": "",
            "description": "Optional. Instructions for AI driven test.",
            "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the test was run.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deviceExecutions": {
            "type": "array",
            "format": "",
            "description": "Required. The results of the test on each device.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "loginCredential": {
            "type": "",
            "format": "",
            "description": "Optional. Input only. Login credentials for the test. Input only.",
            "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resultsBucket": {
            "type": "string",
            "format": "",
            "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCase": {
            "type": "string",
            "format": "",
            "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testState": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the release test.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TEST_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "PASSED",
              "FAILED",
              "INCONCLUSIVE"
            ],
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
        "type": "object",
        "format": "",
        "description": "Configuration for Robo crawler",
        "$ref": "",
        "properties": {
          "aiInstructions": {
            "type": "",
            "format": "",
            "description": "Optional. Instructions for AI driven test",
            "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "loginCredential": {
            "type": "",
            "format": "",
            "description": "Optional. Login credential for automated tests",
            "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaRoboStats": {
        "type": "object",
        "format": "",
        "description": "Statistics collected during a Robo test.",
        "$ref": "",
        "properties": {
          "actionsPerformed": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of actions that crawler performed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "crawlDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "Output only. Duration of crawl.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "distinctVisitedScreens": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of distinct screens visited.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "mainActivityCrawlTimedOut": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Whether the main activity crawl timed out.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaScreenshot": {
        "type": "object",
        "format": "",
        "description": "A device screenshot taken during a test.",
        "$ref": "",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. The height of the screenshot, in pixels.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "uri": {
            "type": "string",
            "format": "",
            "description": "Output only. The URI of the screenshot.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. The width of the screenshot, in pixels.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTerminalAction": {
        "type": "object",
        "format": "",
        "description": "An action taken by the AI to end the goal.",
        "$ref": "",
        "properties": {
          "reason": {
            "type": "string",
            "format": "",
            "description": "Output only. The reason why this goal was ended.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "REASON_UNSPECIFIED",
              "GOAL_IMPOSSIBLE",
              "GOAL_COMPLETE"
            ],
            "readOnly": true
          },
          "screenshot": {
            "type": "",
            "format": "",
            "description": "Output only. The screenshot used in the context of this terminal action.",
            "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTestCase": {
        "type": "object",
        "format": "",
        "description": "AI test cases",
        "$ref": "",
        "properties": {
          "aiInstructions": {
            "type": "",
            "format": "",
            "description": "Optional. Instructions for AI driven test.",
            "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Timestamp when the test case was created",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "dependentTestCases": {
            "type": "array",
            "format": "",
            "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Display name of the test case.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "prerequisiteTestCase": {
            "type": "string",
            "format": "",
            "description": "Optional. Test case that must be run before this test case.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTestConfig": {
        "type": "object",
        "format": "",
        "description": "Configuration for automated tests",
        "$ref": "",
        "properties": {
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resultsBucket": {
            "type": "string",
            "format": "",
            "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "roboCrawler": {
            "type": "",
            "format": "",
            "description": "Optional. Configuration for Robo crawler",
            "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testDevices": {
            "type": "array",
            "format": "",
            "description": "Optional. Tests will be run on this list of devices",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTestDevice": {
        "type": "object",
        "format": "",
        "description": "A device on which automated tests can be run.",
        "$ref": "",
        "properties": {
          "locale": {
            "type": "string",
            "format": "",
            "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "model": {
            "type": "string",
            "format": "",
            "description": "Required. The device model.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "orientation": {
            "type": "string",
            "format": "",
            "description": "Optional. The orientation of the device during the test.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "Required. The version of the device (API level on Android).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTestQuota": {
        "type": "object",
        "format": "",
        "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
        "$ref": "",
        "properties": {
          "limit": {
            "type": "string",
            "format": "int64",
            "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "usage": {
            "type": "string",
            "format": "int64",
            "description": "Output only. Number of `ReleaseTests` run in the current month",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaTesterUdid": {
        "type": "object",
        "format": "",
        "description": "The UDIDs of a tester's iOS device",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "The name of the tester's device",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "platform": {
            "type": "string",
            "format": "",
            "description": "The platform of the tester's device",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "udid": {
            "type": "string",
            "format": "",
            "description": "The UDID of the tester's device",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for `UpdateTestCase`.",
        "$ref": "",
        "properties": {
          "allowMissing": {
            "type": "boolean",
            "format": "",
            "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCase": {
            "type": "",
            "format": "",
            "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleProtobufEmpty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "apps": {
        "methods": {
          "get": {
            "id": "firebaseappdistribution.apps.get",
            "httpMethod": "GET",
            "path": "v1alpha/apps/{mobilesdkAppId}",
            "flatPath": "v1alpha/apps/{mobilesdkAppId}",
            "description": "Get the app, if it exists",
            "parameters": {
              "appView": {
                "type": "string",
                "location": "query",
                "required": false
              },
              "mobilesdkAppId": {
                "type": "string",
                "location": "path",
                "required": true
              }
            },
            "parameterOrder": [
              "mobilesdkAppId"
            ],
            "request": null,
            "response": {
              "$ref": "GoogleFirebaseAppdistroV1alphaApp"
            }
          },
          "getJwt": {
            "id": "firebaseappdistribution.apps.getJwt",
            "httpMethod": "GET",
            "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
[...]
