{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://agentidentity.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_agentidentity_v1beta",
  "version_qualifier": "v1beta",
  "raw_spec": {
    "name": "agentidentity",
    "revision": "20260823",
    "discoveryVersion": "v1",
    "baseUrl": "https://agentidentity.googleapis.com/",
    "rootUrl": "https://agentidentity.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AccessSummary": {
        "type": "object",
        "format": "",
        "description": "Represents an access summary.",
        "$ref": "",
        "properties": {
          "authProvider": {
            "type": "string",
            "format": "",
            "description": "Output only. The auth provider that this access summary is associated with.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "authProviderType": {
            "type": "string",
            "format": "",
            "description": "Output only. The auth provider type used to create this access summary.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AUTH_PROVIDER_TYPE_UNSPECIFIED",
              "AUTH_PROVIDER_TYPE_THREE_LEGGED_OAUTH",
              "AUTH_PROVIDER_TYPE_TWO_LEGGED_OAUTH",
              "AUTH_PROVIDER_TYPE_API_KEY",
              "AUTH_PROVIDER_TYPE_GEMINI_ENTERPRISE"
            ],
            "readOnly": true
          },
          "firstAccessTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The first time this user interacted with this workload, rounded to the previous hour.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. Labels as key-value pairs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "lastAccessTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The most recent time this user interacted with this workload, rounded to the previous hour.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Identifier. The resource name of the access summary.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "purgeTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when this access summary is permanently deleted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "scopes": {
            "type": "array",
            "format": "",
            "description": "Output only. All scopes that have been used by this user with this workload. The number of scopes is limited to 200.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "tokenUrl": {
            "type": "string",
            "format": "",
            "description": "Output only. The URL of the authentication server that was accessed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "userId": {
            "type": "string",
            "format": "",
            "description": "Output only. The user ID provided by the workload application for this user. Not verified by Google.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "workloadId": {
            "type": "string",
            "format": "",
            "description": "Output only. The identity bound to the workload that this user interacted with to produce this access summary. Typically an agentic SPIFFE ID.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ApiKeyParams": {
        "type": "object",
        "format": "",
        "description": "Configuration for API key authentication.",
        "$ref": "",
        "properties": {
          "apiKey": {
            "type": "string",
            "format": "",
            "description": "Optional. Input only. The API key for this auth provider.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuditConfig": {
        "type": "object",
        "format": "",
        "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
        "$ref": "",
        "properties": {
          "auditLogConfigs": {
            "type": "array",
            "format": "",
            "description": "The configuration for logging of each type of permission.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuditLogConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "service": {
            "type": "string",
            "format": "",
            "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuditLogConfig": {
        "type": "object",
        "format": "",
        "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
        "$ref": "",
        "properties": {
          "exemptedMembers": {
            "type": "array",
            "format": "",
            "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "logType": {
            "type": "string",
            "format": "",
            "description": "The log type that this config enables.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "ADMIN_READ",
              "DATA_WRITE",
              "DATA_READ"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuthProvider": {
        "type": "object",
        "format": "",
        "description": "Represents an auth provider.",
        "$ref": "",
        "properties": {
          "allowedScopes": {
            "type": "array",
            "format": "",
            "description": "Optional. List of scopes that are allowed to be requested for this auth provider. If this list is non-empty, only scopes within this list may be requested. If this list is empty, all scopes may be requested. Scopes appearing in `blocked_scopes` are disallowed even if they appear in `allowed_scopes`. The number of allowed scopes is limited to 200.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "authProviderTypeParams": {
            "type": "",
            "format": "",
            "description": "Required. Parameters specific to the auth provider type.",
            "$ref": "AuthProviderTypeParams",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "blockedScopes": {
            "type": "array",
            "format": "",
            "description": "Optional. List of scopes that are blocked from being requested for this auth provider. If a scope appears in this list, it will not be requested, even if it also appears in `allowed_scopes`. `blocked_scopes` takes precedence over `allowed_scopes`. The number of blocked scopes is limited to 200.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The creation timestamp.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deleted": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Set to `true` if the auth provider is deleted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the resource. Must be less than 256 characters.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the auth provider will expire.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. Labels as key-value pairs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The full resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the auth provider.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "ENABLED",
              "DISABLED"
            ],
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The update timestamp.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "workloadIds": {
            "type": "array",
            "format": "",
            "description": "Optional. Input only. Identifiers for the agents that will use this auth provider, starting with `principal://`. For example: `principal://agents.global.org-${ORG_ID}.system.id.goog/resources/aiplatform/projects/{PROJECT_ID}/locations/{LOCATIONS}/reasoningEngines/{ID}`",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "AuthProviderTypeParams": {
        "type": "object",
        "format": "",
        "description": "Required. Parameters specific to the auth provider type.",
        "$ref": "",
        "properties": {
          "apiKey": {
            "type": "",
            "format": "",
            "description": "Parameters for API key authentication.",
            "$ref": "ApiKeyParams",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "geAuthProvider": {
            "type": "",
            "format": "",
            "description": "Parameters for Gemini Enterprise authentication.",
            "$ref": "GeminiEnterpriseAuthProviderParams",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "threeLeggedOauth": {
            "type": "",
            "format": "",
            "description": "Parameters for 3-legged OAuth (3LO) authentication.",
            "$ref": "ThreeLeggedOAuth",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "twoLeggedOauth": {
            "type": "",
            "format": "",
            "description": "Parameters for 2-legged OAuth (2LO) authentication.",
            "$ref": "TwoLeggedOAuth",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Authorization": {
        "type": "object",
        "format": "",
        "description": "Represents an authorization.",
        "$ref": "",
        "properties": {
          "clientUserId": {
            "type": "string",
            "format": "",
            "description": "Output only. The client user ID provided by the client application for their end user. Not verified by Google.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The creation timestamp.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The resource name of the authorization.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scopes": {
            "type": "array",
            "format": "",
            "description": "Output only. The scopes actually granted by the end user during the consent flow.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the authorization.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "ACTIVE",
              "SUSPENDED"
            ],
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The update timestamp.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Binding": {
        "type": "object",
        "format": "",
        "description": "Associates `members`, or principals, with a `role`.",
        "$ref": "",
        "properties": {
          "condition": {
            "type": "",
            "format": "",
            "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "Expr",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "members": {
            "type": "array",
            "format": "",
            "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "role": {
            "type": "string",
            "format": "",
            "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DisableAuthProviderRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `DisableAuthProvider`.",
        "$ref": "",
        "properties": {
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "EnableAuthProviderRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `EnableAuthProvider`.",
        "$ref": "",
        "properties": {
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Expr": {
        "type": "object",
        "format": "",
        "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' \u0026\u0026 document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "expression": {
            "type": "string",
            "format": "",
            "description": "Textual representation of an expression in Common Expression Language syntax.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "location": {
            "type": "string",
            "format": "",
            "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "title": {
            "type": "string",
            "format": "",
            "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GeminiEnterpriseAuthProviderParams": {
        "type": "object",
        "format": "",
        "description": "Configuration for Gemini Enterprise authentication.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListAccessSummariesResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `ListAccessSummaries`.",
        "$ref": "",
        "properties": {
          "accessSummaries": {
            "type": "array",
            "format": "",
            "description": "The list of access summaries.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AccessSummary",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token identifying a page of results the server should return.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListAuthProvidersResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `ListAuthProviders`.",
        "$ref": "",
        "properties": {
          "authProviders": {
            "type": "array",
            "format": "",
            "description": "The list of auth providers.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuthProvider",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token identifying a page of results the server should return.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListAuthorizationsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `ListAuthorizations`.",
        "$ref": "",
        "properties": {
          "authorizations": {
            "type": "array",
            "format": "",
            "description": "The list of authorizations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Authorization",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token identifying a page of results the server should return.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListLocationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Locations.ListLocations.",
        "$ref": "",
        "properties": {
          "locations": {
            "type": "array",
            "format": "",
            "description": "A list of locations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Location",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Location": {
        "type": "object",
        "format": "",
        "description": "A resource that represents a Google Cloud location.",
        "$ref": "",
        "properties": {
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "locationId": {
            "type": "string",
            "format": "",
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata. For example the available capacity at the given location.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Policy": {
        "type": "object",
        "format": "",
        "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
        "$ref": "",
        "properties": {
          "auditConfigs": {
            "type": "array",
            "format": "",
            "description": "Specifies cloud audit logging configuration for this policy.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "AuditConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "bindings": {
            "type": "array",
            "format": "",
            "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Binding",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "byte",
            "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "QueryAuthProvidersResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `QueryAuthProviders`.",
        "$ref": "",
        "properties": {
          "authProviderNames": {
            "type": "array",
            "format": "",
            "description": "The unique list of auth provider resource names used by the workload.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token identifying a page of results the server should return. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "QueryWorkloadsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `QueryWorkloads`.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token to retrieve the next page of results.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "workloadIds": {
            "type": "array",
            "format": "",
            "description": "The unique list of identifiers for the agents that used this auth provider, starting with `principal://`.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "RevokeAuthorizationRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `RevokeAuthorization`.",
        "$ref": "",
        "properties": {
          "userId": {
            "type": "string",
            "format": "",
            "description": "Required. The identity of the user to revoke authorization for.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "RevokeAuthorizationResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `RevokeAuthorization`.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SetIamPolicyRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `SetIamPolicy` method.",
        "$ref": "",
        "properties": {
          "policy": {
            "type": "",
            "format": "",
            "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
            "$ref": "Policy",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TestIamPermissionsRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `TestIamPermissions` method.",
        "$ref": "",
        "properties": {
          "permissions": {
            "type": "array",
            "format": "",
            "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TestIamPermissionsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for `TestIamPermissions` method.",
        "$ref": "",
        "properties": {
          "permissions": {
            "type": "array",
            "format": "",
            "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ThreeLeggedOAuth": {
        "type": "object",
        "format": "",
        "description": "Configuration for 3-legged OAuth (3LO) authentication.",
        "$ref": "",
        "properties": {
          "authorizationUrl": {
            "type": "string",
            "format": "",
            "description": "Optional. The authorization endpoint to send users to for consenting to delegate to the agent. For example, \"https://auth.atlassian.com/authorize\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "clientId": {
            "type": "string",
            "format": "",
            "description": "Optional. The client ID of the OAuth client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "clientSecret": {
            "type": "string",
            "format": "",
            "description": "Optional. Input only. The client secret of the OAuth client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultContinueUri": {
            "type": "string",
            "format": "",
            "description": "Optional. The default continue URI for the 3LO flow, used when no continue URI is provided in the RetrieveCredentials request.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enablePkce": {
            "type": "boolean",
            "format": "",
            "description": "Optional. Enables Proof Key for Code Exchange (PKCE) for the OAuth flow to prevent authorization code interception attacks.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "redirectUrl": {
            "type": "string",
            "format": "",
            "description": "Output only. The redirect URL this auth provider uses for the OAuth exchange. This is deterministic based on the name of the auth provider.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "tokenUrl": {
            "type": "string",
            "format": "",
            "description": "Optional. The token endpoint for requesting tokens on behalf of an end user. For example, \"https://auth.atlassian.com/oauth/token\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TwoLeggedOAuth": {
        "type": "object",
        "format": "",
        "description": "Configuration for 2-legged OAuth (2LO) authentication.",
        "$ref": "",
        "properties": {
          "clientId": {
            "type": "string",
            "format": "",
            "description": "Optional. The client ID of the OAuth client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "clientSecret": {
            "type": "string",
            "format": "",
            "description": "Optional. Input only. The client secret of the OAuth client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tokenUrl": {
            "type": "string",
            "format": "",
            "description": "Optional. The token endpoint of the OAuth client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "UndeleteAuthProviderRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for `UndeleteAuthProvider`.",
        "$ref": "",
        "properties": {
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "projects": {
        "methods": null,
        "resources": {
          "locations": {
            "methods": {
              "get": {
                "id": "agentidentity.projects.locations.get",
                "httpMethod": "GET",
                "path": "v1beta/{+name}",
                "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
                "description": "Gets information about a location.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "Location"
                }
              },
              "list": {
                "id": "agentidentity.projects.locations.list",
                "httpMethod": "GET",
                "path": "v1beta/{+name}/locations",
                "flatPath": "v1beta/projects/{projectsId}/locations",
                "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
                "parameters": {
                  "extraLocationTypes": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "filter": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  },
                  "pageSize": {
                    "type": "integer",
                    "location": "query",
                    "required": false
                  },
                  "pageToken": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "ListLocationsResponse"
                }
              }
            },
            "resources": {
              "accessSummaries": {
                "methods": {
                  "get": {
                    "id": "agentidentity.projects.locations.accessSummaries.get",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/accessSummaries/{accessSummariesId}",
                    "description": "Gets details of a single access summary.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "AccessSummary"
                    }
                  },
                  "list": {
                    "id": "agentidentity.projects.locations.accessSummaries.list",
                    "httpMethod": "GET",
                    "path": "v1beta/{+parent}/accessSummaries",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/accessSummaries",
                    "description": "Lists access summaries in a given project and location. Supported filters: - `workload_id`: Filter by the SPIFFE ID of the agent. Example: `workload_id=\"spiffe://example.com/ns/default/sa/my-agent\"`",
                    "parameters": {
                      "filter": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "orderBy": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListAccessSummariesResponse"
                    }
                  }
                },
                "resources": null
              },
              "authProviders": {
                "methods": {
                  "create": {
                    "id": "agentidentity.projects.locations.authProviders.create",
                    "httpMethod": "POST",
                    "path": "v1beta/{+parent}/authProviders",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders",
                    "description": "Creates a new auth provider in a given project and location.",
                    "parameters": {
                      "authProviderId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": {
                      "$ref": "AuthProvider"
                    },
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  },
                  "delete": {
                    "id": "agentidentity.projects.locations.authProviders.delete",
                    "httpMethod": "DELETE",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                    "description": "Deletes a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Empty"
                    }
                  },
                  "disable": {
                    "id": "agentidentity.projects.locations.authProviders.disable",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:disable",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:disable",
                    "description": "Disables a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "DisableAuthProviderRequest"
                    },
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  },
                  "enable": {
                    "id": "agentidentity.projects.locations.authProviders.enable",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:enable",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:enable",
                    "description": "Enables a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "EnableAuthProviderRequest"
                    },
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  },
                  "get": {
                    "id": "agentidentity.projects.locations.authProviders.get",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                    "description": "Gets details of a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  },
                  "getIamPolicy": {
                    "id": "agentidentity.projects.locations.authProviders.getIamPolicy",
                    "httpMethod": "GET",
                    "path": "v1beta/{+resource}:getIamPolicy",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:getIamPolicy",
                    "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                    "parameters": {
                      "options.requestedPolicyVersion": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Policy"
                    }
                  },
                  "list": {
                    "id": "agentidentity.projects.locations.authProviders.list",
                    "httpMethod": "GET",
                    "path": "v1beta/{+parent}/authProviders",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders",
                    "description": "Lists auth providers in a given project and location.",
                    "parameters": {
                      "filter": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "orderBy": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "showDeleted": {
                        "type": "boolean",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListAuthProvidersResponse"
                    }
                  },
                  "patch": {
                    "id": "agentidentity.projects.locations.authProviders.patch",
                    "httpMethod": "PATCH",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                    "description": "Updates the parameters of a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "updateMask": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "AuthProvider"
                    },
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  },
                  "query": {
                    "id": "agentidentity.projects.locations.authProviders.query",
                    "httpMethod": "GET",
                    "path": "v1beta/{+parent}/authProviders:query",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders:query",
                    "description": "Queries which auth providers are used by a given workload ID.",
                    "parameters": {
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "workloadId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "QueryAuthProvidersResponse"
                    }
                  },
                  "queryWorkloads": {
                    "id": "agentidentity.projects.locations.authProviders.queryWorkloads",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}:queryWorkloads",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:queryWorkloads",
                    "description": "Queries which workloads are using a given auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "QueryWorkloadsResponse"
                    }
                  },
                  "revokeAuthorization": {
                    "id": "agentidentity.projects.locations.authProviders.revokeAuthorization",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:revokeAuthorization",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:revokeAuthorization",
                    "description": "Revokes all authorizations for a specific user on an auth provider. This deletes all authorization records associated with the user and auth provider, effectively revoking access across all agents.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "RevokeAuthorizationRequest"
                    },
                    "response": {
                      "$ref": "RevokeAuthorizationResponse"
                    }
                  },
                  "setIamPolicy": {
                    "id": "agentidentity.projects.locations.authProviders.setIamPolicy",
                    "httpMethod": "POST",
                    "path": "v1beta/{+resource}:setIamPolicy",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:setIamPolicy",
                    "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                    "parameters": {
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": {
                      "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                      "$ref": "Policy"
                    }
                  },
                  "testIamPermissions": {
                    "id": "agentidentity.projects.locations.authProviders.testIamPermissions",
                    "httpMethod": "POST",
                    "path": "v1beta/{+resource}:testIamPermissions",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:testIamPermissions",
                    "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                    "parameters": {
                      "resource": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "resource"
                    ],
                    "request": {
                      "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                      "$ref": "TestIamPermissionsResponse"
                    }
                  },
                  "undelete": {
                    "id": "agentidentity.projects.locations.authProviders.undelete",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:undelete",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:undelete",
                    "description": "Undeletes a single auth provider.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "UndeleteAuthProviderRequest"
                    },
                    "response": {
                      "$ref": "AuthProvider"
                    }
                  }
                },
                "resources": {
                  "authorizations": {
                    "methods": {
                      "delete": {
                        "id": "agentidentity.projects.locations.authProviders.authorizations.delete",
                        "httpMethod": "DELETE",
                        "path": "v1beta/{+name}",
                        "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                        "description": "Deletes a single authorization.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          },
                          "requestId": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "Empty"
                        }
                      },
                      "get": {
                        "id": "agentidentity.projects.locations.authProviders.authorizations.get",
                        "httpMethod": "GET",
                        "path": "v1beta/{+name}",
                        "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                        "description": "Gets details of a single authorization.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "Authorization"
                        }
                      },
                      "list": {
                        "id": "agentidentity.projects.locations.authProviders.authorizations.list",
                        "httpMethod": "GET",
                        "path": "v1beta/{+parent}/authorizations",
                        "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations",
                        "description": "Lists authorizations in a given project and location.",
                        "parameters": {
                          "filter": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "orderBy": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "pageSize": {
                            "type": "integer",
                            "location": "query",
                            "required": false
                          },
                          "pageToken": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "ListAuthorizationsResponse"
                        }
                      }
                    },
                    "resources": null
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
