{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://dialogflow.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_dialogflow_v2beta1",
  "version_qualifier": "v2beta1",
  "raw_spec": {
    "name": "dialogflow",
    "revision": "20260815",
    "discoveryVersion": "v1",
    "baseUrl": "https://dialogflow.googleapis.com/",
    "rootUrl": "https://dialogflow.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "GoogleCloudDialogflowCxV3AdvancedSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "audioExportGcsDestination": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3GcsDestination",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dtmfSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "loggingSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "speechSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "enabled": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "endpointingTimeoutDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "finishDigit": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "interdigitTimeoutDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxDigits": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "enableConsentBasedRedaction": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableInteractionLogging": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableStackdriverLogging": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "endpointerSensitivity": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "models": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "noSpeechTimeout": {
            "type": "string",
            "format": "google-duration",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "useTimeoutBasedEndpointing": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3AudioInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "audio": {
            "type": "string",
            "format": "byte",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "config": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3BargeInConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "noBargeInDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "totalDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "errors": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TestError",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "results": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TestCaseResult",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ContinuousTestResult": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "result": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AGGREGATED_TEST_RESULT_UNSPECIFIED",
              "PASSED",
              "FAILED"
            ],
            "readOnly": false
          },
          "runTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCaseResults": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ConversationSignals": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "turnSignals": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3TurnSignals",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ConversationTurn": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "userInput": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "virtualAgentOutput": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "enableSentimentAnalysis": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "injectedParameters": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "input": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3QueryInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "isWebhookEnabled": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "currentPage": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Page",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "diagnosticInfo": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "differences": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TestRunDifference",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "sessionParameters": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "textResponses": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "triggeredIntent": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Intent",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "version": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3DataStoreConnection": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "dataStore": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dataStoreType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATA_STORE_TYPE_UNSPECIFIED",
              "PUBLIC_WEB",
              "UNSTRUCTURED",
              "STRUCTURED"
            ],
            "readOnly": false
          },
          "documentProcessingMode": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
              "DOCUMENTS",
              "CHUNKS"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "testErrors": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TestError",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3DeployFlowResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "deployment": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "environment": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Environment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3DtmfInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "digits": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "finishDigit": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3Environment": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCasesConfig": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "versionConfigs": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "webhookConfig": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "enableContinuousRun": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enablePredeploymentRun": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "testCases": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "version": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "webhookOverrides": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3Webhook",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3EventHandler": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "event": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "targetFlow": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetPage": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetPlaybook": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "triggerFulfillment": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3EventInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "event": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportAgentResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "agentContent": {
            "type": "string",
            "format": "byte",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "agentUri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "commitSha": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "entityTypesContent": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3InlineDestination",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityTypesUri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportFlowResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "flowContent": {
            "type": "string",
            "format": "byte",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "flowUri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "intentsContent": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3InlineDestination",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intentsUri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "content": {
            "type": "string",
            "format": "byte",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsUri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3Form": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "parameters": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FormParameter",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FormParameter": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "advancedSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "defaultValue": {
            "type": "any",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fillBehavior": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "isList": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "redact": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "required": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "initialPromptFulfillment": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repromptEventHandlers": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3EventHandler",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3Fulfillment": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "advancedSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "codeBlockFunction": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "conditionalCases": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableGenerativeFallback": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "generators": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "messages": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3ResponseMessage",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "returnPartialResponses": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "setParameterActions": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tag": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "webhook": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "cases": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "caseContent": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "condition": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "additionalCases": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "generator": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "inputParameters": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "outputParameter": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "parameter": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "value": {
            "type": "any",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3GcsDestination": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "uri": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "conflictingResources": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityTypes": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "entityDisplayNames": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityTypeDisplayNames": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportFlowResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "flow": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "conflictingResources": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intents": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "entityDisplayNames": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intentDisplayNames": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "errors": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TestCaseError",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "names": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3InlineDestination": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "content": {
            "type": "string",
            "format": "byte",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3InputAudioConfig": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "audioEncoding": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "AUDIO_ENCODING_UNSPECIFIED",
              "AUDIO_ENCODING_LINEAR_16",
              "AUDIO_ENCODING_FLAC",
              "AUDIO_ENCODING_MULAW",
              "AUDIO_ENCODING_AMR",
              "AUDIO_ENCODING_AMR_WB",
              "AUDIO_ENCODING_OGG_OPUS",
              "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
              "AUDIO_ENCODING_ALAW"
            ],
            "readOnly": false
          },
          "bargeInConfig": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3BargeInConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableWordInfo": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "model": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "modelVariant": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SPEECH_MODEL_VARIANT_UNSPECIFIED",
              "USE_BEST_AVAILABLE",
              "USE_STANDARD",
              "USE_ENHANCED"
            ],
            "readOnly": false
          },
          "optOutConformerModelMigration": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "phraseHints": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sampleRateHertz": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "singleUtterance": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3Intent": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dtmfPattern": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "isFallback": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "parameters": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3IntentParameter",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "trainingPhrases": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3IntentInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "intent": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3IntentParameter": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "entityType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "id": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "isList": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "redact": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "parts": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "repeatCount": {
            "type": "integer",
            "format": "int32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "parameterId": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "text": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "dataStoreConnections": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enabled": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetFlow": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetPage": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "triggerFulfillment": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3LanguageInfo": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "confidenceScore": {
            "type": "number",
            "format": "float",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "inputLanguageCode": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resolvedLanguageCode": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3Page": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "advancedSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entryFulfillment": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "eventHandlers": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3EventHandler",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "form": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3Form",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "knowledgeConnectorSettings": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "transitionRouteGroups": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "transitionRoutes": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3TransitionRoute",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3PageInfo": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "currentPage": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "formInfo": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "parameterInfo": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "displayName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "justCollected": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "required": {
            "type": "boolean",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "PARAMETER_STATE_UNSPECIFIED",
              "EMPTY",
              "INVALID",
              "FILLED"
            ],
            "readOnly": false
          },
          "value": {
            "type": "any",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3QueryInput": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "audio": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3AudioInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dtmf": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3DtmfInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "event": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3EventInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "intent": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3IntentInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "languageCode": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "text": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3TextInput",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "toolCallResult": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ToolCallResult",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ResponseMessage": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "channel": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "conversationSuccess": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "endInteraction": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "knowledgeInfoCard": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "liveAgentHandoff": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mixedAudio": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "outputAudioText": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "payload": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "playAudio": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "responseType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "RESPONSE_TYPE_UNSPECIFIED",
              "ENTRY_PROMPT",
              "PARAMETER_PROMPT",
              "HANDLER_PROMPT"
            ],
            "readOnly": false
          },
          "telephonyTransferCall": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "text": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "toolCall": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "GoogleCloudDialogflowCxV3ToolCall",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "metadata": {
            "type": "object",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
        "type": "object",
        "format": "",
[...]
