{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://parallelstore.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_parallelstore_v1beta",
  "version_qualifier": "v1beta",
  "raw_spec": {
    "name": "parallelstore",
    "revision": "20251029",
    "discoveryVersion": "v1",
    "baseUrl": "https://parallelstore.googleapis.com/",
    "rootUrl": "https://parallelstore.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "DestinationGcsBucket": {
        "type": "object",
        "format": "",
        "description": "Cloud Storage as the destination of a data transfer.",
        "$ref": "",
        "properties": {
          "uri": {
            "type": "string",
            "format": "",
            "description": "Required. URI to a Cloud Storage bucket in the format: `gs:///`. The path inside the bucket is optional.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DestinationParallelstore": {
        "type": "object",
        "format": "",
        "description": "Parallelstore as the destination of a data transfer.",
        "$ref": "",
        "properties": {
          "path": {
            "type": "string",
            "format": "",
            "description": "Optional. Root directory path to the Paralellstore filesystem, starting with `/`. Defaults to `/` if unset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ExportDataRequest": {
        "type": "object",
        "format": "",
        "description": "Export data from Parallelstore to Cloud Storage.",
        "$ref": "",
        "properties": {
          "destinationGcsBucket": {
            "type": "",
            "format": "",
            "description": "Cloud Storage destination.",
            "$ref": "DestinationGcsBucket",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadataOptions": {
            "type": "",
            "format": "",
            "description": "Optional. The metadata options for the export data.",
            "$ref": "TransferMetadataOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "serviceAccount": {
            "type": "string",
            "format": "",
            "description": "Optional. User-specified Service Account (SA) credentials to be used when performing the transfer. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID_OR_NUMBER}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` If unspecified, the Parallelstore service agent is used: `service-@gcp-sa-parallelstore.iam.gserviceaccount.com`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceParallelstore": {
            "type": "",
            "format": "",
            "description": "Parallelstore source.",
            "$ref": "SourceParallelstore",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleProtobufEmpty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ImportDataRequest": {
        "type": "object",
        "format": "",
        "description": "Import data from Cloud Storage into a Parallelstore instance.",
        "$ref": "",
        "properties": {
          "destinationParallelstore": {
            "type": "",
            "format": "",
            "description": "Parallelstore destination.",
            "$ref": "DestinationParallelstore",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadataOptions": {
            "type": "",
            "format": "",
            "description": "Optional. The transfer metadata options for the import data.",
            "$ref": "TransferMetadataOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "requestId": {
            "type": "string",
            "format": "",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "serviceAccount": {
            "type": "string",
            "format": "",
            "description": "Optional. User-specified service account credentials to be used when performing the transfer. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID_OR_NUMBER}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` If unspecified, the Parallelstore service agent is used: `service-@gcp-sa-parallelstore.iam.gserviceaccount.com`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sourceGcsBucket": {
            "type": "",
            "format": "",
            "description": "The Cloud Storage source bucket and, optionally, path inside the bucket.",
            "$ref": "SourceGcsBucket",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Instance": {
        "type": "object",
        "format": "",
        "description": "A Parallelstore instance.",
        "$ref": "",
        "properties": {
          "accessPoints": {
            "type": "array",
            "format": "",
            "description": "Output only. A list of IPv4 addresses used for client side configuration.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "capacityGib": {
            "type": "string",
            "format": "int64",
            "description": "Required. Immutable. The instance's storage capacity in Gibibytes (GiB). Allowed values are between 12000 and 100000, in multiples of 4000; e.g., 12000, 16000, 20000, ...",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the instance was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "daosVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. Deprecated: The version of DAOS software running in the instance.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deploymentType": {
            "type": "string",
            "format": "",
            "description": "Optional. Immutable. The deployment type of the instance. Allowed values are: * `SCRATCH`: the instance is a scratch instance. * `PERSISTENT`: the instance is a persistent instance.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DEPLOYMENT_TYPE_UNSPECIFIED",
              "SCRATCH",
              "PERSISTENT"
            ],
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Optional. The description of the instance. 2048 characters or less.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "directoryStripeLevel": {
            "type": "string",
            "format": "",
            "description": "Optional. Immutable. Stripe level for directories. Allowed values are: * `DIRECTORY_STRIPE_LEVEL_MIN`: recommended when directories contain a small number of files. * `DIRECTORY_STRIPE_LEVEL_BALANCED`: balances performance for workloads involving a mix of small and large directories. * `DIRECTORY_STRIPE_LEVEL_MAX`: recommended for directories with a large number of files.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DIRECTORY_STRIPE_LEVEL_UNSPECIFIED",
              "DIRECTORY_STRIPE_LEVEL_MIN",
              "DIRECTORY_STRIPE_LEVEL_BALANCED",
              "DIRECTORY_STRIPE_LEVEL_MAX"
            ],
            "readOnly": false
          },
          "effectiveReservedIpRange": {
            "type": "string",
            "format": "",
            "description": "Output only. Immutable. The ID of the IP address range being used by the instance's VPC network. This field is populated by the service and contains the value currently used by the service.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "fileStripeLevel": {
            "type": "string",
            "format": "",
            "description": "Optional. Immutable. Stripe level for files. Allowed values are: * `FILE_STRIPE_LEVEL_MIN`: offers the best performance for small size files. * `FILE_STRIPE_LEVEL_BALANCED`: balances performance for workloads involving a mix of small and large files. * `FILE_STRIPE_LEVEL_MAX`: higher throughput performance for larger files.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "FILE_STRIPE_LEVEL_UNSPECIFIED",
              "FILE_STRIPE_LEVEL_MIN",
              "FILE_STRIPE_LEVEL_BALANCED",
              "FILE_STRIPE_LEVEL_MAX"
            ],
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. See https://cloud.google.com/resource-manager/docs/labels-overview for details.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Identifier. The resource name of the instance, in the format `projects/{project}/locations/{location}/instances/{instance_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "network": {
            "type": "string",
            "format": "",
            "description": "Optional. Immutable. The name of the Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reservedIpRange": {
            "type": "string",
            "format": "",
            "description": "Optional. Immutable. The ID of the IP address range being used by the instance's VPC network. See [Configure a VPC network](https://cloud.google.com/parallelstore/docs/vpc#create_and_configure_the_vpc). If no ID is provided, all ranges are considered.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The instance state.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "DELETING",
              "FAILED",
              "UPGRADING",
              "REPAIRING"
            ],
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time when the instance was updated.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListInstancesResponse": {
        "type": "object",
        "format": "",
        "description": "Response from ListInstances.",
        "$ref": "",
        "properties": {
          "instances": {
            "type": "array",
            "format": "",
            "description": "The list of Parallelstore instances.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Instance",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token identifying a page of results the server should return.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListLocationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Locations.ListLocations.",
        "$ref": "",
        "properties": {
          "locations": {
            "type": "array",
            "format": "",
            "description": "A list of locations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Location",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListOperationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Operations.ListOperations.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operations": {
            "type": "array",
            "format": "",
            "description": "A list of operations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Operation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections e.g. when attempting to list all resources across all supported locations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Location": {
        "type": "object",
        "format": "",
        "description": "A resource that represents a Google Cloud location.",
        "$ref": "",
        "properties": {
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "locationId": {
            "type": "string",
            "format": "",
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata. For example the available capacity at the given location.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Operation": {
        "type": "object",
        "format": "",
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "$ref": "",
        "properties": {
          "done": {
            "type": "boolean",
            "format": "",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "error": {
            "type": "",
            "format": "",
            "description": "The error result of the operation in case of failure or cancellation.",
            "$ref": "Status",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "response": {
            "type": "object",
            "format": "",
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Long-running operation metadata.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ReconciliationOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Operation metadata returned by the CLH during resource state reconciliation.",
        "$ref": "",
        "properties": {
          "deleteResource": {
            "type": "boolean",
            "format": "",
            "description": "DEPRECATED. Use exclusive_action instead.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "exclusiveAction": {
            "type": "string",
            "format": "",
            "description": "Excluisive action returned by the CLH.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UNKNOWN_REPAIR_ACTION",
              "DELETE",
              "RETRY"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SourceGcsBucket": {
        "type": "object",
        "format": "",
        "description": "Cloud Storage as the source of a data transfer.",
        "$ref": "",
        "properties": {
          "uri": {
            "type": "string",
            "format": "",
            "description": "Required. URI to a Cloud Storage bucket in the format: `gs:///`. The path inside the bucket is optional.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "SourceParallelstore": {
        "type": "object",
        "format": "",
        "description": "Parallelstore as the source of a data transfer.",
        "$ref": "",
        "properties": {
          "path": {
            "type": "string",
            "format": "",
            "description": "Optional. Root directory path to the Paralellstore filesystem, starting with `/`. Defaults to `/` if unset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Status": {
        "type": "object",
        "format": "",
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "$ref": "",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "details": {
            "type": "array",
            "format": "",
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "object",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": {
                "type": "any",
                "format": "",
                "description": "Properties of the object. Contains field @type with type URL.",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "TransferMetadataOptions": {
        "type": "object",
        "format": "",
        "description": "Transfer metadata options for the instance.",
        "$ref": "",
        "properties": {
          "gid": {
            "type": "string",
            "format": "",
            "description": "Optional. The GID preservation behavior.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "GID_UNSPECIFIED",
              "GID_SKIP",
              "GID_NUMBER_PRESERVE"
            ],
            "readOnly": false
          },
          "mode": {
            "type": "string",
            "format": "",
            "description": "Optional. The mode preservation behavior.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_SKIP",
              "MODE_PRESERVE"
            ],
            "readOnly": false
          },
          "uid": {
            "type": "string",
            "format": "",
            "description": "Optional. The UID preservation behavior.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "UID_UNSPECIFIED",
              "UID_SKIP",
              "UID_NUMBER_PRESERVE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "projects": {
        "methods": null,
        "resources": {
          "locations": {
            "methods": {
              "get": {
                "id": "parallelstore.projects.locations.get",
                "httpMethod": "GET",
                "path": "v1beta/{+name}",
                "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
                "description": "Gets information about a location.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "Location"
                }
              },
              "list": {
                "id": "parallelstore.projects.locations.list",
                "httpMethod": "GET",
                "path": "v1beta/{+name}/locations",
                "flatPath": "v1beta/projects/{projectsId}/locations",
                "description": "Lists information about the supported locations for this service.",
                "parameters": {
                  "extraLocationTypes": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "filter": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  },
                  "pageSize": {
                    "type": "integer",
                    "location": "query",
                    "required": false
                  },
                  "pageToken": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "ListLocationsResponse"
                }
              }
            },
            "resources": {
              "instances": {
                "methods": {
                  "create": {
                    "id": "parallelstore.projects.locations.instances.create",
                    "httpMethod": "POST",
                    "path": "v1beta/{+parent}/instances",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances",
                    "description": "Creates a Parallelstore instance in a given project and location.",
                    "parameters": {
                      "instanceId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": {
                      "$ref": "Instance"
                    },
                    "response": {
                      "$ref": "Operation"
                    }
                  },
                  "delete": {
                    "id": "parallelstore.projects.locations.instances.delete",
                    "httpMethod": "DELETE",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                    "description": "Deletes a single instance.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Operation"
                    }
                  },
                  "exportData": {
                    "id": "parallelstore.projects.locations.instances.exportData",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:exportData",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:exportData",
                    "description": "Copies data from Parallelstore to Cloud Storage.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "ExportDataRequest"
                    },
                    "response": {
                      "$ref": "Operation"
                    }
                  },
                  "get": {
                    "id": "parallelstore.projects.locations.instances.get",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                    "description": "Gets details of a single instance.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Instance"
                    }
                  },
                  "importData": {
                    "id": "parallelstore.projects.locations.instances.importData",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:importData",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:importData",
                    "description": "Copies data from Cloud Storage to Parallelstore.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "ImportDataRequest"
                    },
                    "response": {
                      "$ref": "Operation"
                    }
                  },
                  "list": {
                    "id": "parallelstore.projects.locations.instances.list",
                    "httpMethod": "GET",
                    "path": "v1beta/{+parent}/instances",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances",
                    "description": "Lists all instances in a given project and location.",
                    "parameters": {
                      "filter": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "orderBy": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListInstancesResponse"
                    }
                  },
                  "patch": {
                    "id": "parallelstore.projects.locations.instances.patch",
                    "httpMethod": "PATCH",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                    "description": "Updates the parameters of a single instance.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "requestId": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "updateMask": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "Instance"
                    },
                    "response": {
                      "$ref": "Operation"
                    }
                  }
                },
                "resources": null
              },
              "operations": {
                "methods": {
                  "cancel": {
                    "id": "parallelstore.projects.locations.operations.cancel",
                    "httpMethod": "POST",
                    "path": "v1beta/{+name}:cancel",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                    "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "GoogleProtobufEmpty"
                    }
                  },
                  "delete": {
                    "id": "parallelstore.projects.locations.operations.delete",
                    "httpMethod": "DELETE",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                    "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "GoogleProtobufEmpty"
                    }
                  },
                  "get": {
                    "id": "parallelstore.projects.locations.operations.get",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                    "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "Operation"
                    }
                  },
                  "list": {
                    "id": "parallelstore.projects.locations.operations.list",
                    "httpMethod": "GET",
                    "path": "v1beta/{+name}/operations",
                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                    "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                    "parameters": {
                      "filter": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      },
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "returnPartialSuccess": {
                        "type": "boolean",
                        "location": "query",
                        "required": false
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListOperationsResponse"
                    }
                  }
                },
                "resources": null
              }
            }
          }
        }
      }
    }
  }
}
