{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://websecurityscanner.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_websecurityscanner_v1alpha",
  "version_qualifier": "v1alpha",
  "raw_spec": {
    "name": "websecurityscanner",
    "revision": "20260806",
    "discoveryVersion": "v1",
    "baseUrl": "https://websecurityscanner.googleapis.com/",
    "rootUrl": "https://websecurityscanner.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "Authentication": {
        "type": "object",
        "format": "",
        "description": "Scan authentication configuration.",
        "$ref": "",
        "properties": {
          "customAccount": {
            "type": "",
            "format": "",
            "description": "Authentication using a custom account.",
            "$ref": "CustomAccount",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "googleAccount": {
            "type": "",
            "format": "",
            "description": "Authentication using a Google account.",
            "$ref": "GoogleAccount",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CrawledUrl": {
        "type": "object",
        "format": "",
        "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
        "$ref": "",
        "properties": {
          "body": {
            "type": "string",
            "format": "",
            "description": "Output only. The body of the request that was used to visit the URL.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "httpMethod": {
            "type": "string",
            "format": "",
            "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "url": {
            "type": "string",
            "format": "",
            "description": "Output only. The URL that was crawled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CustomAccount": {
        "type": "object",
        "format": "",
        "description": "Describes authentication configuration that uses a custom account.",
        "$ref": "",
        "properties": {
          "loginUrl": {
            "type": "string",
            "format": "",
            "description": "Required. The login form URL of the website.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. The user name of the custom account.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Finding": {
        "type": "object",
        "format": "",
        "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
        "$ref": "",
        "properties": {
          "body": {
            "type": "string",
            "format": "",
            "description": "The body of the request that triggered the vulnerability.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "The description of the vulnerability.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "finalUrl": {
            "type": "string",
            "format": "",
            "description": "The URL where the browser lands when the vulnerability is detected.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "findingType": {
            "type": "string",
            "format": "",
            "description": "The type of the Finding.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "FINDING_TYPE_UNSPECIFIED",
              "MIXED_CONTENT",
              "OUTDATED_LIBRARY",
              "ROSETTA_FLASH",
              "XSS_CALLBACK",
              "XSS_ERROR",
              "CLEAR_TEXT_PASSWORD",
              "INVALID_CONTENT_TYPE",
              "XSS_ANGULAR_CALLBACK",
              "INVALID_HEADER",
              "MISSPELLED_SECURITY_HEADER_NAME",
              "MISMATCHING_SECURITY_HEADER_VALUES",
              "ACCESSIBLE_GIT_REPOSITORY",
              "ACCESSIBLE_SVN_REPOSITORY",
              "ACCESSIBLE_ENV_FILE"
            ],
            "readOnly": false
          },
          "frameUrl": {
            "type": "string",
            "format": "",
            "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fuzzedUrl": {
            "type": "string",
            "format": "",
            "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "httpMethod": {
            "type": "string",
            "format": "",
            "description": "The http method of the request that triggered the vulnerability, in uppercase.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "outdatedLibrary": {
            "type": "",
            "format": "",
            "description": "An addon containing information about outdated libraries.",
            "$ref": "OutdatedLibrary",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reproductionUrl": {
            "type": "string",
            "format": "",
            "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "trackingId": {
            "type": "string",
            "format": "",
            "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "violatingResource": {
            "type": "",
            "format": "",
            "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
            "$ref": "ViolatingResource",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "vulnerableHeaders": {
            "type": "",
            "format": "",
            "description": "An addon containing information about vulnerable or missing HTTP headers.",
            "$ref": "VulnerableHeaders",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "vulnerableParameters": {
            "type": "",
            "format": "",
            "description": "An addon containing information about request parameters which were found to be vulnerable.",
            "$ref": "VulnerableParameters",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "xss": {
            "type": "",
            "format": "",
            "description": "An addon containing information reported for an XSS, if any.",
            "$ref": "Xss",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FindingTypeStats": {
        "type": "object",
        "format": "",
        "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
        "$ref": "",
        "properties": {
          "findingCount": {
            "type": "integer",
            "format": "int32",
            "description": "The count of findings belonging to this finding type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "findingType": {
            "type": "string",
            "format": "",
            "description": "The finding type associated with the stats.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "FINDING_TYPE_UNSPECIFIED",
              "MIXED_CONTENT",
              "OUTDATED_LIBRARY",
              "ROSETTA_FLASH",
              "XSS_CALLBACK",
              "XSS_ERROR",
              "CLEAR_TEXT_PASSWORD",
              "INVALID_CONTENT_TYPE",
              "XSS_ANGULAR_CALLBACK",
              "INVALID_HEADER",
              "MISSPELLED_SECURITY_HEADER_NAME",
              "MISMATCHING_SECURITY_HEADER_VALUES",
              "ACCESSIBLE_GIT_REPOSITORY",
              "ACCESSIBLE_SVN_REPOSITORY",
              "ACCESSIBLE_ENV_FILE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleAccount": {
        "type": "object",
        "format": "",
        "description": "Describes authentication configuration that uses a Google account.",
        "$ref": "",
        "properties": {
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. The user name of the Google account.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Header": {
        "type": "object",
        "format": "",
        "description": "Describes a HTTP Header.",
        "$ref": "",
        "properties": {
          "name": {
            "type": "string",
            "format": "",
            "description": "Header name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "value": {
            "type": "string",
            "format": "",
            "description": "Header value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListCrawledUrlsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the `ListCrawledUrls` method.",
        "$ref": "",
        "properties": {
          "crawledUrls": {
            "type": "array",
            "format": "",
            "description": "The list of CrawledUrls returned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CrawledUrl",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListFindingTypeStatsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the `ListFindingTypeStats` method.",
        "$ref": "",
        "properties": {
          "findingTypeStats": {
            "type": "array",
            "format": "",
            "description": "The list of FindingTypeStats returned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FindingTypeStats",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListFindingsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the `ListFindings` method.",
        "$ref": "",
        "properties": {
          "findings": {
            "type": "array",
            "format": "",
            "description": "The list of Findings returned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Finding",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListScanConfigsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the `ListScanConfigs` method.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scanConfigs": {
            "type": "array",
            "format": "",
            "description": "The list of ScanConfigs returned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ScanConfig",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListScanRunsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for the `ListScanRuns` method.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scanRuns": {
            "type": "array",
            "format": "",
            "description": "The list of ScanRuns returned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ScanRun",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OutdatedLibrary": {
        "type": "object",
        "format": "",
        "description": "Information reported for an outdated library.",
        "$ref": "",
        "properties": {
          "learnMoreUrls": {
            "type": "array",
            "format": "",
            "description": "URLs to learn more information about the vulnerabilities in the library.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "libraryName": {
            "type": "string",
            "format": "",
            "description": "The name of the outdated library.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "version": {
            "type": "string",
            "format": "",
            "description": "The version number.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ScanConfig": {
        "type": "object",
        "format": "",
        "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
        "$ref": "",
        "properties": {
          "authentication": {
            "type": "",
            "format": "",
            "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
            "$ref": "Authentication",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "blacklistPatterns": {
            "type": "array",
            "format": "",
            "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. The user provided display name of the ScanConfig.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "latestRun": {
            "type": "",
            "format": "",
            "description": "Latest ScanRun if available.",
            "$ref": "ScanRun",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxQps": {
            "type": "integer",
            "format": "int32",
            "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "schedule": {
            "type": "",
            "format": "",
            "description": "The schedule of the ScanConfig.",
            "$ref": "Schedule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startingUrls": {
            "type": "array",
            "format": "",
            "description": "Required. The starting URLs from which the scanner finds site pages.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "targetPlatforms": {
            "type": "array",
            "format": "",
            "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": [
                "TARGET_PLATFORM_UNSPECIFIED",
                "APP_ENGINE",
                "COMPUTE",
                "CLOUD_RUN",
                "CLOUD_FUNCTIONS"
              ],
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "userAgent": {
            "type": "string",
            "format": "",
            "description": "The user agent used during scanning.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "USER_AGENT_UNSPECIFIED",
              "CHROME_LINUX",
              "CHROME_ANDROID",
              "SAFARI_IPHONE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ScanRun": {
        "type": "object",
        "format": "",
        "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
        "$ref": "",
        "properties": {
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "executionState": {
            "type": "string",
            "format": "",
            "description": "The execution state of the ScanRun.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "EXECUTION_STATE_UNSPECIFIED",
              "QUEUED",
              "SCANNING",
              "FINISHED"
            ],
            "readOnly": false
          },
          "hasVulnerabilities": {
            "type": "boolean",
            "format": "",
            "description": "Whether the scan run has found any vulnerabilities.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "progressPercent": {
            "type": "integer",
            "format": "int32",
            "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resultState": {
            "type": "string",
            "format": "",
            "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "RESULT_STATE_UNSPECIFIED",
              "SUCCESS",
              "ERROR",
              "KILLED"
            ],
            "readOnly": false
          },
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time at which the ScanRun started.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "urlsCrawledCount": {
            "type": "string",
            "format": "int64",
            "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "urlsTestedCount": {
            "type": "string",
            "format": "int64",
            "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Schedule": {
        "type": "object",
        "format": "",
        "description": "Scan schedule configuration.",
        "$ref": "",
        "properties": {
          "intervalDurationDays": {
            "type": "integer",
            "format": "int32",
            "description": "Required. The duration of time between executions in days.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scheduleTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "StartScanRunRequest": {
        "type": "object",
        "format": "",
        "description": "Request for the `StartScanRun` method.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "StopScanRunRequest": {
        "type": "object",
        "format": "",
        "description": "Request for the `StopScanRun` method.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ViolatingResource": {
        "type": "object",
        "format": "",
        "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
        "$ref": "",
        "properties": {
          "contentType": {
            "type": "string",
            "format": "",
            "description": "The MIME type of this resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resourceUrl": {
            "type": "string",
            "format": "",
            "description": "URL of this violating resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "VulnerableHeaders": {
        "type": "object",
        "format": "",
        "description": "Information about vulnerable or missing HTTP Headers.",
        "$ref": "",
        "properties": {
          "headers": {
            "type": "array",
            "format": "",
            "description": "List of vulnerable headers.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Header",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "missingHeaders": {
            "type": "array",
            "format": "",
            "description": "List of missing headers.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Header",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "VulnerableParameters": {
        "type": "object",
        "format": "",
        "description": "Information about vulnerable request parameters.",
        "$ref": "",
        "properties": {
          "parameterNames": {
            "type": "array",
            "format": "",
            "description": "The vulnerable parameter names.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Xss": {
        "type": "object",
        "format": "",
        "description": "Information reported for an XSS.",
        "$ref": "",
        "properties": {
          "errorMessage": {
            "type": "string",
            "format": "",
            "description": "An error message generated by a javascript breakage.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "stackTraces": {
            "type": "array",
            "format": "",
            "description": "Stack traces leading to the point where the XSS occurred.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "projects": {
        "methods": null,
        "resources": {
          "scanConfigs": {
            "methods": {
              "create": {
                "id": "websecurityscanner.projects.scanConfigs.create",
                "httpMethod": "POST",
                "path": "v1alpha/{+parent}/scanConfigs",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
                "description": "Creates a new ScanConfig.",
                "parameters": {
                  "parent": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "parent"
                ],
                "request": {
                  "$ref": "ScanConfig"
                },
                "response": {
                  "$ref": "ScanConfig"
                }
              },
              "delete": {
                "id": "websecurityscanner.projects.scanConfigs.delete",
                "httpMethod": "DELETE",
                "path": "v1alpha/{+name}",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                "description": "Deletes an existing ScanConfig and its child resources.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "Empty"
                }
              },
              "get": {
                "id": "websecurityscanner.projects.scanConfigs.get",
                "httpMethod": "GET",
                "path": "v1alpha/{+name}",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                "description": "Gets a ScanConfig.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "ScanConfig"
                }
              },
              "list": {
                "id": "websecurityscanner.projects.scanConfigs.list",
                "httpMethod": "GET",
                "path": "v1alpha/{+parent}/scanConfigs",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
                "description": "Lists ScanConfigs under a given project.",
                "parameters": {
                  "pageSize": {
                    "type": "integer",
                    "location": "query",
                    "required": false
                  },
                  "pageToken": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "parent": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "parent"
                ],
                "request": null,
                "response": {
                  "$ref": "ListScanConfigsResponse"
                }
              },
              "patch": {
                "id": "websecurityscanner.projects.scanConfigs.patch",
                "httpMethod": "PATCH",
                "path": "v1alpha/{+name}",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  },
                  "updateMask": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": {
                  "$ref": "ScanConfig"
                },
                "response": {
                  "$ref": "ScanConfig"
                }
              },
              "start": {
                "id": "websecurityscanner.projects.scanConfigs.start",
                "httpMethod": "POST",
                "path": "v1alpha/{+name}:start",
                "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
                "description": "Start a ScanRun according to the given ScanConfig.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": {
                  "$ref": "StartScanRunRequest"
                },
                "response": {
                  "$ref": "ScanRun"
                }
              }
            },
            "resources": {
              "scanRuns": {
                "methods": {
                  "get": {
                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                    "httpMethod": "GET",
                    "path": "v1alpha/{+name}",
                    "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                    "description": "Gets a ScanRun.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ScanRun"
                    }
                  },
                  "list": {
                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                    "httpMethod": "GET",
                    "path": "v1alpha/{+parent}/scanRuns",
                    "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                    "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                    "parameters": {
                      "pageSize": {
                        "type": "integer",
                        "location": "query",
                        "required": false
                      },
                      "pageToken": {
                        "type": "string",
                        "location": "query",
                        "required": false
                      },
                      "parent": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "parent"
                    ],
                    "request": null,
                    "response": {
                      "$ref": "ListScanRunsResponse"
                    }
                  },
                  "stop": {
                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                    "httpMethod": "POST",
                    "path": "v1alpha/{+name}:stop",
                    "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                    "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                    "parameters": {
                      "name": {
                        "type": "string",
                        "location": "path",
                        "required": true
                      }
                    },
                    "parameterOrder": [
                      "name"
                    ],
                    "request": {
                      "$ref": "StopScanRunRequest"
                    },
                    "response": {
                      "$ref": "ScanRun"
                    }
                  }
                },
                "resources": {
                  "crawledUrls": {
                    "methods": {
                      "list": {
                        "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                        "httpMethod": "GET",
                        "path": "v1alpha/{+parent}/crawledUrls",
                        "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                        "description": "List CrawledUrls under a given ScanRun.",
                        "parameters": {
                          "pageSize": {
                            "type": "integer",
                            "location": "query",
                            "required": false
                          },
                          "pageToken": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "ListCrawledUrlsResponse"
                        }
                      }
                    },
                    "resources": null
                  },
                  "findingTypeStats": {
                    "methods": {
                      "list": {
                        "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                        "httpMethod": "GET",
                        "path": "v1alpha/{+parent}/findingTypeStats",
                        "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                        "description": "List all FindingTypeStats under a given ScanRun.",
                        "parameters": {
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "ListFindingTypeStatsResponse"
                        }
                      }
                    },
                    "resources": null
                  },
                  "findings": {
                    "methods": {
                      "get": {
                        "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                        "httpMethod": "GET",
                        "path": "v1alpha/{+name}",
                        "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                        "description": "Gets a Finding.",
                        "parameters": {
                          "name": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "name"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "Finding"
                        }
                      },
                      "list": {
                        "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                        "httpMethod": "GET",
                        "path": "v1alpha/{+parent}/findings",
                        "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                        "description": "List Findings under a given ScanRun.",
                        "parameters": {
                          "filter": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "pageSize": {
                            "type": "integer",
                            "location": "query",
                            "required": false
                          },
                          "pageToken": {
                            "type": "string",
                            "location": "query",
                            "required": false
                          },
                          "parent": {
                            "type": "string",
                            "location": "path",
                            "required": true
                          }
                        },
                        "parameterOrder": [
                          "parent"
                        ],
                        "request": null,
                        "response": {
                          "$ref": "ListFindingsResponse"
                        }
                      }
                    },
                    "resources": null
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
