{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://datastream.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_datastream_v1alpha1",
  "version_qualifier": "v1alpha1",
  "raw_spec": {
    "name": "datastream",
    "revision": "20260729",
    "discoveryVersion": "v1",
    "baseUrl": "https://datastream.googleapis.com/",
    "rootUrl": "https://datastream.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "AvroFileFormat": {
        "type": "object",
        "format": "",
        "description": "AVRO file format configuration.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BackfillAllStrategy": {
        "type": "object",
        "format": "",
        "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
        "$ref": "",
        "properties": {
          "mysqlExcludedObjects": {
            "type": "",
            "format": "",
            "description": "MySQL data source objects to avoid backfilling.",
            "$ref": "MysqlRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oracleExcludedObjects": {
            "type": "",
            "format": "",
            "description": "Oracle data source objects to avoid backfilling.",
            "$ref": "OracleRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BackfillJob": {
        "type": "object",
        "format": "",
        "description": "Represents a backfill job on a specific stream object.",
        "$ref": "",
        "properties": {
          "errors": {
            "type": "array",
            "format": "",
            "description": "Output only. Errors which caused the backfill job to fail.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Error",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "lastEndTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Backfill job's end time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "lastStartTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. Backfill job's start time.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Backfill job state.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "NOT_STARTED",
              "PENDING",
              "ACTIVE",
              "STOPPED",
              "FAILED",
              "COMPLETED",
              "UNSUPPORTED"
            ],
            "readOnly": false
          },
          "trigger": {
            "type": "string",
            "format": "",
            "description": "Backfill job's triggering reason.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "TRIGGER_UNSPECIFIED",
              "AUTOMATIC",
              "MANUAL"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BackfillNoneStrategy": {
        "type": "object",
        "format": "",
        "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "BadRequest": {
        "type": "object",
        "format": "",
        "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
        "$ref": "",
        "properties": {
          "fieldViolations": {
            "type": "array",
            "format": "",
            "description": "Describes all violations in a client request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "FieldViolation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CancelOperationRequest": {
        "type": "object",
        "format": "",
        "description": "The request message for Operations.CancelOperation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ConnectionProfile": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The create time of the resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Display name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "forwardSshConnectivity": {
            "type": "",
            "format": "",
            "description": "Forward SSH tunnel connectivity.",
            "$ref": "ForwardSshTunnelConnectivity",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsProfile": {
            "type": "",
            "format": "",
            "description": "Cloud Storage ConnectionProfile configuration.",
            "$ref": "GcsProfile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Labels.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "mysqlProfile": {
            "type": "",
            "format": "",
            "description": "MySQL ConnectionProfile configuration.",
            "$ref": "MysqlProfile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. The resource's name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "noConnectivity": {
            "type": "",
            "format": "",
            "description": "No connectivity option chosen.",
            "$ref": "NoConnectivitySettings",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oracleProfile": {
            "type": "",
            "format": "",
            "description": "Oracle ConnectionProfile configuration.",
            "$ref": "OracleProfile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "privateConnectivity": {
            "type": "",
            "format": "",
            "description": "Private connectivity.",
            "$ref": "PrivateConnectivity",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "staticServiceIpConnectivity": {
            "type": "",
            "format": "",
            "description": "Static Service IP connectivity.",
            "$ref": "StaticServiceIpConnectivity",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The update time of the resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DebugInfo": {
        "type": "object",
        "format": "",
        "description": "Describes additional debugging info.",
        "$ref": "",
        "properties": {
          "detail": {
            "type": "string",
            "format": "",
            "description": "Additional debugging information provided by the server.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "stackEntries": {
            "type": "array",
            "format": "",
            "description": "The stack trace entries indicating where the error occurred.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DestinationConfig": {
        "type": "object",
        "format": "",
        "description": "The configuration of the stream destination.",
        "$ref": "",
        "properties": {
          "destinationConnectionProfileName": {
            "type": "string",
            "format": "",
            "description": "Required. Destination connection profile identifier.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsDestinationConfig": {
            "type": "",
            "format": "",
            "description": "GCS destination configuration.",
            "$ref": "GcsDestinationConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DiscoverConnectionProfileRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for 'discover' ConnectionProfile request.",
        "$ref": "",
        "properties": {
          "connectionProfile": {
            "type": "",
            "format": "",
            "description": "An ad-hoc ConnectionProfile configuration.",
            "$ref": "ConnectionProfile",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "connectionProfileName": {
            "type": "string",
            "format": "",
            "description": "A reference to an existing ConnectionProfile.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mysqlRdbms": {
            "type": "",
            "format": "",
            "description": "MySQL RDBMS to enrich with child data objects and metadata.",
            "$ref": "MysqlRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oracleRdbms": {
            "type": "",
            "format": "",
            "description": "Oracle RDBMS to enrich with child data objects and metadata.",
            "$ref": "OracleRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "recursionDepth": {
            "type": "integer",
            "format": "int32",
            "description": "The number of hierarchy levels below the current level to be retrieved.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "recursive": {
            "type": "boolean",
            "format": "",
            "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DiscoverConnectionProfileResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "mysqlRdbms": {
            "type": "",
            "format": "",
            "description": "Enriched MySQL RDBMS object.",
            "$ref": "MysqlRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "oracleRdbms": {
            "type": "",
            "format": "",
            "description": "Enriched Oracle RDBMS object.",
            "$ref": "OracleRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "DropLargeObjects": {
        "type": "object",
        "format": "",
        "description": "Configuration to drop large object values.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Empty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Error": {
        "type": "object",
        "format": "",
        "description": "Represent a user-facing Error.",
        "$ref": "",
        "properties": {
          "details": {
            "type": "object",
            "format": "",
            "description": "Additional information about the error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "errorTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time when the error occurred.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "errorUuid": {
            "type": "string",
            "format": "",
            "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "A message containing more information about the error that occurred.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reason": {
            "type": "string",
            "format": "",
            "description": "A title that explains the reason for the error.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ErrorInfo": {
        "type": "object",
        "format": "",
        "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
        "$ref": "",
        "properties": {
          "domain": {
            "type": "string",
            "format": "",
            "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "reason": {
            "type": "string",
            "format": "",
            "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FetchErrorsRequest": {
        "type": "object",
        "format": "",
        "description": "Request message for 'FetchErrors' request.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FetchErrorsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for a 'FetchErrors' response.",
        "$ref": "",
        "properties": {
          "errors": {
            "type": "array",
            "format": "",
            "description": "The list of errors on the Stream.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Error",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FetchStaticIpsResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for a 'FetchStaticIps' response.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "staticIps": {
            "type": "array",
            "format": "",
            "description": "list of static ips by account",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "FieldViolation": {
        "type": "object",
        "format": "",
        "description": "A message type used to describe a single bad request field.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "A description of why the request element is bad.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "field": {
            "type": "string",
            "format": "",
            "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "localizedMessage": {
            "type": "",
            "format": "",
            "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
            "$ref": "LocalizedMessage",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "reason": {
            "type": "string",
            "format": "",
            "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ForwardSshTunnelConnectivity": {
        "type": "object",
        "format": "",
        "description": "Forward SSH Tunnel connectivity.",
        "$ref": "",
        "properties": {
          "hostname": {
            "type": "string",
            "format": "",
            "description": "Required. Hostname for the SSH tunnel.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Input only. SSH password.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Port for the SSH tunnel, default value is 22.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "privateKey": {
            "type": "string",
            "format": "",
            "description": "Input only. SSH private key.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. Username for the SSH tunnel.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GcsDestinationConfig": {
        "type": "object",
        "format": "",
        "description": "Google Cloud Storage destination configuration",
        "$ref": "",
        "properties": {
          "avroFileFormat": {
            "type": "",
            "format": "",
            "description": "AVRO file format configuration.",
            "$ref": "AvroFileFormat",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fileRotationInterval": {
            "type": "string",
            "format": "google-duration",
            "description": "The maximum duration for which new events are added before a file is closed and a new file is created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fileRotationMb": {
            "type": "integer",
            "format": "int32",
            "description": "The maximum file size to be saved in the bucket.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsFileFormat": {
            "type": "string",
            "format": "",
            "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "GCS_FILE_FORMAT_UNSPECIFIED",
              "AVRO"
            ],
            "readOnly": false
          },
          "jsonFileFormat": {
            "type": "",
            "format": "",
            "description": "JSON file format configuration.",
            "$ref": "JsonFileFormat",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "path": {
            "type": "string",
            "format": "",
            "description": "Path inside the Cloud Storage bucket to write data to.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GcsProfile": {
        "type": "object",
        "format": "",
        "description": "Cloud Storage bucket profile.",
        "$ref": "",
        "properties": {
          "bucketName": {
            "type": "string",
            "format": "",
            "description": "Required. The full project and resource path for Cloud Storage bucket including the name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rootPath": {
            "type": "string",
            "format": "",
            "description": "The root path inside the Cloud Storage bucket.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Help": {
        "type": "object",
        "format": "",
        "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
        "$ref": "",
        "properties": {
          "links": {
            "type": "array",
            "format": "",
            "description": "URL(s) pointing to additional information on handling the current error.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Link",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "JsonFileFormat": {
        "type": "object",
        "format": "",
        "description": "JSON file format configuration.",
        "$ref": "",
        "properties": {
          "compression": {
            "type": "string",
            "format": "",
            "description": "Compression of the loaded JSON file.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "JSON_COMPRESSION_UNSPECIFIED",
              "NO_COMPRESSION",
              "GZIP"
            ],
            "readOnly": false
          },
          "schemaFileFormat": {
            "type": "string",
            "format": "",
            "description": "The schema file format along JSON data files.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "SCHEMA_FILE_FORMAT_UNSPECIFIED",
              "NO_SCHEMA_FILE",
              "AVRO_SCHEMA_FILE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Link": {
        "type": "object",
        "format": "",
        "description": "Describes a URL link.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Describes what the link offers.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "url": {
            "type": "string",
            "format": "",
            "description": "The URL of the link.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListConnectionProfilesResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "connectionProfiles": {
            "type": "array",
            "format": "",
            "description": "List of connection profiles.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "ConnectionProfile",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListLocationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Locations.ListLocations.",
        "$ref": "",
        "properties": {
          "locations": {
            "type": "array",
            "format": "",
            "description": "A list of locations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Location",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListOperationsResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for Operations.ListOperations.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "The standard List next-page token.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operations": {
            "type": "array",
            "format": "",
            "description": "A list of operations that matches the specified filter in the request.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Operation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListPrivateConnectionsResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "privateConnections": {
            "type": "array",
            "format": "",
            "description": "List of private connectivity configurations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "PrivateConnection",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListRoutesResponse": {
        "type": "object",
        "format": "",
        "description": "route list response",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "routes": {
            "type": "array",
            "format": "",
            "description": "List of Routes.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Route",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListStreamObjectsResponse": {
        "type": "object",
        "format": "",
        "description": "Response containing the objects for a stream.",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "streamObjects": {
            "type": "array",
            "format": "",
            "description": "List of stream objects.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "StreamObject",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "ListStreamsResponse": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "streams": {
            "type": "array",
            "format": "",
            "description": "List of streams",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "Stream",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unreachable": {
            "type": "array",
            "format": "",
            "description": "Locations that could not be reached.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "LocalizedMessage": {
        "type": "object",
        "format": "",
        "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
        "$ref": "",
        "properties": {
          "locale": {
            "type": "string",
            "format": "",
            "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "message": {
            "type": "string",
            "format": "",
            "description": "The localized error message in the above locale.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Location": {
        "type": "object",
        "format": "",
        "description": "A resource that represents a Google Cloud location.",
        "$ref": "",
        "properties": {
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "locationId": {
            "type": "string",
            "format": "",
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata. For example the available capacity at the given location.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlColumn": {
        "type": "object",
        "format": "",
        "description": "MySQL Column.",
        "$ref": "",
        "properties": {
          "collation": {
            "type": "string",
            "format": "",
            "description": "Column collation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "columnName": {
            "type": "string",
            "format": "",
            "description": "Column name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dataType": {
            "type": "string",
            "format": "",
            "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Column length.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nullable": {
            "type": "boolean",
            "format": "",
            "description": "Whether or not the column can accept a null value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "ordinalPosition": {
            "type": "integer",
            "format": "int32",
            "description": "The ordinal position of the column in the table.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "primaryKey": {
            "type": "boolean",
            "format": "",
            "description": "Whether or not the column represents a primary key.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlDatabase": {
        "type": "object",
        "format": "",
        "description": "MySQL database.",
        "$ref": "",
        "properties": {
          "databaseName": {
            "type": "string",
            "format": "",
            "description": "Database name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "mysqlTables": {
            "type": "array",
            "format": "",
            "description": "Tables in the database.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "MysqlTable",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlObjectIdentifier": {
        "type": "object",
        "format": "",
        "description": "Mysql data source object identifier.",
        "$ref": "",
        "properties": {
          "database": {
            "type": "string",
            "format": "",
            "description": "Required. The database name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "table": {
            "type": "string",
            "format": "",
            "description": "Required. The table name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlProfile": {
        "type": "object",
        "format": "",
        "description": "MySQL database profile.",
        "$ref": "",
        "properties": {
          "hostname": {
            "type": "string",
            "format": "",
            "description": "Required. Hostname for the MySQL connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Input only. Password for the MySQL connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Port for the MySQL connection, default value is 3306.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "sslConfig": {
            "type": "",
            "format": "",
            "description": "SSL configuration for the MySQL connection.",
            "$ref": "MysqlSslConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. Username for the MySQL connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlRdbms": {
        "type": "object",
        "format": "",
        "description": "MySQL database structure",
        "$ref": "",
        "properties": {
          "mysqlDatabases": {
            "type": "array",
            "format": "",
            "description": "Mysql databases on the server",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "MysqlDatabase",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlSourceConfig": {
        "type": "object",
        "format": "",
        "description": "MySQL source configuration",
        "$ref": "",
        "properties": {
          "allowlist": {
            "type": "",
            "format": "",
            "description": "MySQL objects to retrieve from the source.",
            "$ref": "MysqlRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rejectlist": {
            "type": "",
            "format": "",
            "description": "MySQL objects to exclude from the stream.",
            "$ref": "MysqlRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlSslConfig": {
        "type": "object",
        "format": "",
        "description": "MySQL SSL configuration information.",
        "$ref": "",
        "properties": {
          "caCertificate": {
            "type": "string",
            "format": "",
            "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "caCertificateSet": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates whether the ca_certificate field is set.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "clientCertificate": {
            "type": "string",
            "format": "",
            "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "clientCertificateSet": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates whether the client_certificate field is set.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "clientKey": {
            "type": "string",
            "format": "",
            "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "clientKeySet": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Indicates whether the client_key field is set.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "MysqlTable": {
        "type": "object",
        "format": "",
        "description": "MySQL table.",
        "$ref": "",
        "properties": {
          "mysqlColumns": {
            "type": "array",
            "format": "",
            "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "MysqlColumn",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tableName": {
            "type": "string",
            "format": "",
            "description": "Table name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "NoConnectivitySettings": {
        "type": "object",
        "format": "",
        "description": "No connectivity settings.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "Operation": {
        "type": "object",
        "format": "",
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "$ref": "",
        "properties": {
          "done": {
            "type": "boolean",
            "format": "",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "error": {
            "type": "",
            "format": "",
            "description": "The error result of the operation in case of failure or cancellation.",
            "$ref": "Status",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "object",
            "format": "",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "response": {
            "type": "object",
            "format": "",
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "any",
              "format": "",
              "description": "Properties of the object. Contains field @type with type URL.",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OperationMetadata": {
        "type": "object",
        "format": "",
        "description": "Represents the metadata of the long-running operation.",
        "$ref": "",
        "properties": {
          "apiVersion": {
            "type": "string",
            "format": "",
            "description": "Output only. API version used to start the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the operation finished running.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "requestedCancellation": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "statusMessage": {
            "type": "string",
            "format": "",
            "description": "Output only. Human-readable status of the operation, if any.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "format": "",
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "validationResult": {
            "type": "",
            "format": "",
            "description": "Output only. Results of executed validations if there are any.",
            "$ref": "ValidationResult",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "verb": {
            "type": "string",
            "format": "",
            "description": "Output only. Name of the verb executed by the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleColumn": {
        "type": "object",
        "format": "",
        "description": "Oracle Column.",
        "$ref": "",
        "properties": {
          "columnName": {
            "type": "string",
            "format": "",
            "description": "Column name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dataType": {
            "type": "string",
            "format": "",
            "description": "The Oracle data type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "encoding": {
            "type": "string",
            "format": "",
            "description": "Column encoding.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Column length.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nullable": {
            "type": "boolean",
            "format": "",
            "description": "Whether or not the column can accept a null value.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "ordinalPosition": {
            "type": "integer",
            "format": "int32",
            "description": "The ordinal position of the column in the table.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "precision": {
            "type": "integer",
            "format": "int32",
            "description": "Column precision.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "primaryKey": {
            "type": "boolean",
            "format": "",
            "description": "Whether or not the column represents a primary key.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "scale": {
            "type": "integer",
            "format": "int32",
            "description": "Column scale.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleObjectIdentifier": {
        "type": "object",
        "format": "",
        "description": "Oracle data source object identifier.",
        "$ref": "",
        "properties": {
          "schema": {
            "type": "string",
            "format": "",
            "description": "Required. The schema name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "table": {
            "type": "string",
            "format": "",
            "description": "Required. The table name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleProfile": {
        "type": "object",
        "format": "",
        "description": "Oracle database profile.",
        "$ref": "",
        "properties": {
          "connectionAttributes": {
            "type": "object",
            "format": "",
            "description": "Connection string attributes",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "databaseService": {
            "type": "string",
            "format": "",
            "description": "Required. Database for the Oracle connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "hostname": {
            "type": "string",
            "format": "",
            "description": "Required. Hostname for the Oracle connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "password": {
            "type": "string",
            "format": "",
            "description": "Required. Password for the Oracle connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Port for the Oracle connection, default value is 1521.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "username": {
            "type": "string",
            "format": "",
            "description": "Required. Username for the Oracle connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleRdbms": {
        "type": "object",
        "format": "",
        "description": "Oracle database structure.",
        "$ref": "",
        "properties": {
          "oracleSchemas": {
            "type": "array",
            "format": "",
            "description": "Oracle schemas/databases in the database server.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OracleSchema",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleSchema": {
        "type": "object",
        "format": "",
        "description": "Oracle schema.",
        "$ref": "",
        "properties": {
          "oracleTables": {
            "type": "array",
            "format": "",
            "description": "Tables in the schema.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OracleTable",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "schemaName": {
            "type": "string",
            "format": "",
            "description": "Schema name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleSourceConfig": {
        "type": "object",
        "format": "",
        "description": "Oracle data source configuration",
        "$ref": "",
        "properties": {
          "allowlist": {
            "type": "",
            "format": "",
            "description": "Oracle objects to include in the stream.",
            "$ref": "OracleRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "dropLargeObjects": {
            "type": "",
            "format": "",
            "description": "Drop large object values.",
            "$ref": "DropLargeObjects",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rejectlist": {
            "type": "",
            "format": "",
            "description": "Oracle objects to exclude from the stream.",
            "$ref": "OracleRdbms",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "OracleTable": {
        "type": "object",
        "format": "",
        "description": "Oracle table.",
        "$ref": "",
        "properties": {
          "oracleColumns": {
            "type": "array",
            "format": "",
            "description": "Oracle columns in the schema. When unspecified as part of inclue/exclude lists, includes/excludes everything.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "OracleColumn",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "tableName": {
            "type": "string",
            "format": "",
            "description": "Table name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "PreconditionFailure": {
        "type": "object",
        "format": "",
        "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
        "$ref": "",
        "properties": {
          "violations": {
            "type": "array",
            "format": "",
            "description": "Describes all precondition violations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "PreconditionFailureViolation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "PreconditionFailureViolation": {
        "type": "object",
        "format": "",
        "description": "A message type used to describe a single precondition failure.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "subject": {
            "type": "string",
            "format": "",
            "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "type": {
            "type": "string",
            "format": "",
            "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "PrivateConnection": {
        "type": "object",
        "format": "",
        "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The create time of the resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Required. Display name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "error": {
            "type": "",
            "format": "",
            "description": "Output only. In case of error, the details of the error in a user-friendly format.",
            "$ref": "Error",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Labels.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. The resource's name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the Private Connection.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "CREATED",
              "FAILED",
              "DELETING",
              "FAILED_TO_DELETE"
            ],
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The update time of the resource.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "vpcPeeringConfig": {
            "type": "",
            "format": "",
            "description": "VPC Peering Config",
            "$ref": "VpcPeeringConfig",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "PrivateConnectivity": {
        "type": "object",
        "format": "",
        "description": "Private Connectivity",
        "$ref": "",
        "properties": {
          "privateConnectionName": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "QuotaFailure": {
        "type": "object",
        "format": "",
        "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
        "$ref": "",
        "properties": {
          "violations": {
            "type": "array",
            "format": "",
            "description": "Describes all quota violations.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "QuotaFailureViolation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "QuotaFailureViolation": {
        "type": "object",
        "format": "",
        "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
        "$ref": "",
        "properties": {
          "apiService": {
            "type": "string",
            "format": "",
            "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "futureQuotaValue": {
            "type": "string",
            "format": "int64",
            "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "quotaDimensions": {
            "type": "object",
            "format": "",
[...]
