{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://documentai.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_documentai_v1beta3",
  "version_qualifier": "v1beta3",
  "raw_spec": {
    "name": "documentai",
    "revision": "20260820",
    "discoveryVersion": "v1",
    "baseUrl": "https://documentai.googleapis.com/",
    "rootUrl": "https://documentai.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
        "type": "object",
        "format": "",
        "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3",
        "$ref": "",
        "properties": {
          "validationRules": {
            "type": "array",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
        "type": "object",
        "format": "",
        "description": "Next ID: 9",
        "$ref": "",
        "properties": {
          "childAlignmentRule": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "Description of the validation rule. This has no use but for documentation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityAlignmentRule": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fieldOccurrences": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fieldRegex": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "formValidation": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Name of the validation rule.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "ruleId": {
            "type": "string",
            "format": "",
            "description": "Unique identifier of the rule. Optional.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
        "type": "object",
        "format": "",
        "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers.",
        "$ref": "",
        "properties": {
          "alignmentType": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "ALIGNMENT_TYPE_UNSPECIFIED",
              "ALIGNMENT_TYPE_HORIZONTAL",
              "ALIGNMENT_TYPE_VERTICAL"
            ],
            "readOnly": false
          },
          "tolerance": {
            "type": "number",
            "format": "float",
            "description": "The tolerance to use when comparing coordinates.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
        "type": "object",
        "format": "",
        "description": "A rule that aligns specified child fields with a parent field.",
        "$ref": "",
        "properties": {
          "alignmentRule": {
            "type": "",
            "format": "",
            "description": "The alignment rule to apply to the child fields.",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "childFields": {
            "type": "array",
            "format": "",
            "description": "The child fields to be aligned within the parent field.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "parentField": {
            "type": "",
            "format": "",
            "description": "The full path of the parent field.",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant": {
        "type": "object",
        "format": "",
        "description": "The constant value used in the validation rules.",
        "$ref": "",
        "properties": {
          "floatValue": {
            "type": "number",
            "format": "float",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
        "type": "object",
        "format": "",
        "description": "A rule that aligns specified fields with each other.",
        "$ref": "",
        "properties": {
          "alignmentRule": {
            "type": "",
            "format": "",
            "description": "The alignment rule to apply to the fields.",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fields": {
            "type": "array",
            "format": "",
            "description": "The fields to be aligned.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "defaultValue": {
            "type": "",
            "format": "",
            "description": "Default value to use if the field is not present. If the field is missing and the default value is not set, the validation run as if the field is not present in the validation logic.",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fieldName": {
            "type": "string",
            "format": "",
            "description": "The field name to validate. This can be a simple field name or a nested field one using the ':' (meant as an aggregator) or '*' (meant as foreach) operators.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "field": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "maxOccurrences": {
            "type": "integer",
            "format": "uint32",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "minOccurrences": {
            "type": "integer",
            "format": "uint32",
            "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "field": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "pattern": {
            "type": "string",
            "format": "",
            "description": "Python regex to validate the field values.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "leftOperand": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "rightOperand": {
            "type": "",
            "format": "",
            "description": "",
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "validationOperator": {
            "type": "string",
            "format": "",
            "description": "The relational operator to be applied to the operands.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "OPERATION_TYPE_UNSPECIFIED",
              "OPERATION_TYPE_EQ",
              "OPERATION_TYPE_NE",
              "OPERATION_TYPE_LT",
              "OPERATION_TYPE_LE",
              "OPERATION_TYPE_GT",
              "OPERATION_TYPE_GE"
            ],
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "constants": {
            "type": "array",
            "format": "",
            "description": "A list of constants to be used as operands.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "fields": {
            "type": "array",
            "format": "",
            "description": "A list of fields to be used as operands.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operationType": {
            "type": "string",
            "format": "",
            "description": "The operation type to be applied to all the operands.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "OPERATION_TYPE_UNSPECIFIED",
              "OPERATION_TYPE_SUM",
              "OPERATION_TYPE_SUB",
              "OPERATION_TYPE_MUL",
              "OPERATION_TYPE_DIV",
              "OPERATION_TYPE_MAX",
              "OPERATION_TYPE_MIN",
              "OPERATION_TYPE_ABS",
              "OPERATION_TYPE_UNIQUE",
              "OPERATION_TYPE_COUNT"
            ],
            "readOnly": false
          },
          "operations": {
            "type": "array",
            "format": "",
            "description": "A list of recursive operations to be used as operands.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata of the auto-labeling documents operation.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "individualAutoLabelStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of individual auto-labeling statuses of the dataset documents.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "totalDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of the auto-labeling documents.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus": {
        "type": "object",
        "format": "",
        "description": "The status of individual documents in the auto-labeling process.",
        "$ref": "",
        "properties": {
          "documentId": {
            "type": "",
            "format": "",
            "description": "The document ID of the auto-labeled document. This will replace the gcs_uri.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of the document auto-labeling.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "The response proto of AutoLabelDocuments method.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "errorDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of documents that failed to be deleted in storage.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "individualBatchDeleteStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of response details of each document.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "totalDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of documents deleting from dataset.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
        "type": "object",
        "format": "",
        "description": "The status of each individual document in the batch delete process.",
        "$ref": "",
        "properties": {
          "documentId": {
            "type": "",
            "format": "",
            "description": "The document ID of the document.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of deleting the document in storage.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "Response of the delete documents operation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "destDatasetType": {
            "type": "string",
            "format": "",
            "description": "The destination dataset split type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATASET_SPLIT_TYPE_UNSPECIFIED",
              "DATASET_SPLIT_TRAIN",
              "DATASET_SPLIT_TEST",
              "DATASET_SPLIT_UNASSIGNED"
            ],
            "readOnly": false
          },
          "destSplitType": {
            "type": "string",
            "format": "",
            "description": "The destination dataset split type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATASET_SPLIT_TYPE_UNSPECIFIED",
              "DATASET_SPLIT_TRAIN",
              "DATASET_SPLIT_TEST",
              "DATASET_SPLIT_UNASSIGNED"
            ],
            "readOnly": false
          },
          "individualBatchMoveStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of response details of each document.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus": {
        "type": "object",
        "format": "",
        "description": "The status of each individual document in the batch move process.",
        "$ref": "",
        "properties": {
          "documentId": {
            "type": "",
            "format": "",
            "description": "The document ID of the document.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of moving the document.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "Response of the batch move documents operation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "individualBatchUpdateStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of response details of each document.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus": {
        "type": "object",
        "format": "",
        "description": "The status of each individual document in the batch update process.",
        "$ref": "",
        "properties": {
          "documentId": {
            "type": "",
            "format": "",
            "description": "The document ID of the document.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of updating the document in storage.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "Response of the batch update documents operation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "The common metadata for long running operations.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The creation time of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resource": {
            "type": "string",
            "format": "",
            "description": "A related resource to this operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "The state of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "RUNNING",
              "CANCELLING",
              "SUCCEEDED",
              "FAILED",
              "CANCELLED"
            ],
            "readOnly": false
          },
          "stateMessage": {
            "type": "string",
            "format": "",
            "description": "A message providing more details about the current state of processing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The last update time of the operation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the CreateLabelerPool method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for DeleteLabelerPool.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the DeleteProcessor method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the DeployProcessorVersion method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for the DeployProcessorVersion method.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the DisableProcessor method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentId": {
        "type": "object",
        "format": "",
        "description": "Document Identifier.",
        "$ref": "",
        "properties": {
          "gcsManagedDocId": {
            "type": "",
            "format": "",
            "description": "A document ID within user-managed Cloud Storage.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "revisionRef": {
            "type": "",
            "format": "",
            "description": "Points to a specific revision of the document if set.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "unmanagedDocId": {
            "type": "",
            "format": "",
            "description": "A document ID within unmanaged dataset.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
        "type": "object",
        "format": "",
        "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
        "$ref": "",
        "properties": {
          "cwDocId": {
            "type": "string",
            "format": "",
            "description": "ID of the document (indexed) managed by Content Warehouse.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "gcsUri": {
            "type": "string",
            "format": "",
            "description": "Required. The Cloud Storage URI where the actual document is stored.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
        "type": "object",
        "format": "",
        "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
        "$ref": "",
        "properties": {
          "docId": {
            "type": "string",
            "format": "",
            "description": "Required. The ID of the document.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
        "type": "object",
        "format": "",
        "description": "The schema defines the output of the processed document by a processor.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "Description of the schema.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "Display name to show users.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "documentPrompt": {
            "type": "string",
            "format": "",
            "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityTypes": {
            "type": "array",
            "format": "",
            "description": "Entity types of the schema.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "metadata": {
            "type": "",
            "format": "",
            "description": "Metadata of the schema.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType": {
        "type": "object",
        "format": "",
        "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
        "$ref": "",
        "properties": {
          "baseTypes": {
            "type": "array",
            "format": "",
            "description": "The entity type that this type is derived from. For now, one and only one should be set.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "description": {
            "type": "string",
            "format": "",
            "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "User defined name for the type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "entityTypeMetadata": {
            "type": "",
            "format": "",
            "description": "Metadata for the entity type.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enumValues": {
            "type": "",
            "format": "",
            "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is \u003e10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example, `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "properties": {
            "type": "array",
            "format": "",
            "description": "Description the nested structure, or composition of an entity.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues": {
        "type": "object",
        "format": "",
        "description": "Defines the a list of enum values.",
        "$ref": "",
        "properties": {
          "values": {
            "type": "array",
            "format": "",
            "description": "The individual values that this enum values type can include.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
        "type": "object",
        "format": "",
        "description": "Defines properties that can be part of the entity type.",
        "$ref": "",
        "properties": {
          "description": {
            "type": "string",
            "format": "",
            "description": "The description of the property. Could be used to provide more information about the property for model calls.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "User defined name for the property.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "method": {
            "type": "string",
            "format": "",
            "description": "Specifies how the entity's value is obtained.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "METHOD_UNSPECIFIED",
              "EXTRACT",
              "DERIVE",
              "RELAXED_EXTRACT"
            ],
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "The name of the property. Follows the same guidelines as the EntityType name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "occurrenceType": {
            "type": "string",
            "format": "",
            "description": "Occurrence type limits the number of instances an entity type appears in the document.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "OCCURRENCE_TYPE_UNSPECIFIED",
              "OPTIONAL_ONCE",
              "OPTIONAL_MULTIPLE",
              "REQUIRED_ONCE",
              "REQUIRED_MULTIPLE"
            ],
            "readOnly": false
          },
          "propertyMetadata": {
            "type": "",
            "format": "",
            "description": "Any additional metadata about the property can be added here.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "valueType": {
            "type": "string",
            "format": "",
            "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for global schema behavior.",
        "$ref": "",
        "properties": {
          "documentAllowMultipleLabels": {
            "type": "boolean",
            "format": "",
            "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "documentSplitter": {
            "type": "boolean",
            "format": "",
            "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "prefixedNamingOnProperties": {
            "type": "boolean",
            "format": "",
            "description": "If set, all the nested entities must be prefixed with the parents.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "skipNamingValidation": {
            "type": "boolean",
            "format": "",
            "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the EnableProcessor method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
        "type": "object",
        "format": "",
        "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata about an entity type.",
        "$ref": "",
        "properties": {
          "fieldTierMetadata": {
            "type": "",
            "format": "",
            "description": "Field tier metadata on the property",
            "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "humanReviewLabelingMetadata": {
            "type": "",
            "format": "",
            "description": "Human review labeling config on the entity.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "humanReviewMetadata": {
            "type": "",
            "format": "",
            "description": "Human review config on the entity.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "inactive": {
            "type": "boolean",
            "format": "",
            "description": "Whether the entity type should be considered inactive.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "schemaEditabilityMetadata": {
            "type": "",
            "format": "",
            "description": "Schema editability metadata on the entity.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "schemaInferenceMetadata": {
            "type": "",
            "format": "",
            "description": "Schema inference metadata on the entity.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata of the EvaluateProcessorVersion method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
        "type": "object",
        "format": "",
        "description": "Response of the EvaluateProcessorVersion method.",
        "$ref": "",
        "properties": {
          "evaluation": {
            "type": "string",
            "format": "",
            "description": "The resource name of the created evaluation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
        "type": "object",
        "format": "",
        "description": "Evaluation metrics, either in aggregate or about a specific entity.",
        "$ref": "",
        "properties": {
          "f1Score": {
            "type": "number",
            "format": "float",
            "description": "The calculated F1 score.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "falseNegativesCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of false negatives.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "falsePositivesCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of false positives.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "groundTruthDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of documents with a ground truth occurrence.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "groundTruthOccurrencesCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of occurrences in ground truth documents.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "precision": {
            "type": "number",
            "format": "float",
            "description": "The calculated precision.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "predictedDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of documents with a predicted occurrence.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "predictedOccurrencesCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of occurrences in predicted documents.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "recall": {
            "type": "number",
            "format": "float",
            "description": "The calculated recall.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "totalDocumentsCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of documents that had an occurrence of this label.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "truePositivesCount": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of true positives.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3EvaluationReference": {
        "type": "object",
        "format": "",
        "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
        "$ref": "",
        "properties": {
          "aggregateMetrics": {
            "type": "",
            "format": "",
            "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "aggregateMetricsExact": {
            "type": "",
            "format": "",
            "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "evaluation": {
            "type": "string",
            "format": "",
            "description": "The resource name of the evaluation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "operation": {
            "type": "string",
            "format": "",
            "description": "The resource name of the Long Running Operation for the evaluation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata of the batch export documents operation.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "individualExportStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of response details of each document.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "splitExportStats": {
            "type": "array",
            "format": "",
            "description": "The list of statistics for each dataset split type.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus": {
        "type": "object",
        "format": "",
        "description": "The status of each individual document in the export process.",
        "$ref": "",
        "properties": {
          "documentId": {
            "type": "",
            "format": "",
            "description": "The path to source docproto of the document.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "outputGcsDestination": {
            "type": "string",
            "format": "",
            "description": "The output_gcs_destination of the exported document if it was successful, otherwise empty.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of the exporting of the document.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
        "type": "object",
        "format": "",
        "description": "The statistic representing a dataset split type for this export.",
        "$ref": "",
        "properties": {
          "splitType": {
            "type": "string",
            "format": "",
            "description": "The dataset split type.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "DATASET_SPLIT_TYPE_UNSPECIFIED",
              "DATASET_SPLIT_TRAIN",
              "DATASET_SPLIT_TEST",
              "DATASET_SPLIT_UNASSIGNED"
            ],
            "readOnly": false
          },
          "totalDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of documents with the given dataset split type to be exported.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "The response proto of ExportDocuments method.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata message associated with the ExportProcessorVersion operation.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The common metadata about the operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse": {
        "type": "object",
        "format": "",
        "description": "Response message associated with the ExportProcessorVersion operation.",
        "$ref": "",
        "properties": {
          "gcsUri": {
            "type": "string",
            "format": "",
            "description": "The Cloud Storage URI containing the output artifacts.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for how this field value is extracted.",
        "$ref": "",
        "properties": {
          "entityQuery": {
            "type": "",
            "format": "",
            "description": "Entity query config.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "summaryOptions": {
            "type": "",
            "format": "",
            "description": "Summary options config.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery": {
        "type": "object",
        "format": "",
        "description": "Message for entity query.",
        "$ref": "",
        "properties": {
          "userEntityQuery": {
            "type": "string",
            "format": "",
            "description": "The original entity query inputed by the user.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for the field tier of a property.",
        "$ref": "",
        "properties": {
          "tierLevel": {
            "type": "integer",
            "format": "int32",
            "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for human review labeling config.",
        "$ref": "",
        "properties": {
          "enableNormalizationEditing": {
            "type": "boolean",
            "format": "",
            "description": "Whether to enable normalization editing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata for Human Review config.",
        "$ref": "",
        "properties": {
          "confidenceThreshold": {
            "type": "number",
            "format": "float",
            "description": "The confidence threshold if human review validation is enabled.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableValidation": {
            "type": "boolean",
            "format": "",
            "description": "Whether to enable human review validation.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
        "type": "object",
        "format": "",
        "description": "Metadata of the import document operation.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata of the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "importConfigValidationResults": {
            "type": "array",
            "format": "",
            "description": "Validation statuses of the batch documents import config.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "individualImportStatuses": {
            "type": "array",
            "format": "",
            "description": "The list of response details of each document.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "totalDocumentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of the documents that are qualified for importing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
        "type": "object",
        "format": "",
        "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
        "$ref": "",
        "properties": {
          "inputGcsSource": {
            "type": "string",
            "format": "",
            "description": "The source Cloud Storage URI specified in the import config.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The validation status of import config.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus": {
        "type": "object",
        "format": "",
        "description": "The status of each individual document in the import process.",
        "$ref": "",
        "properties": {
          "inputGcsSource": {
            "type": "string",
            "format": "",
            "description": "The source Cloud Storage URI of the document.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "outputDocumentId": {
            "type": "",
            "format": "",
            "description": "The document ID of imported document if it was successful, otherwise empty.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "outputGcsDestination": {
            "type": "string",
            "format": "",
            "description": "The output_gcs_destination of the processed document if it was successful, otherwise empty.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "status": {
            "type": "",
            "format": "",
            "description": "The status of the importing of the document.",
            "$ref": "GoogleRpcStatus",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
        "type": "object",
        "format": "",
        "description": "Response of the import document operation.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
        "type": "object",
        "format": "",
        "description": "The long-running operation metadata for the ImportProcessorVersion method.",
        "$ref": "",
        "properties": {
          "commonMetadata": {
            "type": "",
            "format": "",
            "description": "The basic metadata for the long-running operation.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
        "type": "object",
        "format": "",
        "description": "The response message for the ImportProcessorVersion method.",
        "$ref": "",
        "properties": {
          "processorVersion": {
            "type": "string",
            "format": "",
            "description": "The destination processor version name.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3Processor": {
        "type": "object",
        "format": "",
        "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
        "$ref": "",
        "properties": {
          "activeSchemaVersion": {
            "type": "string",
            "format": "",
            "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the processor was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "defaultProcessorVersion": {
            "type": "string",
            "format": "",
            "description": "The default processor version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The display name of the processor.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "kmsKeyName": {
            "type": "string",
            "format": "",
            "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "processEndpoint": {
            "type": "string",
            "format": "",
            "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "processorVersionAliases": {
            "type": "array",
            "format": "",
            "description": "Output only. The processor version aliases.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "satisfiesPzi": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Reserved for future use.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "satisfiesPzs": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Reserved for future use.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "state": {
            "type": "string",
            "format": "",
            "description": "Output only. The state of the processor.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "STATE_UNSPECIFIED",
              "ENABLED",
              "DISABLED",
              "ENABLING",
              "DISABLING",
              "CREATING",
              "FAILED",
              "DELETING"
            ],
            "readOnly": true
          },
          "type": {
            "type": "string",
            "format": "",
            "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudDocumentaiUiv1beta3ProcessorVersion": {
        "type": "object",
        "format": "",
        "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
        "$ref": "",
        "properties": {
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time the processor version was created.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deploymentAllowed": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Denotes that this `ProcessorVersion` can be deployed and undeployed.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "deprecationInfo": {
            "type": "",
            "format": "",
            "description": "Output only. If set, information about the eventual deprecation of this version.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "The display name of the processor version.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "documentSchema": {
            "type": "",
            "format": "",
            "description": "Output only. The schema of the processor version. Describes the output.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "genAiModelInfo": {
            "type": "",
            "format": "",
            "description": "Output only. Information about Generative AI model-based processor versions.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "googleManaged": {
            "type": "boolean",
            "format": "",
            "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "kmsKeyName": {
            "type": "string",
            "format": "",
            "description": "Output only. The KMS key name used for encryption.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "kmsKeyVersionName": {
            "type": "string",
            "format": "",
            "description": "Output only. The KMS key version with which data is encrypted.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "latestEvaluation": {
            "type": "",
            "format": "",
            "description": "Output only. The most recently invoked evaluation for the processor version.",
            "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "modelType": {
            "type": "string",
            "format": "",
[...]
