{
  "schema_source": "discovery_docs",
  "mode": "resource",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://billingbudgets.googleapis.com",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "google_billingbudgets_v1beta1",
  "version_qualifier": "v1beta1",
  "raw_spec": {
    "name": "billingbudgets",
    "revision": "20260823",
    "discoveryVersion": "v1",
    "baseUrl": "https://billingbudgets.googleapis.com/",
    "rootUrl": "https://billingbudgets.googleapis.com/",
    "servicePath": "",
    "schemas": {
      "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule": {
        "type": "object",
        "format": "",
        "description": "AllUpdatesRule defines notifications that are sent based on budget spend and thresholds.",
        "$ref": "",
        "properties": {
          "disableDefaultIamRecipients": {
            "type": "boolean",
            "format": "",
            "description": "Optional. When set to true, disables default notifications sent when a threshold is exceeded. Default notifications are sent to those with Billing Account Administrator and Billing Account User IAM roles for the target account.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "enableProjectLevelRecipients": {
            "type": "boolean",
            "format": "",
            "description": "Optional. When set to true, and when the budget has a single project configured, notifications will be sent to project level recipients of that project. This field will be ignored if the budget has multiple or no project configured. Currently, project level recipients are the users with `Owner` role on a cloud project.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "monitoringNotificationChannels": {
            "type": "array",
            "format": "",
            "description": "Optional. Targets to send notifications to when a threshold is exceeded. This is in addition to default recipients who have billing account IAM roles. The value is the full REST resource name of a monitoring notification channel with the form `projects/{project_id}/notificationChannels/{channel_id}`. A maximum of 5 channels are allowed. See https://cloud.google.com/billing/docs/how-to/budgets-notification-recipients for more details.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "pubsubTopic": {
            "type": "string",
            "format": "",
            "description": "Optional. The name of the Pub/Sub topic where budget related messages will be published, in the form `projects/{project_id}/topics/{topic_id}`. Updates are sent at regular intervals to the topic. The topic needs to be created before the budget is created; see https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications for more details. Caller is expected to have `pubsub.topics.setIamPolicy` permission on the topic when it's set for a budget, otherwise, the API call will fail with PERMISSION_DENIED. See https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#permissions_required_for_this_task for more details on Pub/Sub roles and permissions.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "schemaVersion": {
            "type": "string",
            "format": "",
            "description": "Optional. Required when AllUpdatesRule.pubsub_topic is set. The schema version of the notification sent to AllUpdatesRule.pubsub_topic. Only \"1.0\" is accepted. It represents the JSON schema as defined in https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification_format.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1Budget": {
        "type": "object",
        "format": "",
        "description": "A budget is a plan that describes what you expect to spend on Cloud projects, plus the rules to execute as spend is tracked against that plan, (for example, send an alert when 90% of the target spend is met). The budget time period is configurable, with options such as month (default), quarter, year, or custom time period.",
        "$ref": "",
        "properties": {
          "allUpdatesRule": {
            "type": "",
            "format": "",
            "description": "Optional. Rules to apply to notifications sent based on budget spend and thresholds.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "amount": {
            "type": "",
            "format": "",
            "description": "Required. Budgeted amount.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1BudgetAmount",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "budgetFilter": {
            "type": "",
            "format": "",
            "description": "Optional. Filters that define which resources are used to compute the actual spend against the budget amount, such as projects, services, and the budget's time period, as well as other filters.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1Filter",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "displayName": {
            "type": "string",
            "format": "",
            "description": "User data for display name in UI. Validation: \u003c= 60 chars.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "etag": {
            "type": "string",
            "format": "",
            "description": "Optional. Etag to validate that the object is unchanged for a read-modify-write operation. An empty etag will cause an update to overwrite other changes.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "name": {
            "type": "string",
            "format": "",
            "description": "Output only. Resource name of the budget. The resource name implies the scope of a budget. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": true
          },
          "ownershipScope": {
            "type": "string",
            "format": "",
            "description": "",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "OWNERSHIP_SCOPE_UNSPECIFIED",
              "ALL_USERS",
              "BILLING_ACCOUNT"
            ],
            "readOnly": false
          },
          "thresholdRules": {
            "type": "array",
            "format": "",
            "description": "Optional. Rules that trigger alerts (notifications of thresholds being crossed) when spend exceeds the specified percentages of the budget. Optional for `pubsubTopic` notifications. Required if using email notifications.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudBillingBudgetsV1beta1ThresholdRule",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1BudgetAmount": {
        "type": "object",
        "format": "",
        "description": "The budgeted amount for each usage period.",
        "$ref": "",
        "properties": {
          "lastPeriodAmount": {
            "type": "",
            "format": "",
            "description": "Use the last period's actual spend as the budget for the present period. LastPeriodAmount can only be set when the budget's time period is a Filter.calendar_period. It cannot be set in combination with Filter.custom_period.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "specifiedAmount": {
            "type": "",
            "format": "",
            "description": "A specified amount to use as the budget. `currency_code` is optional. If specified when creating a budget, it must match the currency of the billing account. If specified when updating a budget, it must match the currency_code of the existing budget. The `currency_code` is provided on output.",
            "$ref": "GoogleTypeMoney",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest": {
        "type": "object",
        "format": "",
        "description": "Request for CreateBudget",
        "$ref": "",
        "properties": {
          "budget": {
            "type": "",
            "format": "",
            "description": "Required. Budget to create.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1Budget",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1CustomPeriod": {
        "type": "object",
        "format": "",
        "description": "All date times begin at 12 AM US and Canadian Pacific Time (UTC-8).",
        "$ref": "",
        "properties": {
          "endDate": {
            "type": "",
            "format": "",
            "description": "Optional. The end date of the time period. Budgets with elapsed end date won't be processed. If unset, specifies to track all usage incurred since the start_date.",
            "$ref": "GoogleTypeDate",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "startDate": {
            "type": "",
            "format": "",
            "description": "Required. The start date must be after January 1, 2017.",
            "$ref": "GoogleTypeDate",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1Filter": {
        "type": "object",
        "format": "",
        "description": "A filter for a budget, limiting the scope of the cost to calculate.",
        "$ref": "",
        "properties": {
          "calendarPeriod": {
            "type": "string",
            "format": "",
            "description": "Optional. Specifies to track usage for recurring calendar period. For example, assume that CalendarPeriod.QUARTER is set. The budget will track usage from April 1 to June 30, when the current calendar month is April, May, June. After that, it will track usage from July 1 to September 30 when the current calendar month is July, August, September, so on.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CALENDAR_PERIOD_UNSPECIFIED",
              "MONTH",
              "QUARTER",
              "YEAR"
            ],
            "readOnly": false
          },
          "creditTypes": {
            "type": "array",
            "format": "",
            "description": "Optional. If Filter.credit_types_treatment is INCLUDE_SPECIFIED_CREDITS, this is a list of credit types to be subtracted from gross cost to determine the spend for threshold calculations. See [a list of acceptable credit type values](https://cloud.google.com/billing/docs/how-to/export-data-bigquery-tables#credits-type). If Filter.credit_types_treatment is **not** INCLUDE_SPECIFIED_CREDITS, this field must be empty.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "creditTypesTreatment": {
            "type": "string",
            "format": "",
            "description": "Optional. If not set, default behavior is `INCLUDE_ALL_CREDITS`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "CREDIT_TYPES_TREATMENT_UNSPECIFIED",
              "INCLUDE_ALL_CREDITS",
              "EXCLUDE_ALL_CREDITS",
              "INCLUDE_SPECIFIED_CREDITS"
            ],
            "readOnly": false
          },
          "customPeriod": {
            "type": "",
            "format": "",
            "description": "Optional. Specifies to track usage from any start date (required) to any end date (optional). This time period is static, it does not recur.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1CustomPeriod",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "labels": {
            "type": "object",
            "format": "",
            "description": "Optional. A single label and value pair specifying that usage from only this set of labeled resources should be included in the budget. If omitted, the report will include all labeled and unlabeled usage. An object containing a single `\"key\": value` pair. Example: `{ \"name\": \"wrench\" }`. _Currently, multiple entries or multiple values per entry are not allowed._",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": {
              "type": "array",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": {
                "type": "any",
                "format": "",
                "description": "",
                "$ref": "",
                "properties": null,
                "items": null,
                "additionalProperties": null,
                "enum": null,
                "readOnly": false
              },
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "enum": null,
            "readOnly": false
          },
          "projects": {
            "type": "array",
            "format": "",
            "description": "Optional. A set of projects of the form `projects/{project}`, specifying that usage from only this set of projects should be included in the budget. If omitted, the report will include all usage for the billing account, regardless of which project the usage occurred on.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "resourceAncestors": {
            "type": "array",
            "format": "",
            "description": "Optional. A set of folder and organization names of the form `folders/{folderId}` or `organizations/{organizationId}`, specifying that usage from only this set of folders and organizations should be included in the budget. If omitted, the budget includes all usage that the billing account pays for. If the folder or organization contains projects that are paid for by a different Cloud Billing account, the budget *doesn't* apply to those projects.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "services": {
            "type": "array",
            "format": "",
            "description": "Optional. A set of services of the form `services/{service_id}`, specifying that usage from only this set of services should be included in the budget. If omitted, the report will include usage for all the services. The service names are available through the Catalog API: https://cloud.google.com/billing/v1/how-tos/catalog-api.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "subaccounts": {
            "type": "array",
            "format": "",
            "description": "Optional. A set of subaccounts of the form `billingAccounts/{account_id}`, specifying that usage from only this set of subaccounts should be included in the budget. If a subaccount is set to the name of the parent account, usage from the parent account will be included. If omitted, the report will include usage from the parent account and all subaccounts, if they exist.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "string",
              "format": "",
              "description": "",
              "$ref": "",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount": {
        "type": "object",
        "format": "",
        "description": "Describes a budget amount targeted to the last Filter.calendar_period spend. At this time, the amount is automatically 100% of the last calendar period's spend; that is, there are no other options yet. Future configuration options will be described here (for example, configuring a percentage of last period's spend). LastPeriodAmount cannot be set for a budget configured with a Filter.custom_period.",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse": {
        "type": "object",
        "format": "",
        "description": "Response for ListBudgets",
        "$ref": "",
        "properties": {
          "budgets": {
            "type": "array",
            "format": "",
            "description": "List of the budgets owned by the requested billing account.",
            "$ref": "",
            "properties": null,
            "items": {
              "type": "",
              "format": "",
              "description": "",
              "$ref": "GoogleCloudBillingBudgetsV1beta1Budget",
              "properties": null,
              "items": null,
              "additionalProperties": null,
              "enum": null,
              "readOnly": false
            },
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nextPageToken": {
            "type": "string",
            "format": "",
            "description": "If not empty, indicates that there may be more budgets that match the request; this value should be passed in a new `ListBudgetsRequest`.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1ThresholdRule": {
        "type": "object",
        "format": "",
        "description": "ThresholdRule contains the definition of a threshold. Threshold rules define the triggering events used to generate a budget notification email. When a threshold is crossed (spend exceeds the specified percentages of the budget), budget alert emails are sent to the email recipients you specify in the [NotificationsRule](#notificationsrule). Threshold rules also affect the fields included in the [JSON data object](https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification_format) sent to a Pub/Sub topic. Threshold rules are _required_ if using email notifications. Threshold rules are _optional_ if only setting a [`pubsubTopic` NotificationsRule](#NotificationsRule), unless you want your JSON data object to include data about the thresholds you set. For more information, see [set budget threshold rules and actions](https://cloud.google.com/billing/docs/how-to/budgets#budget-actions).",
        "$ref": "",
        "properties": {
          "spendBasis": {
            "type": "string",
            "format": "",
            "description": "Optional. The type of basis used to determine if spend has passed the threshold. Behavior defaults to CURRENT_SPEND if not set.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": [
              "BASIS_UNSPECIFIED",
              "CURRENT_SPEND",
              "FORECASTED_SPEND"
            ],
            "readOnly": false
          },
          "thresholdPercent": {
            "type": "number",
            "format": "double",
            "description": "Required. Send an alert when this threshold is exceeded. This is a 1.0-based percentage, so 0.5 = 50%. Validation: non-negative number.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest": {
        "type": "object",
        "format": "",
        "description": "Request for UpdateBudget",
        "$ref": "",
        "properties": {
          "budget": {
            "type": "",
            "format": "",
            "description": "Required. The updated budget object. The budget to update is specified by the budget name in the budget.",
            "$ref": "GoogleCloudBillingBudgetsV1beta1Budget",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "updateMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Optional. Indicates which fields in the provided budget to update. Read-only fields (such as `name`) cannot be changed. If this is not provided, then only fields with non-default values from the request are updated. See https://developers.google.com/protocol-buffers/docs/proto3#default for more details about default values.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleProtobufEmpty": {
        "type": "object",
        "format": "",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "$ref": "",
        "properties": {},
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleTypeDate": {
        "type": "object",
        "format": "",
        "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
        "$ref": "",
        "properties": {
          "day": {
            "type": "integer",
            "format": "int32",
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "month": {
            "type": "integer",
            "format": "int32",
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      },
      "GoogleTypeMoney": {
        "type": "object",
        "format": "",
        "description": "Represents an amount of money with its currency type.",
        "$ref": "",
        "properties": {
          "currencyCode": {
            "type": "string",
            "format": "",
            "description": "The three-letter currency code defined in ISO 4217.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "nanos": {
            "type": "integer",
            "format": "int32",
            "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          },
          "units": {
            "type": "string",
            "format": "int64",
            "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
            "$ref": "",
            "properties": null,
            "items": null,
            "additionalProperties": null,
            "enum": null,
            "readOnly": false
          }
        },
        "items": null,
        "additionalProperties": null,
        "enum": null,
        "readOnly": false
      }
    },
    "resources": {
      "billingAccounts": {
        "methods": null,
        "resources": {
          "budgets": {
            "methods": {
              "create": {
                "id": "billingbudgets.billingAccounts.budgets.create",
                "httpMethod": "POST",
                "path": "v1beta1/{+parent}/budgets",
                "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets",
                "description": "Creates a new budget. See [Quotas and limits](https://cloud.google.com/billing/quotas) for more information on the limits of the number of budgets you can create.",
                "parameters": {
                  "parent": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "parent"
                ],
                "request": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest"
                },
                "response": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                }
              },
              "delete": {
                "id": "billingbudgets.billingAccounts.budgets.delete",
                "httpMethod": "DELETE",
                "path": "v1beta1/{+name}",
                "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                "description": "Deletes a budget. Returns successfully if already deleted.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "GoogleProtobufEmpty"
                }
              },
              "get": {
                "id": "billingbudgets.billingAccounts.budgets.get",
                "httpMethod": "GET",
                "path": "v1beta1/{+name}",
                "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                "description": "Returns a budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": null,
                "response": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                }
              },
              "list": {
                "id": "billingbudgets.billingAccounts.budgets.list",
                "httpMethod": "GET",
                "path": "v1beta1/{+parent}/budgets",
                "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets",
                "description": "Returns a list of budgets for a billing account. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console.",
                "parameters": {
                  "pageSize": {
                    "type": "integer",
                    "location": "query",
                    "required": false
                  },
                  "pageToken": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  },
                  "parent": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  },
                  "scope": {
                    "type": "string",
                    "location": "query",
                    "required": false
                  }
                },
                "parameterOrder": [
                  "parent"
                ],
                "request": null,
                "response": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse"
                }
              },
              "patch": {
                "id": "billingbudgets.billingAccounts.budgets.patch",
                "httpMethod": "PATCH",
                "path": "v1beta1/{+name}",
                "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                "description": "Updates a budget and returns the updated budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. Budget fields that are not exposed in this API will not be changed by this method.",
                "parameters": {
                  "name": {
                    "type": "string",
                    "location": "path",
                    "required": true
                  }
                },
                "parameterOrder": [
                  "name"
                ],
                "request": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest"
                },
                "response": {
                  "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                }
              }
            },
            "resources": null
          }
        }
      }
    }
  },
  "schema_url": "https://billingbudgets.googleapis.com/$discovery/rest?version=v1beta1"
}
